<tr>
  <td>
    <%= gift_certificate.formatted_code %>
  </td>
  <td>
    <%= gift_certificate.credit_quantity %>
  </td>
  <td>
    <%= l(gift_certificate.expires_at) if gift_certificate.expires_at %>
  </td>
  <td>
    <%= h gift_certificate.comments %>
  </td>
  <td>
    <%= link_to("Redeem",
                redeem_gift_certificate_path(gift_certificate),
                html_options = {:method => :post} ) %> |
    <%= link_to("Give",
                pregive_gift_certificate_path(gift_certificate) ) %>
  </td>
</tr>