<% title "Gift Certificates" -%>

<h3>Gift Certificates</h3>
<p><%= link_to "Grant", new_grant_gift_certificate_path %></p>
<div class="span-12 last search-box-container">
  <% form_for(@search, :html => { :class => "search-box clearfix" }) do |f| %>
    <div class="span-7 right">
      <%= f.label :user_login_like, "Username" %>
      <%= f.text_field :user_login_like, :style => "width:400px;" %>
    </div>
    <div class="span-5 last left" style="padding:5px 0 0 0;">
      <b>Order by:</b>
      <%= order @search, :by => :user_login, :as => "Username" %>&nbsp;
      <%= order @search, :by => :id, :as => "Created At" %>
      <%= f.submit "Search" %>
    </div>
  <% end %>
</div>
<table>
  <tr>
    <th>Code</th>
    <th>Belongs To</th>
    <th>Credits</th>
    <th>Price Paid</th>
    <th>Redeemed At</th>
    <th>Expires At</th>
    <th>Comments</th>
  </tr>
  <%= render :partial => 'gift_certificate_admin', :collection => @gift_certificates %>
</table>

<%= will_paginate @gift_certificates %>

<p>Rows to Display Per Page: <%= per_page_select(list_admin_gift_certificates_path) %></p>
