<% title "Redeem a Gift Certificate" -%>
<%= javascript 'v2/validation/gift_certificates.validate.js' %>

<div class="fh-form">
  <% form_for(:gift_certificate, :url => gift_certificates_path, :html => { :id => "gift_certificate" }) do |f| %>
      <%= f.error_messages %>
      <ul id="gift-certificate-info" class="section">
        <li class="header">
          <span></span>

          <h3>Redeem a Gift Certificate</h3>
          <h4>
            You can redeem gift certificates for download creates. If someone sent you a gift certificate
            code, you can enter it below.
            <% if current_user.gift_certificates.active.present? %>
                Alternatively, you may find it easier to
                redeem them from your <%= link_to "My Firehoze", account_history_my_firehoze_path %> page.
            <% end %>
          </h4>
        </li>
        <li>
        <span>
          <%= f.label :code, "Gift Certificate Code" %>
          <%= f.text_field :code, :title => "You must enter a gift certificate code", :class => "required" %>
          <span class="required-field" />
        </span>
        </li>
        <li class="bottom">
        <span class="unlabelled">
          <%= submit_tag "Redeem" %>
        </span>

          <div class="clear" />

        </li>
      </ul>
  <% end %>
</div>