<h2>Give Gift Certificate '<%= @gift_certificate.code %>' to Another User</h2>

<% form_for(:gift_certificate, :url => give_gift_certificate_path) do |f| %>
    <%= f.error_messages %>

    Recipient Username:
    <%= text_field_tag :to_user %>
    <br/>
    Comments:
    <%= text_field_tag :comments %>
    <br/>
    <%= f.submit "Give It" %>
<% end %>