<% title "The #{h(@quiz.group.name.titleize)} Group &raquo; #{@quiz.name}" -%>
<% @current = 'groups' %>

<div id="quiz-comments-container">
  <div id="actions">
    <% if @quiz.group.owned_by? current_user || @quiz.group.moderated_by?(current_user) %>
        <%= link_to content_tag(:span, "Add a Comment"), new_topic_topic_comment_path(@quiz), :class => :minibutton %>
        <%= link_to content_tag(:span, "Edit"), edit_quiz_path(@quiz), :class => :minibutton %>
    <% end %>
  </div>
  <br />


  <h3><%= h(@quiz.name.titleize) %></h3>
  <% if @quiz.group.owned_by? current_user || @quiz.group.moderated_by?(current_user) %>
      <% if @quiz.disabled_at %>
          <p>Disabled At: <%= l(@quiz.disabled_at) %></p>
      <% end %>
      <% unless @quiz.published %>
          <p>Not published</p>
      <% end %>
  <% end %>

  <div class="rounded-bluebox">
    <div class="append-bottom">
      <div class="rounded-shadowbox clearfix">
        <div class="span">
          <%= rbs_formatter @quiz.description %>
        </div>
      </div>
    </div>

    <%= render :partial => "show_question", :collection => @quiz.questions, :as => :question %>

    <div>&laquo; <%= link_to "Back to Group", group_path(@quiz.group, :anchor => :quiz) %></div>
  </div>
</div>