<h1>Edit My Account</h1>

<% form_for(:user, :url => profile_path(@user), :html => { :method => :put }) do |f| %>
    <%= f.error_messages %>

    Username:
    <%= @user.login %><br />
    <br/>
    <%= f.label :email %>:
    <%= f.text_field :email %><br />
    <br/>
    <%= f.label :first_name %>:
    <%= f.text_field :first_name %><br />
    <br/>
    <%= f.label :last_name %>:
    <%= f.text_field :last_name %><br />
    <br/>
    <%= f.label :bio %>:
    <%= f.text_area :bio %><br />
    <br/>
    <%= f.label :time_zone %>:
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %><br/>
    <br/>
    <%= f.label :language %>:
    <%= f.select :language, User.supported_languages %><br/>
    <br/>

    <%= f.submit "Update" %>
    <%= link_to "Cancel", profile_path(@user) %>
<% end %>