<h1>Edit Password</h1>

<% form_for(:user, :url => update_password_profile_path(@user), :html => { :method => :put }) do |f| %>
    <%= f.error_messages %>

    <%= f.label :current_password, "Current password" %>:
    <%= f.password_field :current_password %><br />
    
    <%= f.label :password, "New password" %>:
    <%= f.password_field :password %><br />
    <br/>
    <%= f.label :password_confirmation %>:
    <%= f.password_field :password_confirmation %><br />

    <%= f.submit "Update" %>
    <%= link_to "Cancel", profile_path(@user) %>
<% end %>