<p>
  <b>Username:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>First Name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Last Name:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Time Zone:</b>
  <%=h @user.time_zone %>
</p>
<p>
  <b>Language:</b>
  <%= select_tag :language,  options_for_select(User.supported_languages, @user.language), :disabled => true %>
</p>

<%= link_to 'Edit', edit_profile_path(@user) %> |
<%= link_to 'Change Password', edit_password_path(@user) %>