<% title "Change My Password" -%>

<%= stylesheet 'validation' %>
<%= javascript 'validate/jquery.validate', 'v2/validation/reset_password.validate' %>

<div class="fh-form">
  <% form_for @user, :url => password_reset_url(:protocol => SECURE_PROTOCOL), :method => :put do |f| %>
      <%= f.error_messages %>
      <ul id="password-info" class="section">
        <li class="header">
          <span></span>

          <h3>Change My Password</h3>
          <h4>Please select your new password.</h4>
          <div class="key"><%= image_tag("forms/asterisk.png", :alt => :required) %>: required</div>
        </li>
        <li>
        <span>
      <%= f.label :password %>
      <%= f.password_field :password, :title => "You must provide a new password", :class => "required" %>
          <span class="required-field"></span>
        </span>
        </li>
        <li>
        <span>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :title => "You must confirm your password", :class => "required" %>
          <span class="required-field"></span>
        </span>
        </li>
        <li class="bottom">
        <span class="unlabelled">
        <%= submit_tag "Update my password and log me in" %>
        </span>

          <div class="clear"/>

        </li>
      </ul>
  <% end %>
</div>