<% title "Forgot Password" -%>

<%= stylesheet 'validation' %>
<%= javascript 'v2/jquery.validate.min', 'v2/validation/reset_password.validate' %>

<div class="fh-form">
  <% form_tag password_resets_path,  :id => "inline", :class => "password_reset" do %>
      <ul id="password-reset-info" class="section">
        <li class="header">
          <span></span>

          <h3>Forgot Password</h3>
          <h4>Fill out the form below and instructions to reset your password will be emailed to you.</h4>
          <div class="key"><%= image_tag("forms/asterisk.png", :alt => :required) %>: required</div>
        </li>
        <li>
        <span>
          <%= label_tag :email %>
          <%= text_field_tag :email, "", :title => "You must provide a valid email address", :class => "required email" %>
          <span class="required-field"></span>
        </span>
        </li>
        <li class="bottom">
        <span class="unlabelled">
        <%= submit_tag "Reset my password" %>
          <%= link_to "Cancel", login_path %>
        </span>

          <div class="clear"/>

        </li>
      </ul>
  <% end %>
</div>