<%= show_cart? %>
<ul id="top-navigation">
  <% # RECOGNIZED USER %>
  <% if current_user %>
    <li class="first with-subnav with-avatar">
      <a href="#"><%= avatar_tag(current_user, :size => :tiny) %> me</a>
      <ul class="subnav">
        <li><a href="#">My Firehoze</a></li>
        <li><a href="#">My Public Page</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><%= signout_link("Sign Out") %></li>
      </ul>
    </li>
    <li><%= link_to h(t('lesson.create_lesson')), new_lesson_path %></li>
    <li class="with-subnav">
      <a href="#">Credits</a>
      <ul class="subnav">
        <li><%= link_to "Buy Credits", store_path(0) %></li>
        <%= content_tag(:li, link_to("Gift Certificates (#{current_user.gift_certificates.active.count})", gift_certificates_path))  unless current_user.gift_certificates.active.empty? %>
        <%= content_tag(:li, link_to('Shopping Cart', cart_path(@current_cart))) if show_cart? %>
      </ul>
    </li>
    <% # UN-RECOGNIZED USER %>
  <% else %>
    <li class="first "><%= link_to "Sign Up", new_registration_path %></li>
    <li><%= link_to "Sign In", login_path %></li>
  <% end %>
  <% # VISIBLE TO ALL %>
  <li class="with-subnav">
    <a href="#">Help</a>
    <ul class="subnav">
      <li><a href="#">Firehoze Basics</a></li>
      <li><a href="#">Help Center</a></li>
      <li><a href="#">Community Guidelines</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Get Satisfaction</a></li>
    </ul>
  </li>
  <li class="last">
    <div id="searchwrapper">
      <% form_tag search_lessons_path, :method => :get do %>
        <%= text_field_tag :search_lesson_criteria, params[:search_lesson_criteria], :class => 'searchbox' %>
        <%= image_submit_tag('top_navigation/searchbox_button.png', :class => 'searchbox_submit') %>
      <% end %>
    </div>
  </li>
</ul><!-- end top-navigation -->
<div style="display:none"><%= link_to "Advanced Search", advanced_search_lessons_path %></div>
<!-- holding off exposing this here for now -->