<%= render :partial => "categories/v2/breadcrumbs", :object => @category, :locals => { :mode => "groups" } %>

<div class="span-4">
  <div class="widget-box">
    <div class="widget-box-header">
      <span class="h4">Firehoze Groups</span>
    </div>
    <div class="tree-view">
      <%= render :partial => "categories/v2/tree_view", :locals => { :category => @category, :mode => "groups" } %>
    </div>
    <div class="widget-box-footer treeview"></div>
  </div>
</div>

<div id="category-show" class="span-8 last">
  <% if @groups.present? %>
    <%= will_paginate @groups %>
    <table>
      <tr>
        <th colspan="2">Group</th>
        <th>Category</th>
      </tr>
      <%= render :partial => 'categories/group', :collection => @groups, :locals => { :show_member => true } %>
    </table>
    <%= link_to "Create a New Group", new_group_path %>
  <% else %>
    Looks like no one has created a group for this category yet. Why not be the first to
    <%= link_to "create a group", new_group_path %>?
  <% end %>
  <!-- end tab-container -->
</div>
