<% show_member ||= false %>
<% member = group.includes_member?(current_user) %>

<ul class="groups">
  <li class='clearfix'>
    <div><%= logo_tag group, :size => :small %></div>
    <div class="details">
      <strong><%= link_to(h(group.name), group_path(group)) %></strong>
      <%= "<i>(" + t("group_member.#{member.member_type.downcase}") + ")</i>" if member and (show_member  or member.member_type == OWNER or member.member_type == MODERATOR) %>
      <div class="group-description"><%= h group.category.name %>: <%= h group.description %></div>
    </div>
  </li>
</ul>
