<% commenter = comment.user %>

<div class="comment clearfix">
  <div class="commenter-container">
    <%= link_to avatar_tag(commenter, :size => :small), user_path(commenter) %>
    <div><%= link_to_profile(commenter, :length => 15) %></div>
    <div>Member Since:<br /><%= l(commenter.created_at.to_date) %></div>
  </div>

  <div class="comment-container clearfix">
    <div class="header">
      <%= l(comment.created_at) %>
    </div>

    <div class="count">
      <%= comment.row_num %>
    </div>

    <div class="body">
      <% if comment.can_edit? current_user and !comment.public %>
        <div class="private">Private Comment</div>
      <% end %>

      <div>
        <%= rbs_formatter comment.body %>
      </div>
    </div>

    <% if current_user %>
      <div class="actions">
        <%= render :partial => 'comments/actions', :object => comment %>
      </div>
    <% end %>
  </div>
</div>

<div class="spacer"></div>
