<div class="sub-navigation">
  <ul class="buttons">
    <li><a href="#" class="button">Lessons<span class="top_left"></span><span class="bottom_left"></span></a></li>
    <li><a href="#reviews" class="button">Reviews</a></li>
    <li><a href="#groups" class="button">Groups</a></li>
    <li class="last">
      <a href="#followed_instructors" class="button">Followed
        Instructors<span class="top_right"></span><span class="bottom_right"></span></a>
    </li>
  </ul>
  <div class="clear"></div>
</div>

<div class="sub-navigation-panes">
  <% # LESSONS -%>
  <div>
    <div class="secondary-sub-navigation">
      <ul class="links">
        <li><a href="#">Owned</a></li>
        <li><a href="#"><%= h(t('lesson.wishlist')) %></a></li>
        <li><a href="#">Recently Browsed</a></li>
      </ul>
      <div class="clear"></div>

      <div class="secondary-sub-navigation-panes">
        <div class="compact_container" id="lessons">
          <%= render :partial => "lessons/ajaxed_lessons", :locals => { :lesson_format => :compact } %>
          <div class="clear"></div>
        </div>
        <div class="compact_container">
          <%= render :partial => "lessons/wishlist", :locals => { :lesson_format => :compact } %>
          <div class="clear"></div>
        </div>
        <div class="compact_container">
          <%= render :partial => "lessons/recently_browsed", :locals => { :lesson_format => :compact } %>
          <div class="clear"></div>
        </div>
      </div>
      <!-- end (interior) panes -->
    </div>
    <!-- end lessons_nested -->
  </div>
  <!-- end lessons pane -->

  <% # REVIEWS -%>
  <div>
    <%= render :partial => 'reviews', :locals => { :user => user } %>
  </div>
  <!-- end reviews pane -->

  <% # GROUPS -%>
  <div>
    <%= render :partial => 'groups/groups', :locals => { :user => user } %>
  </div>
  <!-- end groups pane -->

  <% # FOLLOWED INSTRUCTORS -%>
  <div>
    <%= render :partial => 'followed_instructors', :locals => { :user => user } %>
  </div>
  <!-- end followed instructor pane -->
</div>
