<ul class="top-level-navigation">
  <li class="current"><%= link_to 'Latest News', my_firehoze_index_path %></li>
  <li><%= link_to 'My Stuff', my_stuff_my_firehoze_path %></li>
  <% if current_user.verified_instructor? %>
    <li><%= link_to 'Instructor Dashboard', instructor_my_firehoze_path %></li>
  <% end %>
  <li><%= link_to 'Account History', account_history_my_firehoze_path %></li>
</ul>


<div class="top-level-navigation-box-outer">
  <div class="top-level-navigation-box-inner">
<%#= avatar_tag @user, :size => :smaller %>
    <span class="h3"><%= current_user.full_name %>'s firehoze</span>
    <%= render :partial => 'balance', :locals => { :user => current_user} %>
  </div>
</div>
