<% title "my firehoze" -%>
<% @current = 'my_firehoze' %>
<% @secondary_nav_current = params[:action] %>

<div id="my_firehoze" class="span-12 last">
  <% # TOP LEVEL NAVIGATION -%>
  <div class="span-12 append-bottom">
    <%= render :partial => 'profile_and_nav', :locals => { :user => current_user } %>
  </div>

  <% # ACCOUNT HISTORY -%>
  <div id="account_history" class="span-12 last">
    <!-- the tabs -->
    <ul class="tabs">
      <li><a href="#">Orders</a></li>
      <li><a href="#">Credits</a></li>
    </ul>

    <!-- tab "panes" -->
    <div class="panes">
      <% # ORDER HISTORY -%>
      <div>
        <%= render :partial => "orders/v2/orders", :locals => { :orders => @orders, :pane => :orders } %>
      </div>

      <% # CREDIT HISTORY -%>
      <div>
        <div class="secondary-sub-navigation">
          <ul class="links">
            <li><a href="#">Available</a></li>
            <li><a href="#">Used</a></li>
            <li><a href="#">Expired</a></li>
          </ul>
          <div class="clear"></div>

          <div class="secondary-panes">
            <div>
              <p>Available credits are available to use to purchase videos.</p>
              <%= render :partial => "credits/credits", :locals => { :user => current_user, :credits => @available_credits, :show_redeemed => false, :show_expired => false, :pane => :available } %>
              <div class="clear"></div>
            </div>
            <div>
              <p>Used credits are credits that you have used to purchase videos.</p>
              <%= render :partial => "credits/credits", :locals => { :user => current_user, :credits => @used_credits, :show_redeemed => true, :show_expired => false, :pane => :used } %>
              <div class="clear"></div>
            </div>
            <div>
              <p>Credits expire if they are unused and you have not logged in for one year.</p>
              <%= render :partial => "credits/credits", :locals => { :user => current_user, :credits => @expired_credits, :show_redeemed => false, :show_expired => true, :pane => :expired } %>
              <div class="clear"></div>
            </div>
          </div><!-- end (interior) panes -->
        </div>
      </div>
    </div>
  </div>
</div>
