<% title "my firehoze" -%>
<% @current = 'my_firehoze' %>
<% @secondary_nav_current = 'latest_news' %>

<div class="span-12 last">
  <% # TOP LEVEL NAVIGATION -%>
  <div class="span-12 append-bottom">
  
      <div id="profile-box">
        <%= avatar_tag @user, :size => :smaller %>
        <div id="content">
        <h3><%= current_user.full_name %>'s firehoze</h3>
        <%= render :partial => 'nav' %>
        <%= render :partial => 'balance', :locals => { :user => current_user} %>
        </div>
      </div>
    
  </div>
  <% # LATEST NEWS -%>
  <div class="span-12">
    <div class="span-8">

      <div class="widget-box">
        <div class="widget-box-header">
          <span class="h4">Recent Activity</span>
          <%= image_tag("general/spinners/ajax-loader_small_spinner.gif", :class => "loader") %>
        </div>
        <%= render :partial => 'activities/activities', :object => @activities %>
      </div>

    </div>
    <div class="span-4 last">
      <%= render :partial => 'tweets' %>
    </div>
  </div>
</div>
