<% title "my firehoze" -%>
<% @current = 'my_firehoze' %>

<div id="my_firehoze" class="span-12 last">
  <% # TOP LEVEL NAVIGATION -%>
  <%= render :partial => 'nav' %>

  <% # INSTRUCTOR STUFF -%>
  <% if current_user.verified_instructor? %>
    <div class="span-12 last">
      <h4 class="banner">Instructor Stuff</h4>
    </div>
    <div id="instructor_stuff" class="span-12 last">
      <div class="sub-navigation">
        <ul class="buttons">
          <li><a href="#" class="button">Lessons I Taught<span class="top_left"></span><span class="bottom_left"></span></a>
          </li>
          <li><a href="#students" class="button">Students</a></li>
          <li class="last">
            <a href="#" class="button">Payments<span class="top_right"></span><span class="bottom_right"></span></a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>

      <div class="sub-navigation-panes">
        <% # LESSONS I TAUGHT -%>
        <div>
          <div class="secondary-sub-navigation">
            <ul class="links">
              <li><a href="#">Tabbed View</a></li>
              <li><a href="#">Table View</a></li>
            </ul>
            <div class="clear"></div>

            <div class="secondary-sub-navigation-panes">
              <div>
                <%= render :partial => "lessons/v2/ajaxed_lessons", :locals => { :lessons => @instructed_lessons, :pane => :instructed_lessons } %>
                <div class="clear"></div>
              </div>

              <div>
                <%= render :partial => "instructed_lessons", :locals => { :user => current_user } %>
                <div class="clear"></div>
              </div>
            </div>
            <!-- end (interior) panes -->
          </div>
        </div>
        <!-- end lessons I taught pane -->

        <% # STUDENTS -%>
        <div>
          <div class="secondary-sub-navigation">
            <ul class="links">
              <li><a href="#">My Students</a></li>
              <li><a href="#">Followers</a></li>
            </ul>
            <div class="clear"></div>

            <div class="secondary-sub-navigation-panes">
              <div class="compact_container">
                <%= render :partial => "students", :locals => { :user => current_user } %>
                <div class="clear"></div>
              </div>
              <div>
                <%= render :partial => 'followers', :locals => { :user => current_user } %>
              </div>
            </div>
            <!-- end (interior) panes -->
          </div>
        </div>
        <!-- end students pane -->

        <% # PAYMENT HISTORY -%>
        <div><%= render :partial => "accounts/forms/payment_history", :locals => { :user => current_user } %></div>
        <!-- end payments pane -->
      </div>
    </div>

  <% end %>

</div>