<% title "my firehoze" -%>
<% @current = 'my_firehoze' %>
<% @secondary_nav_current = params[:action] %>

<div id="my_firehoze" class="span-12 last">
  <% # TOP LEVEL NAVIGATION -%>
  <div class="span-12 append-bottom">
    <%= render :partial => 'profile_and_nav', :locals => { :user => current_user } %>
  </div>

  <% # MY STUFF -%>
  <div class="span-12 last">
    <h4 class="banner">My Stuff</h4>
  </div>

  <div id="my_stuff" class="span-12">
    <div class="sub-navigation">
      <ul class="buttons">
        <li><a href="#" class="button">Lessons<span class="top_left"></span><span class="bottom_left"></span></a></li>
        <li><a href="#reviews" class="button">Reviews</a></li>
        <li><a href="#groups" class="button">Groups</a></li>
        <li class="last">
          <a href="#followed_instructors" class="button">Followed Instructors<span class="top_right"></span><span class="bottom_right"></span></a>
        </li>
      </ul>
      <div class="clear"></div>
    </div>

    <div class="sub-navigation-panes">
      <% # LESSONS -%>
      <div>
        <div class="secondary-sub-navigation">
          <ul class="links">
            <li><a href="#">Owned</a></li>
            <li><a href="#"><%= h(t('lesson.wishlist')) %></a></li>
            <li><a href="#">Recently Browsed</a></li>
          </ul>
          <div class="clear"><%= image_tag("general/spinners/ajax-loader_small_arrows.gif", :class => "loader") %></div>

          <div class="secondary-sub-navigation-panes">
            <div>
              <%= render :partial => "lessons/v2/ajaxed_lessons", :locals => { :lessons => @owned, :pane => :owned } %>
              <div class="clear"></div>
            </div>
            <div>
              <%= render :partial => "lessons/v2/ajaxed_lessons", :locals => { :lessons => @wishlist, :pane => :wishlist } %>
              <div class="clear"></div>
            </div>
            <div>
              <%= render :partial => "lessons/v2/ajaxed_lessons", :locals => { :lessons => @latest_browsed, :pane => :latest_browsed } %>
              <div class="clear"></div>
            </div>
          </div><!-- end (interior) panes -->
        </div><!-- end lessons_nested -->
      </div><!-- end lessons pane -->

      <% # REVIEWS -%>
      <div>
        <%= image_tag("general/spinners/ajax-loader_small_arrows.gif", :class => "loader") %>
        <%= render :partial => 'reviews/v2/ajaxed_reviews', :locals => { :reviews => @reviews, :pane => :reviews } %>
      </div>
      <!-- end reviews pane -->

      <% # GROUPS -%>
      <div>
        <%= image_tag("general/spinners/ajax-loader_small_arrows.gif", :class => "loader") %>
        <%= render :partial => 'groups/v2/ajaxed_groups', :locals => { :groups => @groups, :pane => :groups } %>
      </div><!-- end groups pane -->

      <% # FOLLOWED INSTRUCTORS -%>
      <div>
        <%= render :partial => 'followed_instructors', :locals => { :followed_instructors => @followed_instructors } %>
      </div><!-- end followed instructor pane -->
    </div>
  </div>
</div>
