<% title "my firehoze" -%>
<% @current = 'my_firehoze' %>
<%= stylesheet 'v2/my_firehoze'  %>
<%= javascript 'pagination'  %>

<div id="my_firehoze" class="span-12 last">


  <% # TOP LEVEL NAVIGATION -%>
  <div class="box">
    <h4 class="banner"><%= current_user.full_name %>'s firehoze</h4>
    <div class="top-level-navigation">
      <ul>
        <li><%= link_to 'Latest News', my_firehoze_path('latest_news') %></li>
        <li><%= link_to 'My Stuff', my_firehoze_path('my_stuff') %></li>
        <% if current_user.verified_instructor? %>
          <li><%= link_to 'Instructor Dashboard', my_firehoze_path('instructor_stuff') %></li>
        <% end %>
        <li><%= link_to 'Account History', my_firehoze_path('account_history') %></li>
      </ul>
    </div>
  </div>


  <% if @mode.nil? or @mode == "latest_news" %>
    <% # LATEST NEWS -%>
    <div class="span-12 last">
      <div class="span-8">
        <h4>Recent Activity</h4>
        <div id="activities" class="box">
          <%= render :partial => 'activities/activities', :object => @activities %>
        </div>
      </div>
      <div class="span-4 last">
        <%= render :partial => 'tweets' %>
      </div>
    </div>

  <% elsif @mode == "my_stuff" %>
    <% # MY STUFF -%>
    <div class="span-12 last">
      <h4 class="banner">My Stuff</h4>
    </div>

    <div id="my_stuff" class="span-12">
      <%= render :partial => 'my_stuff', :locals => { :user => current_user } %>
    </div>

  <% elsif @mode == "instructor_stuff" %>

    <% # INSTRUCTOR STUFF -%>
    <% if current_user.verified_instructor? %>
      <%= link_to "Instructed", ajaxed_lessons_path(:collection => :instructed, :per_page => 2) %>  |
      <%= link_to "Followed Instructors", ajaxed_instructor_follows_path(:collection => :students, :per_page => 2) %>  |
      <%= link_to "Payments", ajaxed_payments_path(:collection => :by_instructor, :per_page => 2) %>
      <%= render :partial => 'instructor_stuff', :locals => { :user => current_user } %>
    <% end %>

  <% elsif @mode == "account_history" %>

    <% # ACCOUNT HISTORY -%>
    <div class="span-12 last">
      <h4 class="banner">Account History</h4>
    </div>

    <div id="account_history" class="span-12 last">
      <%= link_to "Available Credits", ajaxed_acquire_lessons_path(:collection => :available, :per_page => 2) %> |
      <%= link_to "Used Credits", ajaxed_acquire_lessons_path(:collection => :used, :per_page => 2) %> |
      <%= link_to "Expired Credits", ajaxed_acquire_lessons_path(:collection => :expired, :per_page => 2) %>
      <%= render :partial => 'account_history', :locals => { :user => current_user } %>
    </div>

  <% end  %>
</div>
