<% title "my firehoze" -%>
<% @current = 'my_firehoze' %>
<%= stylesheet 'v2/my_firehoze'  %>

<div class="span-12 last">
  <h4 class="banner">Welcome, <%= current_user.full_name %></h4>
</div>

<div class="span-12 last">
  <div class="span-8">
    <%= render :partial => 'profile', :locals => { :user => current_user } %>
  </div>
  <div class="span-4 last">
    <%= render :partial => 'tweets' %>
  </div>
</div>

<div class="span-12 last">
  <h4 class="banner">My Stuff</h4>
</div>

<div id="my_stuff" class="span-8">
  <%= render :partial => 'my_stuff', :locals => { :user => current_user } %>
</div>

<div class="span-4 last">
  <h4>Recent Activity</h4>

  <div class="box">
    <%= render :partial => 'activities/activities' %>
  </div>
</div>

<% # INSTRUCTOR STUFF -%>
<% if current_user.verified_instructor? %>
  <%= render :partial => 'instructor_stuff', :locals => { :user => current_user } %>
<% end %>

<% # ACCOUNT HISTORY -%>
<div class="span-12 last">
  <h4 class="banner">Account History</h4>
</div>

<div id="account_history" class="span-12 last">
  <%= render :partial => 'account_history', :locals => { :user => current_user } %>
</div>
