<% title "my firehoze" -%>
<% @current = 'my_firehoze' %>

<div class="span-12 last">
  <h4 class="banner">Welcome, <%= @current_user.full_name %></h4>
</div>

<div class="span-12 last">
  <div class="span-8">
    <%= render :partial => 'profile', :locals => { :user => current_user } %>
  </div>
  <div class="span-4 last">
    <h4>Latest Tweets from Firehoze</h4>

    <div id="latest_firehoze_tweets" class="box"></div>
  </div>
</div>

<div class="span-12 last">
  <h4 class="banner">My Stuff</h4>
</div>

<div id="my_stuff" class="span-8">
  <div class="sub-navigation">
    <ul class="buttons">
      <li><a href="#" class="button">Lessons<span class="top_left"></span><span class="bottom_left"></span></a></li>
      <li><a href="#reviews" class="button">Reviews</a></li>
      <li><a href="#groups" class="button">Groups</a></li>
      <li class="last">
        <a href="#followed_instructors" class="button">Followed
          Instructors<span class="top_right"></span><span class="bottom_right"></span></a>
      </li>
    </ul>
    <div class="clear"></div>
  </div>

  <div class="sub-navigation-panes">
    <% # LESSONS                    -%>
    <div>
      <div class="sub-sub-navigation">
        <ul class="links">
          <li><a href="#">Owned</a></li>
          <li><a href="#"><%= h(t('lesson.wishlist')) %></a></li>
          <li><a href="#">Recently Browsed</a></li>
        </ul>
        <div class="clear"></div>

        <div class="sub-sub-navigation-panes">
          <div class="compact_container">
            <%= render :partial => "lessons/owned", :locals => { :lesson_format => :compact } %>
            <div class="clear"></div>
          </div>
          <div class="compact_container">
            <%= render :partial => "lessons/wishlist", :locals => { :lesson_format => :compact } %>
            <div class="clear"></div>
          </div>
          <div class="compact_container">
            <%= render :partial => "lessons/recently_browsed", :locals => { :lesson_format => :compact } %>
            <div class="clear"></div>
          </div>
        </div>
        <!-- end (interior) panes -->
      </div>
      <!-- end lessons_nested -->
    </div>
    <!-- end lessons pane -->

    <% # REVIEWS                    -%>
    <div>
      <%= render :partial => 'reviews', :locals => { :user => @user } %>
    </div>
    <!-- end reviews pane -->

    <% # GROUPS                    -%>
    <div>
      <%= render :partial => 'groups/groups', :locals => { :user => @user } %>
    </div>
    <!-- end groups pane -->

    <% # FOLLOWED INSTRUCTORS                    -%>
    <div>
      <%= render :partial => 'followed_instructors', :locals => { :user => @user } %>
    </div>
    <!-- end followed instructor pane -->
  </div>
</div>

<div class="span-4 last">
  <h4>Recent Activity</h4>

  <div class="box">
    <%= render :partial => 'activities/activities' %>
  </div>
</div>

<% # INSTRUCTOR STUFF     -%>
<% if current_user.verified_instructor? %>

    <div class="span-12 last">
      <h4 class="banner">Instructor Stuff</h4>
    </div>
    <div id="instructor_stuff" class="span-12 last">
      <div class="sub-navigation">
        <ul class="buttons">
          <li><a href="#" class="button">Lessons I Taught<span class="top_left"></span><span class="bottom_left"></span></a>
          </li>
          <li><a href="#students" class="button">Students</a></li>
          <li class="last">
            <a href="#" class="button">Payments<span class="top_right"></span><span class="bottom_right"></span></a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>

      <div class="sub-navigation-panes">
        <% # LESSONS I TAUGHT                    -%>
        <div>
          <div class="sub-sub-navigation-1">
            <ul class="links">
              <li><a href="#">Tabbed View</a></li>
              <li><a href="#">Table View</a></li>
            </ul>
            <div class="clear"></div>

            <div class="sub-sub-navigation-panes">
              <div class="compact_container">
                <%= render :partial => "lessons/instructed", :locals => { :user => @user, :lesson_format => :compact } %>
                <div class="clear"></div>
              </div>
              <div>
                <%= render :partial => "instructed_lessons", :locals => { :user => @user } %>
                <div class="clear"></div>
              </div>
            </div>
            <!-- end (interior) panes -->
          </div>
        </div>
        <!-- end lessons I taught pane -->

        <% # STUDENTS                    -%>
        <div>
          <div class="sub-sub-navigation-2">
            <ul class="links">
              <li><a href="#">My Students</a></li>
              <li><a href="#">Followers</a></li>
            </ul>
            <div class="clear"></div>

            <div class="sub-sub-navigation-panes">
              <div class="compact_container">
                <%= render :partial => "students", :locals => { :user => @user } %>
                <div class="clear"></div>
              </div>
              <div>
                <%= render :partial => 'followers', :locals => { :user => @user } %>
              </div>
            </div>
            <!-- end (interior) panes -->
          </div>
        </div>
        <!-- end students pane -->

        <% # PAYMENT HISTORY                    -%>
        <div><%= render :partial => "accounts/forms/payment_history", :locals => { :user => @user } %></div>
        <!-- end payments pane -->
      </div>
    </div>
<% end %>

<% # ACCOUNT HISTORY                    -%>
<div class="span-12 last">
  <h4 class="banner">Account History</h4>
</div>

<div id="account_history" class="span-12 last">
  <div class="sub-navigation">
    <ul class="buttons">
      <li><a href="#" class="button">Orders<span class="top_left"></span><span class="bottom_left"></span></a></li>
      <li class="last">
        <a href="#" class="button">Credits<span class="top_right"></span><span class="bottom_right"></span></a></li>
    </ul>
    <div class="clear"></div>
  </div>

  <div class="sub-navigation-panes">
    <% # ORDER HISTORY                    -%>
    <div><%= render :partial => "order_history", :locals => { :user => @user } %></div>


    <% # CREDIT HISTORY                    -%>
    <div><%= render :partial => "credit_history", :locals => { :user => @user } %></div>
  </div>
</div>
