<p>
  <%= h @user.full_name %> (<%= h @user.login %>, <%= h @user.email %>) signed up as an <%= t('general.company') %> <%= t('lesson.instructor') %>.
</p>
<p>
  <%= link_to "View That User's Profile", @url %>
</p>
