<p>
  Hi <%= h @to_user.full_name %>,
</p>
<p>
  A new comment was just added to the topic "<%= h @comment.topic.title %>" in the group
  "<%= h @comment.topic.group.name %>":
</p>
<hr/>
<p>
  <%= @comment.body %>
</p>
<hr/>
<p>
  You can view this topic at <%= @url %>.
</p>
