<% title "Instructor Agreement, Step 1" -%>

<% content_for :footer do -%>
  <%= javascript_include_tag 'v2/validation/accounts.validate.js' -%>
<% end -%>

<%= render :partial => 'breadcrumbs', :locals => { :step => 1 } %>

<div class="fh-form">
  <% form_for(:user, :url => update_instructor_wizard_account_url(@user, :protocol => SECURE_PROTOCOL), :html => { :method => :put, :id => "author" }) do |f| %>
  <%= f.error_messages %>
  <ul id="wizard1-info" class="section instructor-wizard">
    <li class="header">
      <span></span>

      <h3>Instructor Agreement (Step 1 of 5)</h3>
      <h4>In order to become a Firehoze instructor, please accept the terms of the Firehoze Instructor
        Agreement.</h4>
      </li>

      <div id="instructor_agreement">
        <%= render :partial => 'pages/policies/instructor_agreement' %>
      </div>

      <%= link_to "Printer Friendly Version", page_path('instructor_agreement'), :popup => true, :class => 'printer-link' %>

      <% if @user.author_agreement_accepted_on.nil? %>
      <li>
        <span>
          <%= check_box_tag :accept_agreement %>
          By checking this box I hereby agreement to be bound by the terms of this agreement.
          <span class="required-field"></span>
        </span>
      </li>
      <% if RESTRICT_INSTRUCTOR_SIGNUP %>
      <li>
        <span>
          <%= label_tag :registration_code %>
          <%= text_field_tag :registration_code, :class => 'required' %>
          <span class="required-field"></span>
        </span>
      </li>
      <% end %>
      <% else %>
      <h4>Instructor Agreement accepted on: <%= l @user.author_agreement_accepted_on %></h4>
      <% end %>
      <li class="bottom">
        <span class="unlabelled">
          <% if @user.author_agreement_accepted_on %>
          <%= link_to content_tag(:span, 'Next &raquo;'), instructor_wizard_step2_account_path(current_user), :class => 'minibutton call-to-action' %>
          <% else %>
          <%= f.submit "Next", :disable_with => translate('general.disable_with') %>
          <% end %>
          <%= link_to 'Cancel', edit_account_path(current_user), :class => "ml-10" %>
        </span>

        <div class="clear"/>
      </li>
      <%= hidden_field_tag :step, "1" %>
    </ul>
    <% end %>
  </div>