<% form_for @search do |f| %>
    <p>
      <%= f.label :user_login_like, "Username" %>
      <%= f.text_field :user_login_like %>
      <%= f.label :user_email_like, "Email" %>
      <%= f.text_field :user_email_like %>

      <%= f.submit "Search" %>
    </p>
<% end %>

<table>
    <tr>
        <th>User</th>
        <th>Name</th>
        <th>Email</th>
        <th>Login IP</th>
        <th>Logged In At</th>
    </tr>
    <%= render @user_logons %>
</table>
<%= will_paginate @user_logons %>
<br/>
Rows to Display Per Page: <%= per_page_select(user_logons_path) %>
