<% title "User Logons" -%>

<h3>User Logons</h3>
<div>
  <% form_for(@search, :html => { :class => "search_box" }) do |f| %>
    <div class="span-18">
      <%= f.label :user_login_like, "Username" %>
      <%= f.text_field :user_login_like, :style => "width:360px;" %>
    </div>
    <div class="span-18">
      <%= f.label :user_email_like, "Email" %>
      <%= f.text_field :user_email_like, :style => "width:390px;" %>
    </div>
    <div class="last" style="padding-top:5px;text-align:left">
      <%= f.submit "Search" %>
    </div>
  <% end %>
</div>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Email</th>
    <th>Login IP</th>
    <th>Logged In At</th>
  </tr>
  <%= render @user_logons %>
</table>
<%= will_paginate @user_logons %>
<br/>
Rows to Display Per Page: <%= per_page_select(user_logons_path) %>
