<tr>
  <td class="icon center"><%= link_to(image_tag("icons/32-topics.png", :alt => h(topic.title)), topic_path(topic)) %></td>
  <td>
    <b><%= link_to(h(topic.title), topic_path(topic)) %></b><%= "(pinned)" if topic.pinned %><br />
    by <%= privacy_sensitive_username(topic.user) %>
  </td>
  <td class="center comment-count"><%= topic.topic_comments.size - 1 %></td>
  <td>
    <%= time_ago_in_words l(topic.last_commented_at) %><br />
    <b><%= h topic.last_topic_comment.try('user.login') %></b>
  </td>
</tr>
