<% title "Create Discission Topic" -%>

New Discussion Topic in the <%= h @group.name %> group

<% form_for :topic, :url => group_topics_url(@group) do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :title %><br/>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :comments %><br/>
      <%= f.text_area :comments %>
    </p>
    <p>
    <%= f.check_box :pinned %>Pin this topic to the top
    </p>
    <p><%= f.submit "Submit", :disable_with => translate('general.disable_with') %></p>
<% end %>


<p><%= link_to "Cancel", group_path(@group) %></p>
