<tr>
  <td>
    <%= h group.name %>
  </td>
  <td>
    <%= link_to_profile(group.owner) %>
  </td>
  <td>
    <%= h group.private %>
  </td>
  <td>
    <%= show_join_link(group) %>
    <%= show_leave_link(group) %>
  </td>
</tr>