<p>
  <%= avatar_link_to(member.user, :size => :tiny) %>
  <%= link_to_profile(member.user) %>
  <%= "(#{t('group.moderator')})" if member.member_type == MODERATOR %>
  <% if member.member_type == PENDING %>
      <%= "(#{t('group.pending')} #{l member.updated_at})" %>
  <% end %>
  <%= show_remove_link(member, current_user) %>
  <%= show_promote_demote_link(member) %>
  <%= show_promote_demote_judge_link(member) %>
</p>