<% title "Browse by Groups" -%>

<h3>Groups</h3>
<p><%= link_to "New Group", new_group_path %></p>
<div class="span-12 last search-box-container">
  <% form_for(@search, :html => { :class => "search-box clearfix" }) do |f| %>
    <div class="span-4 right">
      <%= f.label :name_like, "Name" %>:
      <%= f.text_field :name_like, :style => "width:220px;" %>
    </div>
    <div class="span-8 left last">
      <%= f.label :owner_login_like, "Owner" %>:
      <%= f.text_field :owner_login_like, :style => "width:210px;" %>
      <b>Order by:</b>
      <%= order @search, :by => :name %>&nbsp;
      <%= order @search, :by => :owner_login %>&nbsp;
      <%= order @search, :by => :category_name %>&nbsp;
      <%= f.submit "Search" %>
    </div>
  <% end %>
</div>
<table>
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th>Category</th>
    <th>Members</th>
    <th>Private</th>
    <th>Active</th>
  </tr>
  <%= render @groups %>
</table>

<%= will_paginate @groups %>
<br />
Rows to Display Per Page: <%= per_page_select(list_admin_groups_path) %>