<% title "Browse by Groups" -%>

<h3>Groups</h3>
<%= link_to "New Group", new_group_path %>
<div>
  <% form_for(@search, :html => { :class => "search_box" }) do |f| %>
      <div class="span-10">
        <%= f.label :name_like, "Name" %>:
        <%= f.text_field :name_like, :style => "width:120px;" %>
      </div>
      <div class="span-10">
        <%= f.label :owner_login_like, "Owner" %>:
        <%= f.text_field :owner_login_like, :style => "width:150px;" %>
      </div>
      <div class="last" style="padding-top:5px;text-align:right">
        <b>Order by:</b>
        <%= order @search, :by => :name %>&nbsp;
        <%= order @search, :by => :owner_login %>&nbsp;
        <%= order @search, :by => :category_name %>&nbsp;
        <%= f.submit "Search" %>
      </div>
  <% end %>
</div>
<table>
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th>Category</th>
    <th>Members</th>
    <th>Private</th>
  </tr>
  <%= render @groups %>
</table>

<%= will_paginate @groups %>
<br />
Rows to Display Per Page: <%= per_page_select(list_admin_groups_path) %>