<% title "Group / #{h @group.name}" -%>
<% @current = 'groups' %>

<%= render :partial => "categories/breadcrumbs", :object => @group.category, :locals => {:mode => "groups", :linkable_leaf => true} %>

<% # group details    -%>
<div class="span-12 append-bottom">
  <div id="group-container" class="blue-box-medium">
    <div id="group-logo"><%= logo_tag @group, :size => :medium %></div>
    <div id="description">
      <h3>Group: <%= h @group.name %></h3>
      <ul>
        <li><%= link_to_profile(@group.owner) %>&mdash;Owner</li>
        <br />
        <li class="description"><%= h @group.description %></li>
        <% @tags = @group.tag_counts %>
        <% if @tags.present? %>
            <li class="description"><b>Tags:</b>
              <% @tags.each do |tag| %>
                  <%= link_to h(tag.name), tagged_with_groups_path(:tag => tag.name) %>
              <% end %></li>
        <% end %>
      </ul>
      <hr />
      <div class="actions clearfix">
        <%= show_join_link(@group, current_user) %>
        <%= show_leave_link(@group, current_user) %>
        <%= show_invite_link(@group, current_user) %>
        <%= show_edit_link(@group, current_user) %>
        <%= flag_link @group unless @group.private -%>

        <!-- AddThis Button BEGIN -->
        <div id="add-this" class="addthis_toolbox addthis_default_style">
          <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=rsturim" class="addthis_button_compact">Share</a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=rsturim"></script>
        <!-- AddThis Button END -->

        <div class="corner-box">
          <ul>
            <% if @group.private? %>
                <li><%= image_tag 'icons/16-lock.png' %> This group is by invitation only</li>
            <% else %>
                <li><%= image_tag 'icons/16-check.png' %> This group is open to the public</li>
            <% end %>
            <% content_tag :li do -%>
                <%= show_membership_text @group, current_user %>
            <% end if current_user -%>
            <% if @group.free_lessons_to_members %>
                <li><%= image_tag 'icons/16-check.png' %> Free views for <%= t('general.lessons') %> by group moderators</li>
            <% end %>
          </ul>
        </div>
      </div>
      <hr />
      <% unless @group.active %>
          <div class="notice">
            <p>This group is inactive because of inappropriate content. Please address this concern and notify the
              system administration if you think this group is ready to be re-activated.</p>
            <% if current_user.try(:is_a_moderator?) %>
                <%= link_to(content_tag(:span, 'Reactivate?'), activate_group_path(@group.id), html_options = {:method => :post, :confirm => 'Are you sure?', :class => :minibutton}) %>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<% # group content tab    -%>
<div class="span-8">
  <div id="group-details-tabs" class="tab-container">
    <ul class="tabs">
      <li><a href="#lessons"><%= t('general.lessons').capitalize %></a></li>
      <li><a href="#discussion">Discussion</a></li>
      <li><a href="#members">Members</a></li>
    </ul>
    <div class="panes clearfix">
      <div id="tabs-lessons">
        <% if @lessons.present? %>
            <%= render :partial => "lessons/lesson_tns", :object => @lessons, :locals => {:per_row => 3} %>
        <% else %>
            <div class="info">Looks like no one has added <%= t('general.lessons') %> to this group yet.</div>
        <% end %>
      </div>
      <div id="tabs-discussion-topics">
        <div id="new-topic-link"><%= link_to content_tag(:span, "Post New Topic"), new_group_topic_path(@group), :class => :minibutton %></div>
        <%= render :partial => 'topics/topics', :object => @topics %>
      </div>
      <div id="tabs-members">
        <% if @group.owned_by? current_user || @group.moderated_by?(current_user) %>
            <%= render :partial => 'member', :collection => @group_members %>
        <% else %>
            <%= render :partial => 'users/users_mosaic', :object => @members %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- recent group activity -->
<div class="span-4 last">
  <div class="widget-box">
    <div class="widget-box-header banner">
      <span class="h4">Recent Group Activity</span>
      <%= image_tag("spinners/ajax_spinner_32.gif", :class => "loader") %>
    </div>
    <%= render :partial => 'activities/activities', :object => @activities %>
  </div>
</div>
