<% title "Group #{h @group.name}" -%>

<h2>Group <%= h @group.name %></h2>
Category: <%= h @group.category.name %>
<%= show_join_link(@group) %>
<%= show_leave_link(@group) %>
<%= show_invite_link(@group) %>
<br/>
Owner: <%= link_to_profile(@group.owner) %>
<br/>
<br/>
<h3>Members:</h3>
<ul>
  <%= render :partial => "member", :collection => (@group.group_members.reject{ |m| m.member_type == OWNER }) %>
</ul>