<% title "Group #{h @group.name}" -%>

<%= logo_tag @group, :size => :medium %>
<h2>Group <%= h @group.name %></h2>
Category: <%= h @group.category.name %>
<%= h @group.description %>
<%= show_join_link(@group) %>
<%= show_leave_link(@group) %>
<%= show_invite_link(@group) %>
<%= show_edit_link(@group) %>
<%= flag_link @group -%>
<br />
Owner: <%= link_to_profile(@group.owner) %>
<br />
This group is <%= @group.private ? "by invitation only" : "open to the public" %>
<br />
<%= show_membership_text @group %>
<br />
<br />
<h3>Members:</h3>
<ul>
  <%= render :partial => "member", :collection => (@group.group_members.reject{ |m| m.member_type == OWNER }) %>
</ul>
<h3>Lessons:</h3>
<ul>
  <% @group.active_lessons.each do |lesson| %>
      <li>
        <%= link_to h(lesson.title), lesson_path(lesson) %>
      </li>
  <% end %>
</ul>
<h3>Discussion:</h3>
<%= link_to "New Topic", new_group_topic_path(@group) %>
<table>
  <tr>
    <th>
      Title
    </th>
    <th>
      Started By
    </th>
    <th>
      Replies
    </th>
    <th>
      Last Post
    </th>
  </tr>
  <%= render @topics %>
  <%= will_paginate @topics %>
</table>

<h3>Activity</h3>
View Activity:
<%= link_to_unless session[:browse_activities_by] == 'ALL', bold('by everybody', session[:browse_activities_by] == 'ALL'), group_path(@group) %> |
<%= link_to_unless (session[:browse_activities_by] == 'BY_ME' or current_user.nil?), bold('by me', session[:browse_activities_by] == 'BY_ME'), group_path(@group, :browse_activities_by => 'BY_ME') %> |
<%= link_to_unless (session[:browse_activities_by] == 'ON_ME' or current_user.nil?), bold('on me', session[:browse_activities_by] == 'ON_ME'), group_path(@group, :browse_activities_by => 'ON_ME') %>
<table>
  <tr>
    <th colspan="2">
      Recent Activity
    </th>
  </tr>
  <%= render @activities %>
</table>
<%= will_paginate @activities %>