<tr>
 <td><%= user.login %></td>
 <td><%= user.email %></td>
 <td><%= "#{user.first_name} " unless user.first_name.nil? %><%= user.last_name %></td>
 <td><%= user.active %></td>
 <td><%= user.time_zone %></td>
 <td align="center"><%= user.login_count %>/<%= user.failed_login_count %></td>
 <td><%= format_date_time user.last_login_at %></td>
 <td><%= user.last_login_ip %></td>
 <td><%= format_date_time user.current_login_at %></td>
 <td><%= user.current_login_ip %></td>
 <td><%= link_to "View", user_path(user) %>&nbsp;<%= link_to "Edit", edit_user_path(user) %></td>
</tr>