<tr>
  <th>Username</th>
  <th>Email</th>
  <th>Name</th>
  <th>Active</th>
  <th>FB</th>
  <th><%= t('lesson.instructor').capitalize %>?</th>
  <th>Address</th>
  <th>Action</th>
</tr>

<% users.each do |user| %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td>
        <%= link_to "#{h(user.login)}", show_admin_user_path(user) %>
      </td>
      <td><%= mail_to h(user.email) %></td>
      <td><%= "#{h(user.first_name)} " unless user.first_name.nil? %><%= h(user.last_name) %></td>
      <td><%= image_tag("icons/#{user.active ? '16-check.png' : 'delete_16.png'}") %></td>
      <td><%= image_tag 'icons/16-check.png' if user.facebook_id and user.session_key and user.has_fb_permissions %></td>
      <td><%= image_tag 'icons/16-check.png' if user.verified_instructor? %></td>
      <td>
        <%= user_formatted_address(user, "<br />") if user.address_provided? %>
      </td>
      <td>
        <% if current_user.is_an_admin? %>
            <%= link_to "Edit", edit_user_path(user) %>&nbsp;
        <% end %>
        <%= link_to "Public", user_path(user) %>
      </td>
    </tr>
<% end %>
