<% title "editing #{@user.name_or_username}'s account" %>

<%= javascript 'v2/validation/user.validate.js' %>

<h3><%= t 'user.account_settings' %> for <%= link_to_profile(@user) %></h3>

<div id="admin-user-tabs" class="tab-container">
  <ul class="tabs">
    <li><a href="#profile"><%= t 'user.profile' %></a></li>
    <li><a href="#roles"><%= t 'user.roles' %></a></li>
    <li><a href="#password"><%= t 'user.password' %></a></li>
    <li><a href="#author_info"><%= t 'user.author_info' %></a></li>
    <li><a href="#avatar"><%= t 'user.avatar' %></a></li>
    <li><a href="#privacy"><%= t 'user.privacy' %></a></li>
    <li><a href="#credit_history"><%= t 'user.credit_history' %></a></li>
    <li><a href="#order_history"><%= t 'user.order_history' %></a></li>
  </ul>
  <div class="panes clearfix">
    <div id="pane-profile"><%= render :partial => "users/forms/profile" %></div>
    <div id="pane-roles"><%= render :partial => "users/forms/roles" %></div>
    <div id="pane-password"><%= render :partial => "users/forms/password" %></div>
    <div id="pane-instructor"><%= render :partial => "users/forms/instructor" %></div>
    <div id="pane-avatar"><%= render :partial => "users/forms/avatar" %></div>
    <div id="pane-privacy"><%= render :partial => "users/forms/privacy" %></div>
    <div id="pane-credit_history"><%= render :partial => "users/forms/credit_history" %></div>
    <div id="pane-order_history"><%= render :partial => "users/forms/order_history" %></div>
  </div>
</div>
