<% title "Users" -%>

<h3>Users</h3>
<div>
  <% form_for(@search, :html => { :class => "search_box" }) do |f| %>
    <div class="span-4">
      <%= f.label :login_like, "Username" %>
      <%= f.text_field :login_like %>
    </div>
    <div class="span-4">
      <%= f.label :email_like, "Email" %>
      <%= f.text_field :email_like %>
    </div>
    <div class="last" style="padding-top:5px;text-align:left">
      <b>Order by:</b>
      <%= order @search, :by => :login, :as => "Username" %>&nbsp;
      <%= order @search, :by => :email %>
      <%= f.submit "Search" %>
    </div>
  <% end %>
</div>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Name</th>
    <th>Active</th>
    <th>Instructor?</th>
    <th>Time Zone</th>
    <th>Success/Failure<br />Login Count</th>
    <th>Last Login At</th>
    <th>Last Login IP</th>
    <th>Current Login At</th>
    <th>Current Login IP</th>
    <th>Action</th>
  </tr>
  <%= render @users %>
</table>
<%= will_paginate @users %>
<br />
Rows to Display Per Page: <%= per_page_select(list_users_path) %>
