<% title "Users" -%>
<% @current = 'users' %>

<h3>Users</h3>

<div class="span-12 search-box-container">
  <% form_for(@search, :html => { :class => "search-box clearfix" }) do |f| %>
      <div class="span-5 right">
        <%= f.label :login_like, "Username" %>
        <%= f.text_field :login_like, :style => "width:290px;" %>
      </div>
      <div class="span-7 last left">
        <%= f.label :email_like, "Email" %>
        <%= f.text_field :email_like, :style => "width:245px;" %>
      </div>

      <div class="span-12 center" style="padding-top:8px">
        <b>Order by:</b>
        <%= order @search, :by => :login, :as => "Username" %>&nbsp;
        <%= order @search, :by => :email %>&nbsp;
        <%= order @search, :by => :created_at %>&nbsp;
        <%= order @search, :by => :current_login_at %>&nbsp;
        <%= f.submit "Search" %>
      </div>
  <% end %>
</div>

<div class="span-12">
  <table>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Name</th>
      <th>Active</th>
      <th>Instructor? (Lessons)</th>
      <th>Success/Failure<br />Login Count</th>
      <th>Last Login At</th>
      <th><%= current_user.is_an_admin? ? "Last Login IP" : "Created At" %></th>
      <th>Current Login At</th>
      <th>Current Login IP</th>
      <th>Action</th>
    </tr>

    <% @users.each do |user| %>
        <tr class="<%= cycle("even", "odd") -%>">
          <td>
            <%= link_to "#{h(user.login)}", show_admin_user_path(user) %>
          </td>
          <td><%= mail_to h(user.email) %></td>
          <td><%= "#{h(user.first_name)} " unless user.first_name.nil? %><%= h(user.last_name) %></td>
          <td><%= user.active ? "Yes" : "No" %></td>
          <td><%= user.verified_instructor? ? "Yes" : "No" %>
            <%= "(#{user.instructed_lessons.ready.count})" if user.verified_instructor? %>
          </td>
          <td align="center"><%= user.login_count %>/<%= user.failed_login_count %></td>
          <td><%= l user.last_login_at if user.last_login_at %></td>
          <td><%= ((current_user.is_an_admin?) ? h(user.last_login_ip) : l(user.created_at)) %></td>
          <td><%= l user.current_login_at if user.current_login_at %></td>
          <td><%= h user.current_login_ip %></td>
          <td>
            <% if current_user.is_an_admin? %>
                <%= link_to "Edit", edit_user_path(user) %>&nbsp;
            <% end %>
            <%= link_to "Public", user_path(user) %>
          </td>
        </tr>
    <% end %>

  </table>
</div>
<p><%= will_paginate @users %></p>
<p class="mt-1em">Rows to Display Per Page: <%= per_page_select(list_users_path) %></p>
