<% content_for :head do -%>
    <%= stylesheet_link_tag 'jquery-ui/smoothness/jquery-ui-1.7.2.custom', :media => "screen, projection" %>
    <%= javascript_include_tag 'accordian.js' %>
<% end %>

<p>
  <%= avatar_tag @user, :size => :medium %>
</p>

<p>
  <b>Username:</b>
  <%= h @user.login %>
</p>

<p>
  <b>Email:</b>
  <%= h @user.email %>
</p>

<% if current_user.try("is_moderator?") or current_user.try("is_admin?") or @user.show_real_name %>
    <p>
      <b>Name:</b>
      <%= h @user.full_name %>
    </p>
<% end %>

<p>
  <b>Bio:</b>
  <%= show_bio %>
</p>

<% if @user.can_contact? current_user %>
    <%= link_to 'Contact This User', new_contact_user_path(:id => @user.id) %> |
<% end %>

<% if @user.can_edit? current_user %>
    <%= link_to "Edit", edit_user_path(@user) %> |
<% end %>
<%= flag_link @user %>

<div class="clear span-40 last prepend-top">
  <div id="public_user_accordion">
    <% unless @lessons.empty? %>
        <h3><a href="#">Lesson by this Instructor</a></h3>

        <div>
          <%= render :partial => "lessons/lesson_wide", :collection => @lessons %>
        </div>
    <% end %>

    <% unless @reviews.empty? %>
        <h3><a href="#">Reviews by this User</a></h3>

        <div>
          <%= render :partial => "reviews/review_with_lesson", :collection => @reviews %>
        </div>
    <% end %>
  </div>
</div>