<% title "#{@user.name_or_username}" -%>

<div id="user_show">

  <div id="user-public-container" class="span-12 last">
    <div id="name-plate">
      <span class="h3" id="name"><%= link_to_profile(@user) %></span>

      <div id="user-actions">
        <% if @user.can_contact? current_user %>
            <%= link_to 'Contact This User', new_contact_user_path(:id => @user.id), :class => :rounded %>
        <% end %>
        <% if @user.can_edit? current_user %>
            <%= link_to "Edit", edit_user_path(@user), :class => :rounded %>
        <% end %>
        <%= flag_link @user %>
        <%= follow_link @user, current_user %>
      </div>
    </div>

    <div id="user-stats-container">
      <div id="user-avatar-container">
        <div id="avatar"><%= avatar_tag @user, :size => :small %></div>
      </div>

      <div>
        <ul class="bulletless">
          <li>Joined: <%= h(l(@user.created_at.to_date)) %></li>
          <% if @user.verified_instructor? and @user.students.size > 0 %> <% # let's not embarass anyone if they have no students %>
          <li>Lesson taught: <%= @user.instructed_lessons.ready.size %></li>
          <li>Students: <%= @user.students.size %></li>
          <% end %>
          <% if @user.followers.size > 0 %>
          <li>Followers: <%= @user.followers.size %></li>
          <li>Following: <%= @user.followed_instructors.size %></li> <%#=  #TODO BOB, is this right? Currently only instructors can be followed, right? %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="details">
      <div id="user-show-tabs">
        <ul class="tabs">
          <% unless @user.bio.blank? %>
              <li><a href="#about-me"><%= t 'user.bio' %></a></li>
          <% end %>

          <% unless @lessons.empty? %>
              <li><a href="#lessons-by"><%= t 'user.instructor_of', :user => h(@user.name_or_username) %></a></li>
          <% end %>

          <% unless @reviews.empty? %>
              <li><a href="#reviews-by"><%= t 'user.reviews_of', :user => h(@user.name_or_username) %></a></li>
          <% end %>

          <% unless @groups.empty? %>
              <li><a href="#groups"><%= possessive_helper(h(@user.name_or_username)) %> <%= t 'group.groups' %></a></li>
          <% end %>
          <li>
            <a href="#activities"><%= possessive_helper(h(@user.name_or_username)) %> <%= t 'activity.activities' %></a>
          </li>
        </ul>

        <div class="panes">
          <% unless @user.bio.blank? %>
              <div id="pane-about-me"><%= rbs_formatter show_bio %></div>
          <% end %>

          <% unless @lessons.empty? %>
              <div id="pane-lessons-by"><%= render :partial => "lessons/v2/lessons_row_format", :object => @lessons %></div>
          <% end %>

          <% unless @reviews.empty? %>
              <!-- TODO make this partial smarter -->
              <div id="pane-reviews-by"><%= render :partial => "reviews/v2/reviews", :collection => @reviews %></div>
          <% end %>
          <% unless @groups.empty? %>
              <div id="pane-group"><%= render :partial => "groups", :locals => { :groups => @groups } %></div>
          <% end %>
          <div id="pane-activity">
            <%= render :partial => 'activities', :locals => { :activities => @activities } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>