<h1>Register</h1>

In order to request an account, you first must verify your email information:
<% form_for(:registration, :url => registrations_path) do |f| %>
    <%= f.error_messages %>
    <b>Username</b>:
    <%= f.text_field :username %><br />
    <br/>
    <%= f.label :email %>:
    <%= f.text_field :email %>
    <% if APP_CONFIG[CONFIG_RESTRICT_REGISTRATION] %>
        <br/>
        <%= f.label :registration_code %>:
        <%= f.text_field :registration_code %>
    <% end %>
    <br/>


    <%= f.submit "Register", :disable_with => translate('general.disable_with') %>
<% end %>
<%= link_to "Back to Login", login_path %>