<% title "Sign Up" -%>

<%= render :partial => "shared/infield_head_content" %>
<% restricted = APP_CONFIG[CONFIG_RESTRICT_REGISTRATION]  %>
<% if restricted == true %>
  <div class="span-17 append-1">
    <div class="info">
      <h3>1. Request a Registration Code</h3>
      <p>
        Can't wait for the public release?
        <br />
        Firehoze is currently in beta. During beta, you will need a registration code in
        order to sign up for an account.
      </p>
      <p><strong><%= link_to "Request", "http://www.firehoze.com" %> your Registration Code now!</strong></p>
    </div>
  </div>
<% end %>

<div class="span-22 last">
  <% form_for(:registration, :url => registrations_path, :html => {'accept-charset' => "utf-8", :id => "inline", :class => "register" }) do |f| %>
    <%= f.error_messages %>
    <fieldset>
      <legend><%= restricted == true ? "2. Sign Up" : "Sign Up"  %></legend>
      <p>
        <%= f.label :username, :Username %>
        <%= f.text_field :username %>
      </p>

      <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </p>

      <% if APP_CONFIG[CONFIG_RESTRICT_REGISTRATION] %>
        <p>
          <%= f.label :registration_code %>
          <%= f.text_field :registration_code %>
        </p>
      <% end %>

      <p style="padding:0 0 5px 0;">
        <%= f.label :captcha, "Please verify that you are human:" %>
      </p>
      <%= recaptcha_tags :display => {:theme => 'clean', :tabindex => 3 } %>
    </fieldset>

    <p>
      <%= f.submit "Register", :disable_with => translate('general.disable_with') %>
      <%= link_to "Already have an account?", login_path %>
    </p>
  <% end %>
</div>

