<% title "Sign Up" -%>
<%= javascript 'v2/validation/registration.validate.js' %>

<% restricted = APP_CONFIG[CONFIG_RESTRICT_REGISTRATION] %>
<% if restricted == true %>
    <div class="span-17 append-1">
      <div class="info">
        <h3>1. Request a Registration Code</h3>

        <p>Can't wait for the public release?<br/>For a limited time get early access to the Firehoze site.</p>

        <p><strong><%= link_to "Request", "http://www.firehoze.com" %> your Registration Code now!</strong></p>
      </div>
    </div>
<% end %>

<div class="fh-form">
  <% form_for(:registration, :url => registrations_path, :html => {'accept-charset' => "utf-8", :id => "inline", :class => "register" }) do |f| %>
      <%= f.error_messages %>
      <ul id="company-info" class="section">
        <li class="header">
          <span></span>

          <h3>
            <%= restricted == true ? "2. Sign Up" : "Firehoze Account Sign Up" %>
          </h3>
          <h4>
            Request your Firehoze account.
          </h4>
        </li>
        <li>
        <span>
        <%= f.label :username %>
          <%= f.text_field :username, :maxlength => "25", :title => "You must enter a username", :class => "required" %>
          <span class="required-field"/>
        </span>
          <div class="counter"><span id="registration_username_counter"></span> characters left</div>
        </li>
        <li>
        <span>
        <%= f.label :email %>
          <%= f.text_field :email, :maxlength => "100", :title => "You must enter an email address", :class => "required" %>
          <span class="required-field"/>
        </span>
          <div class="counter"><span id="registration_email_counter"></span> characters left</div>
        </li>

        <% if APP_CONFIG[CONFIG_RESTRICT_REGISTRATION] %>
            <li>
        <span>
          <%= f.label :registration_code %>
          <%= f.text_field :registration_code %>
          <span class="required-field"/>
        </span>
            </li>
        <% end %>
        <li>
        <span>
          <%= f.label :captcha, "Please verify that you are human" %>
          <%= recaptcha_tags :display => {:theme => 'clean', :tabindex => 3 } %>
          <span class="required-field"/>
        </span>
        </li>
        <li class="bottom">
        <span class="unlabelled">
          <%= submit_tag "Request Account" %>
          <%= link_to "Already have an account?", login_path %>
        </span>

          <div class="clear"/>
        </li>
      </ul>
  <% end %>
</div>