<% form_for(:user, :url => account_path, :html => { :method => :put, :multipart => true, :id => "avatar" }) do |f| %>
  <%= admin_edit_hidden_field_tag %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Upload an Avatar</legend>
    <p>
      <%= avatar_tag @user, :size => :medium %>
    </p>
    <div>
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </div>
  </fieldset>
  <p>
    <%= f.submit "Update", :disable_with => translate('general.disable_with') %>
  </p>
  <% if @user.avatar? %>
    <%= link_to('Delete current', clear_avatar_account_path(@user.id),
                html_options = {:method => :post, :confirm => 'Are you sure?'} ) %>
  <% end %>
<% end %>
