<div class="fh-form">
  <% form_for(:user, :url => update_instructor_user_path(@user), :html => { :method => :put, :id => "author" }) do |f| %>
    <%= f.error_messages %>
    <ul id="profile-info" class="section">
      <li class="header">
        <span></span>
        <h3>Edit <%= link_to_profile @user %>'s Instructor Status</h3>
        <h4>The information below describes whether this user is an instructor and the rate at which he or she will earn commissions for sales of their lessons.</h4>
      </li>

      <li class="minor-header">Instructor Details</li>
      <li>
        <div class="unlabelled" style="margin-bottom:1em;">
          <strong>This user is <%= (@user.verified_instructor? ? "" : "not ") %>an instructor.</strong>
          <div>
            <% if @user.author_agreement_accepted_on %>
              Author agreement was accepted on <%= l @user.author_agreement_accepted_on %>
            <% else %>
              Author agreement has not been accepted
            <% end %>
          </div>
          <div>
            <% if @user.payment_level %>
              Payment level is <%= @user.payment_level.name %>
            <% else %>
              Payment level (exclusivity) has not been chosen
            <% end %>
          </div>
          <div>
            Address has <%= (@user.address_provided? ? "" : "not ") %>been provided
          </div>
          <div>
            <% if @user.verified_address_on %>
              Address was verified on <%= l @user.verified_address_on %>
            <% else %>
              Address has not been verified
            <% end %>
          </div>
        </div>
      </li>
      <li>
        <span>
          <%= f.label :payment_level %>
          <%= f.select :payment_level,
            options_from_collection_for_select(PaymentLevel.ascend_by_name, 'id', 'name',
            @user.payment_level.try('id')),
            { :include_blank => true } %>
        </span>
      </li>
      <li class="minor-header">Postal Address</li>
      <li>
        <span>
          <%= f.label :address1 %>
          <%= f.text_field :address1 %>
        </span>
      </li>

      <li>
        <span>
          <%= f.label :address2 %>
          <%= f.text_field :address2 %>
        </span>
      </li>
      <li>
        <span>
          <%= f.label :city %>
          <%= f.text_field :city %>
        </span>
      </li>
      <li>
        <span>
          <%= f.label :state, "State or Region" %>
          <%= f.text_field :state %>
        </span>
      </li>

      <li>
        <span>
          <%= f.label :postal_code, "Postal Code or Zip Code" %>
          <%= f.text_field :postal_code %>
        </span>
      </li>

      <li>
        <span>
          <%= f.label :country %>
          <%= f.localized_country_select(:country, ['US']) %>
        </span>
      </li>
      <li class="bottom">
        <span class="unlabelled">
          <%= f.submit "Update", :id => "update-profile" %>
          <%= link_to 'Cancel', home_path %>
        </span>

        <div class="clear"/>
      </li>
    </ul>
  <% end %>
</div>