<% form_for(:user, :url => update_privacy_user_path(@user), :html => { :method => :put, :id => "privacy" }) do |f| %>
    <%= f.error_messages %>

    <fieldset>
      <legend>Update Privacy Settings</legend>
      Show Real First and Last Name: <%= f.check_box :show_real_name, :class => :foobar %>
      <p>
        Who can contact this user via email?
        <%= f.radio_button :allow_contact, USER_ALLOW_CONTACT_NONE %>&nbsp;No one
        <%= f.radio_button :allow_contact, USER_ALLOW_CONTACT_ANYONE %>&nbsp;Anyone
        <%= f.radio_button :allow_contact, USER_ALLOW_CONTACT_STUDENTS_ONLY %>&nbsp;Only students have purchased at least one of this instructor's lessons
      </p>
    </fieldset>

    <p>
      <%= f.submit "Update", :disable_with => translate('general.disable_with') %>
      <%= link_to 'Cancel', home_path %>
    </p>
<% end %>