<% form_for(:user, :url => update_privacy_user_path(@user), :html => { :method => :put, :id => "privacy" }) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Update Privacy Settings</legend>
    <ul>
      <li><%= f.check_box :show_real_name %><label for="show_real_name"> Show Real First and Last Name</label></li>
    </ul>
    Who can contact this user via email?
    <ul>
      <li><%= f.radio_button :allow_contact, USER_ALLOW_CONTACT_NONE %><label for="<%= USER_ALLOW_CONTACT_NONE %>">No one</label></li>
      <li><%= f.radio_button :allow_contact, USER_ALLOW_CONTACT_ANYONE %><label for="<%= USER_ALLOW_CONTACT_ANYONE %>">Anyone</label></li>
      <li><%= f.radio_button :allow_contact, USER_ALLOW_CONTACT_STUDENTS_ONLY %><label for="<%= USER_ALLOW_CONTACT_STUDENTS_ONLY %>">Only students who have purchased at least one of your lessons</label></li>
    </ul>
  </fieldset>
  <p>
    <%= f.submit "Update", :disable_with => translate('general.disable_with') %>
    <%= link_to 'Cancel', home_path %>
  </p>
<% end %>
