<% form_for(:user, :url => user_path(@user), :html => { :method => :put, :id => "profile" }) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Update User Profile</legend>
    Active: <%= f.check_box :active %>
    <p>
      Username:
      <%= f.text_field :login %>
    </p>

    <p>
      Email:
      <%= f.text_field :email %>
    </p>

    <p>
      First name:
      <%= f.text_field :first_name %>
    </p>

    <p>
      Last name:
      <%= f.text_field :last_name %>
    </p>

    <p>
      Bio:
      <%= f.text_area :bio %>
      <br />
      (Format using *<b>bold</b>* and _<i>italics</i>_ text)
    </p>

    Reject Bio: <%= f.check_box :rejected_bio, :class => :foobar %>

    <p>
      Time Zone:
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
    </p>

    <p>
      Language:
      <%= f.select :language, User.supported_languages %>
    </p>
  </fieldset>

  <p>
    <%= f.submit "Update", :disable_with => translate('general.disable_with') %>
    <%= link_to 'Cancel', home_path %>
  </p>
<% end %>
