<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <meta http-equiv="Content-Language" content="en"/>
  <meta name="MSSmartTagsPreventParsing" content="true"/>
  <meta name="ROBOTS" content="ALL"/>
  <meta name="Copyright" content="(c) <%= Time.now.year %> Firehoze, Inc. All rights reserved."/>
  <meta http-equiv="imagetoolbar" content="no"/>
  <meta name="Rating" content="General"/>
  <meta name="description" content="Firehoze offers a community-generated catalog of video tutorials designed to allow students find the classroom help they need."/>
  <meta name="keywords" content="firehoze, education, tutorials, instruction"/>
  <link rel="home" href="/"/>
  <link rel="copyright" href="#copyright"/>
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
  <title>Firehoze - <%= truncate(yield(:title), :length => 75) || "You're on Fire. We Can Help" %></title>
  <%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
  <%= stylesheet_link_tag 'firehoze', :media => "screen, projection" %>

  <!--[if IE]>
  <%= stylesheet_link_tag 'blueprint/ie', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'ie/ie', :media => "screen, projection" %>
  <![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag 'ie/ie8', :media => "screen, projection" %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie/ie7', :media => "screen, projection" %><![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag 'ie/ie6', :media => "screen, projection" %><![endif]-->

  <% # Javascript Libraries %>
  <%= google_jquery(:version => '1.3.2', :local => Rails.env.development?) %>
  <%= javascript_include_tag 'v2/jrails' %>
  <%= javascript_include_tag 'v2/jquery.tools.min' %>
  <%= javascript_include_tag 'v2/swfobject' %> <% # keep this in head, or else if won't work %>

  <%= ajaxful_rating_style %>

  <!--[if IE 6]><%= javascript_include_tag 'v2/ie/ie6/DD_belatedPNG_0.0.8a-min' %><![endif]-->
  <!--[if IE ]><%= javascript_include_tag 'v2/ie/ie7/z-index-workaround' %><![endif]-->

  <%= yield :head -%>
</head>
<body>
<%= render "shared/flash_msg" -%>

<!-- start header -->
<div id="header">
  <div class="container">
    <div class="span-12 last content">
      <div id="logo">
        <% if current_user %>
        <%= link_to_unless_current("my firehoze", my_firehoze_index_path, :id => :home) %>
        <% else %>
        <%= link_to_unless_current("Firehoze", lessons_path, :id => :home) %>
        <% end %>
      </div>
      <div id="top-navigation-container">
        <%= render :partial => "shared/top_navigation" %>
      </div>
      <!-- end top-navigation-container-->
    </div>
    <!-- content -->
  </div>
  <!-- container -->
</div>
<!-- end header -->

<!-- main-navigation -->
<div id="shadowbox-top">
  <% if admin %>
  <%= render :partial => 'shared/admin_main_nav' %>
  <% else %>
  <%= render :partial => 'shared/main_nav' %>
  <% end %>
</div>
<!-- end main-navigation -->
<!-- end shadowbox-top -->

<!-- start main_content -->
<div id="shadowbox-middle">
  <!-- <div id="shadowbox-middle-blue"></div> -->
  <div class="container"><!-- showgrid -->
    <div class="clear span-12 last">
      <%= yield -%>
    </div>
  </div>
  <!-- container -->
</div>
<!-- shadowbox-middle -->
<!-- end main_content -->

<div id="shadowbox-bottom"></div>

<%= render :partial => 'shared/footer' unless admin %>

<% # Javascript Plugins %>
<%= javascript_include_tag 'v2/jquery.always_at_bottom','v2/jquery.anchor','v2/jquery.cornerz','v2/jquery.simplyCountable','v2/jquery.truncator','v2/jquery.validate.min','v2/jquery.tipTip','v2/jquery.uniform', :cache => 'firehoze-plugins' %>

<% # Firehoze Specific Javascript Code %>
<%= javascript_include_tag 'v2/application','v2/faqs','v2/flash','v2/footer','v2/pagination','v2/rounders','v2/tabs','v2/tipTip','v2/top_navigation','v2/truncator', :cache => 'firehoze' %>
<%= javascript_include_tag'v2/uniform' unless @no_uniform_js %>
<%= javascript_include_tag 'v2/tooltip' unless Rails.env.test? or g_browser_name == 'ie' %>

<%= yield :footer -%>

<% # External Service Javascripts %>
<%= render "shared/google_analytics"  unless admin -%>
<%= render "shared/get_satifisfaction" unless (admin or (controller.controller_name == "pages" and params[:id] == 'help_center')) -%>
</body>
</html>
