<div id="content">
  <%= link_to_unless_current "About Firehoze", page_path("about")  %> |
  <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#64;&#102;&#105;&#114;&#101;&#104;&#111;&#122;&#101;&#46;&#99;&#111;&#109;'>Contact Us</a> |
  <%= link_to_unless_current "Support", 'http://getsatisfaction.com/firehoze/topics'  %> | 
  <%= link_to_unless_current "FAQs", page_path("faqs")  %> | 
  <%= link_to_unless_current "Policies", page_path("policies")  %> |
  © 2009 Firehoze, Inc (<%= FirehozeVersion::VERSION %>)
</div>
