<ul id="top_nav_links">
  <li><%= signin_or_signout_link %></li>
  <% if current_user %>
      <li><%= link_to "Account Settings", account_path %></li>
      <li><%= link_to "Buy Credits", store_path(1) %></li>
      <!-- pass a dummy id to the following route since restful for show requires an id -->
      <li><%= "Available Credits (#{current_user.credits.available.count})" %></li>
      <% if current_user and !current_user.gift_certificates.active.empty? %>
          <li><%= link_to "Gift Certificates (#{current_user.gift_certificates.active.count})",
                          gift_certificates_path %></li>
      <% end %>
      <li><%= link_to "Shopping Cart", cart_path(@current_cart) if show_cart? %></li>
  <% end %>
</ul>