<ul id="menu">
  <li class="logo">
    <%= image_tag("menu/menu_left.png", :alt => "", :style => "float:left;" ) %>
    <ul id="main">
      <li>Welcome to <b>Create Vimeo-like top navigation</b> tutorial!</li>
      <li class="last">
        <%= image_tag("menu/corner_blue_left.png", :alt => "",  :class => "corner_left" ) %>
        <%= image_tag("menu/dot_blue.png", :alt => "", :class => "middle") %>
        <%= image_tag("menu/corner_blue_right.png", :alt => "",  :class => "corner_right" ) %>
      </li>
    </ul>
  </li>
  <li><a href="#">Login</a>
  </li>
  <li><a href="#">Help</a>
    <ul id="help">
      <li>
        <%= image_tag("menu/corner_inset_left.png", :alt => "",  :class => "corner_inset_left" ) %>
        <a href="#">General help</a>
        <%= image_tag("menu/corner_inset_right.png", :alt => "",  :class => "corner_inset_right" ) %>
      </li>
      <li><a href="#">Posts</a></li>
      <li><a href="#">Pages</a></li>
      <li class="last">
        <%= image_tag("menu/corner_left.png", :alt => "",  :class => "corner_left" ) %>
        <%= image_tag("menu/dot.gif", :alt => "",  :class => "middle" ) %>
        <%= image_tag("menu/corner_right.png", :alt => "",  :class => "corner_right" ) %>
      </li>
    </ul>
  </li>
  <li class="searchContainer">
    <div>
      <input type="text" id="searchField" /><%= image_tag("menu/magnifier.png", :alt => "Search") %>
    </div>
    <ul id="search">
      <li>
        <%= image_tag("menu/corner_inset_left.png", :alt => "",  :class => "corner_inset_left" ) %>
        <input id="cbxAll" type="checkbox" />All
        <%= image_tag("menu/corner_inset_right.png", :alt => "",  :class => "corner_inset_right" ) %>
      </li>
      <li><input id="Articles" type="checkbox" />Articles</li>
      <li><input id="Tutorials" type="checkbox" />Tutorials</li>
      <li><input id="Reviews" type="checkbox" />Reviews</li>
      <li><input id="Resources" type="checkbox" />Resources</li>
      <li class="last">
        <%= image_tag("menu/corner_left.png", :alt => "",  :class => "corner_left" ) %>
        <%= image_tag("menu/dot.gif", :alt => "",  :class => "middle" ) %>
        <%= image_tag("menu/corner_right.png", :alt => "",  :class => "corner_right" ) %>
      </li>
    </ul>
  </li>
</ul>
<%= image_tag("menu/menu_right.png", :alt => "", :style => "float:left;" ) %>

