<% content_for :head do -%>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min.js' %>
  <%= stylesheet_link_tag 'jquery-ui/smoothness/jquery-ui-1.7.2.custom', :media => "screen, projection" %>
  <%= javascript_include_tag 'tabs.js','jquery.cookie.js' %>
  <%= javascript_include_tag 'accordian.js' %>
<% end %>

<div class="span-40 last">
  <!-- Header placeholder  -->
</div>

<div class="clear append-0 span-29" id="lesson_tabs">
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1"><%= t 'lesson.most_popular' %></a></li>
      <li><a href="#tabs-2"><%= t 'lesson.highest_rated' %></a></li>
      <li><a href="#tabs-3"><%= t 'lesson.newest' %></a></li>
    </ul>

    <div id="tabs-1"><%= render :partial => "lessons/most_popular", :locals => { :lesson_format => :narrow } %></div>
    <div id="tabs-2"><%= render :partial => "lessons/highest_rated", :locals => { :lesson_format => :narrow } %></div>
    <div id="tabs-3"><%= render :partial => "lessons/newest", :locals => { :lesson_format => :narrow } %></div>
  </div>
</div>

<div class="span-11 last">
  <div id="user_accordion_container">
    <div id="user_accordion">
      <h3><a href="#"><%= t 'lesson.lessons_you_own' %></a></h3>
      <div class="content">
        <%= render :partial => "lessons/owned", :locals => { :lesson_format => :brief } %>
      </div>

      <h3><a href="#"><%= t 'lesson.wishlist' %></a></h3>
      <div class="content">
        <%= render :partial => "lessons/wishlist", :locals => { :lesson_format => :brief } %>
      </div>

      <h3><a href="#"><%= t 'lesson.recently_browsed' %></a></h3>
      <div class="content">
        <%= render :partial => "lessons/recently_browsed", :locals => { :lesson_format => :brief } %>
      </div>
    </div>
  </div>

  <div class="tag_cloud prepend-top">
    <%= render :partial => "lessons/tag_cloud", :object => Lesson.tag_counts %>
  </div>
</div>
