<% content_for :head do -%>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min' %>
  <%= stylesheet_link_tag 'jquery-ui/smoothness/jquery-ui-1.7.2.custom', :media => "screen, projection" %>
  <%= javascript_include_tag 'tabs', 'jquery.cookie' %>
  <%= javascript_include_tag 'accordian' %>
<% end %>

<%= render :partial => 'lessons/scrollable_lessons' %>

<div class="clear append-0 span-29" id="lesson_tabs">
  <div id="tabs">
    <ul>
      <li><%= link_to t('lesson.most_popular'), tabbed_lessons_path(:collection => 'most_popular') %></li>
      <li><%= link_to t('lesson.highest_rated'), tabbed_lessons_path(:collection => 'highest_rated') %></li>
      <li><%= link_to t('lesson.newest'), tabbed_lessons_path(:collection => 'newest') %></li>
    </ul>
    <div style="display:block"></div>
  </div>
</div>

<div class="span-11 last">
  <div id="user_accordion_container">
    <div id="user_accordion">
      <h3><a href="#"><%= t 'lesson.lessons_you_own' %></a></h3>

      <div class="content">
        <%= render :partial => "lessons/owned", :locals => { :lesson_format => :brief } %>
      </div>

      <% if current_user.is_instructor? %>
        <h3><a href="#"><%= t 'lesson.lessons_you_instructed' %></a></h3>

        <div class="content">
          <%= render :partial => "lessons/instructed", :locals => { :lesson_format => :brief } %>
        </div>
      <% end %>

      <h3><a href="#"><%= t 'lesson.wishlist' %></a></h3>

      <div class="content">
        <%= render :partial => "lessons/wishlist", :locals => { :lesson_format => :brief } %>
      </div>

      <h3><a href="#"><%= t 'lesson.recently_browsed' %></a></h3>

      <div class="content">
        <%= render :partial => "lessons/recently_browsed", :locals => { :lesson_format => :brief } %>
      </div>
    </div>
  </div>

  <div class="tag_cloud prepend-top">
    <%= render :partial => "lessons/tag_cloud", :object => Lesson.tag_counts %>
  </div>
</div>
