<% form_for(@user, :url => update_avatar_account_url(@user, :protocol => SECURE_PROTOCOL), :html => { :method => :put, :multipart => true, :id => "avatar_form", :class => "edit_user" }) do |f| %>
  <%= f.error_messages %>
  <fieldset>                                      
    <legend>Upload an Avatar</legend>
    <p>
      <%= avatar_tag @user, :size => :medium %>
    </p>
    <div>
      <%= f.label :avatar %>
      <%= f.file_field :avatar, :class => "required" %>
    </div>
  </fieldset>
  <p>
    <%# Submit now disabled using jquery %>
    <%= f.submit "Update", :class => "submit" %>
  </p>
  <% if @user.avatar? %>
    <%= link_to('Delete current', clear_avatar_account_path(@user.id), html_options = {:method => :post, :confirm => 'Are you sure?'} ) %>
  <% end %>
<% end %>
