<div class="fh-form">
  <% form_for(:user, :url => password_path(@user, :protocol => SECURE_PROTOCOL), :html => { :method => :put, :id => :password_form }) do |f| %>
  <%= f.error_messages %>
  <ul id="password-info" class="section">
    <li class="header">
      <span></span>
      <h3>Change Password</h3>
      <h4>Update the password for your account.</h4>
      <div class="key"><%= image_tag("forms/asterisk.png", :alt => :required) %>: required</div>
    </li>
    <li>
      <span>
        <%= f.label :current_password %>
        <%= f.password_field :current_password, :title => "Please enter your current password", :class => "required" %>
        <span class="required-field"></span>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :password, f.object.nil? ? nil : "Change password" %>
        <%= f.password_field :password, :title => "Please enter a new password", :class => "required" %>
        <span class="required-field"></span>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :title => "Password confirmation must match password", :equalTo => '#user_password', :class => "required" %>
        <span class="required-field"></span>
      </span>
    </li>
    <li class="bottom">
      <span class="unlabelled">
        <%= f.submit "Change Password" %>
        <%= link_to 'Cancel', home_path %>
      </span>

      <div class="clear"/>
    </li>
  </ul>
  <% end -%>
</div>
