<div class="fh-form">
  <% form_for(:user, :url => update_privacy_account_url(@user, :protocol => SECURE_PROTOCOL), :html => { :method => :put, :id => "privacy" }) do |f| %>
    <%= f.error_messages %>
    <ul id="privacy-info" class="section">
      <li class="header">
        <span></span>

        <h3>Update Privacy Settings</h3>
        <h4>Control how much information you share with other users, and whether other users can contact you.</h4>
      </li>
      <li>
        <span class="heading">Show Real First and Last Name?</span>
        <span class="unlabelled">
          <%= f.check_box :show_real_name %>(if you leave this unchecked, other users will only see your username)
        </span>
      </li>
      <li>
        <span class="heading">Who can contact you via email?</span>
        <span class="unlabelled"><%= f.radio_button :allow_contact, USER_ALLOW_CONTACT_NONE %> No one</span>
        <span class="unlabelled"><%= f.radio_button :allow_contact, USER_ALLOW_CONTACT_ANYONE %> Anyone</span>
        <span class="unlabelled"><%= f.radio_button :allow_contact, USER_ALLOW_CONTACT_STUDENTS_ONLY %> Only students who have purchased at least one of your lessons</span>
      </li>
      <li class="bottom">
        <span class="unlabelled">
          <%= f.submit "Update Privacy", :id => "update_privacy" %>
          <%= link_to 'Cancel', home_path %>
        </span>
      </li>
    </ul>
  <% end %>
</div>