<% form_for(:user, :url => update_privacy_account_url(@user, :protocol => SECURE_PROTOCOL), :html => { :method => :put, :id => "privacy" }) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Update Privacy Settings</legend>
    <ul>
      <li><%= f.check_box :show_real_name %><label for="show_real_name"> Show Real First and Last Name</label></li>
      <li class="help" style="margin-left:28px;">(if you leave this unchecked, other users will only see your username)</li>
    </ul>
    <p>Who can contact you via email?</p>
    <ul>
      <li><%= f.radio_button :allow_contact, USER_ALLOW_CONTACT_NONE %><label for="<%= USER_ALLOW_CONTACT_NONE %>">No one</label></li>
      <li><%= f.radio_button :allow_contact, USER_ALLOW_CONTACT_ANYONE %><label for="<%= USER_ALLOW_CONTACT_ANYONE %>">Anyone</label></li>
      <li><%= f.radio_button :allow_contact, USER_ALLOW_CONTACT_STUDENTS_ONLY %><label for="<%= USER_ALLOW_CONTACT_STUDENTS_ONLY %>">Only students have purchased at least one of your lessons</label></li>
    </ul>
    <p>Don't worry...even if you choose to allow other users to contact you via email, those users will not see your email address.</p>
  </fieldset>
  <p>
    <%= f.submit "Update", :disable_with => translate('general.disable_with') %>
    <%= link_to 'Cancel', home_path %>
  </p>
<% end %>