<div class="fh-form">

<% form_for(:user, :url => update_venture_account_url(@user, :protocol => SECURE_PROTOCOL), :html => { :method => :put, :id => "author" }) do |f| %>
  <%= f.error_messages %>
  <ul id="instructor-info" class="section">
    <li class="header">
      <span></span>
      <h3>Description</h3>
      <h4>Tell us more about your venture and the industry you are in.</h4>
    </li>
    <li>
      <span>
        <%= f.label :description %>
        <%= f.text_field :description, :maxlength => "1000" %>
      </span>
      <div class="counter"><span id="description_counter"></span> characters left</div>
    </li>
    <li>
      <span>
        <%= f.label :legal_entity %>
        <%= f.select(:legal_entity,
                     [
                        ['INC', :INCORPORATED],
                        ['DBA', :DOING_BUSINESS_AS],
                        ['GP', :GENERAL_PARTNERSHIP],
                        ['LLC', :LIMITED_LIABILITY_CORPORATION],
                        ['LLLP', :LIMITED_LIABLITY_LIMITED_PARTNERSHIP],
                        ['LLP', :LIMITED_LIABILITY_PARTNERSHIP],
                        ['LP', :LIMITED_PARTNERSHIP],
                        ['PLLC', :PROFESSIONAL_LIMITED_LIABILITY_COMPANY],
                        ['PC', :PROFESSIONAL_CORPORATION],
                        ['SP', :SOLE_PROPRIETORSHIP]
                     ]) %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :state_incorporated, "State or Region Incorporated In" %>
        <%= f.text_field :state_incorporated %>
        <span class="required-field"></span>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :NSSIC, "NASIC" %>
        <%= f.text_field :NASIC %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :finance_stage %>
        <%= f.select(:finance_stage,
                     [
                             ['Seed', :SEED],
                             ['Round A', :ROUND_A],
                             ['Round B', :ROUND_B],
                             ['Round C', :ROUND_C],
                             ['Past Round D',:ROUND_D_PLUS]
                     ]) %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :website_URL %>
        <%= f.text_field :website_URL, :maxlength => "255" %>
      </span>
      <div class="counter"><span id="website_URL_counter"></span> characters left</div>
    </li>

    <li class="header">
      <span></span>
      <h3>Product</h3>
      <h4>...and about the product you're developing.</h4>
    </li>
    <li>
      <span>
        <%= f.label :development_stage %>
        <%= f.select(:development_stage,
                     [
                             ['Idea', :IDEA],
                             ['Prototype', :PROTOTYPE],
                             ['Alpha', :ALPHA],
                             ['Beta', :BETA],
                             ['Production', :PRODUCTION]
                     ]) %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :has_customer, "I have a customer." %>
        <%= f.check_box :has_customer, {}, "true", "false"  %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :is_paying_customer, "Paying customer." %>
        <%= f.check_box :is_paying_customer, {}, "true", "false"  %>
      </span>
    </li>

    <li class="header">
      <span></span>
      <h3>Team</h3>
      <h4>...and the team you're looking to assemble and compenstation.  Check the roles you need filled.
      </h4>
    </li>
    <li>
      <span>
        <%= f.label :president_needed, "President needed." %>
        <%= f.check_box :president_needed, {}, "true", "false" %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :CTO_needed, "CTO needed."%>
        <%= f.check_box :CTO_needed, {}, "true", "false" %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :CFO_needed, "CFO needed." %>
        <%= f.check_box :CFO_needed, {}, "true", "false" %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :advisors_needed %>
        <%= f.check_box :advisors_needed, {}, "true", "false" %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :mentor_needed %>
        <%= f.check_box :mentor_needed, {}, "true", "false" %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :graphic_designer_needed %>
        <%= f.check_box :graphic_designer_needed, {}, "true", "false" %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :product_owner_needed %>
        <%= f.check_box :product_owner_needed, {}, "true", "false" %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :scrum_master_needed %>
        <%= f.check_box :scrum_master_needed, {}, "true", "false" %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :programmer_needed %>
        <%= f.check_box :programmer_needed, {}, "true", "false" %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :architects_needed %>
        <%= f.check_box :architects_needed, {}, "true", "false" %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :sysadmins_needed %>
        <%= f.check_box :sysadmins_needed, {}, "true", "false" %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :technical_writer_needed %>
        <%= f.check_box :technical_writer_needed, {}, "true", "false" %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :marketing_needed %>
        <%= f.check_box :marketing_needed, {}, "true", "false" %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :marketing_needed %>
        <%= f.check_box :sales_needed, {}, "true", "false" %>
       </span>
    </li>
    <li>
      <span>
        <%= f.label :compensation, "Equity compensation." %>
        <%= f.check_box :equity_compensation, {}, "true", "false" %>
      </span>
    </li>
    <li>
      <span>
        <%= f.label :compensation, "Cash compensation." %>
        <%= f.check_box :cash_compensation, {}, "true", "false" %>
       </span>
    </li>

    <li class="bottom">
      <span class="unlabelled">
        <%= f.submit "Update", :id => "venture_update" %>
        <%= link_to 'Cancel', home_path %> |
      </span>

      <div class="clear"/>
    </li>
  </ul>
  <% end %>
</div>
