<% title "Orders" -%>
<% @current = 'orders' %>

<h3>Orders</h3>

<div class="span-12 search-box-container">
  <% form_for(@search, :html => { :class => "search-box clearfix" }) do |f| %>
    <div class="span-6 right">
      <%= f.label :user_login_like, "Username" %>
      <%= f.text_field :user_login_like, :style => "width:360px;" %>
    </div>
    <div class="span-6 last">
      <%= f.label :id_equals, "Order Number" %>
      <%= f.text_field :id_equals, :style => "width:270px;" %>
      <%= f.submit "Search" %>
    </div>
  <% end %>
</div>

<div class="span-12">
  <table>
    <tr>
      <th>Order Number</th>
      <th>Ordered Date</th>
      <th>User</th>
      <th>Amount</th>
    </tr>
    <%= render @orders %>
  </table>
</div>
<p><%= will_paginate @orders %></p>
<p>Rows to Display Per Page: <%= per_page_select(orders_path) %></p>
