New Order

<% form_for @order do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :first_name %><br/>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %><br/>
      <%= f.text_field :last_name %>
    </p>
    <P>Billing Address</P>
    <p>
      <%= f.label :billing_name %><br/>
      <%= f.text_field :billing_name %>
    </p>
    <p>
      <%= f.label :address1 %><br/>
      <%= f.text_field :address1 %>
    </p>
    <p>
      <%= f.label :address2 %><br/>
      <%= f.text_field :address2 %>
    </p>
    <p>
      <%= f.label :city %><br/>
      <%= f.text_field :city %>
    </p>
    <p>
      <%= f.label :state %><br/>
      <%= f.text_field :state %>
    </p>
    <p>
      <%= f.label :zip %><br/>
      <%= f.text_field :zip %>
    </p>
    <p>
      <%= f.label :country %><br/>
      <%= localized_country_select(:order, :country, []) %>
    </p>
    <p>
      <%= f.label :card_type %><br/>
      <%= f.select :card_type, [['Visa', 'visa'], ['Mastercard', 'master'],
                                ['Discover', 'discover'], ['American Express', 'american_express']],
                   :prompt => 'Please select...' %>
    </p>
    <p>
      <%= f.label :card_number %><br/>
      <%= f.text_field :card_number %>
    </p>
    <p>
      <%= f.label :card_verification, "Card Verification (CVV)" %><br/>
      <%= f.text_field :card_verification %>
    </p>
    <p>
      <%= f.label :card_expires_on %><br/>
      <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year,
                        :end_year => Date.today.year + 10, :add_month_numbers => true %>
    </p>
    <p><%= f.submit "Submit" %></p>
<% end %>


