<% title "Checkout" -%>

<%= stylesheet 'validation' %>
<%= javascript 'jquery.simplyCountable', 'validate/jquery.validate', 'validate/order.validate' %>

<div class="fh-form">
  <% form_for(@order, :protocol => SECURE_PROTOCOL, :html => { :id => "order" }) do |f| %>
      <%= f.error_messages %>
      <ul id="company-info" class="section">
        <li class="header">
          <span></span>

          <h3>Order Checkout</h3>
          <h4>Enter the information below to complete the order process.</h4>
        </li>
        <li>
        <span>
          <%= f.label :first_name %>
          <%= f.text_field :first_name, :maxlength => "50", :title => "You must provide your first name", :class => "required" %>
          <span class="required-field"/>
        </span>

          <div class="counter"><span id="order_first_name_counter"></span> characters left</div>
        </li>
        <li>
        <span>
          <%= f.label :last_name %>
          <%= f.text_field :last_name, :maxlength => "50", :title => "You must provide your first name", :class => "required" %>
          <span class="required-field"/>
        </span>

          <div class="counter"><span id="order_last_name_counter"></span> characters left</div>
        </li>
        <li>
          <span>
            <strong>Billing Information</strong>
          </span>
        </li>
        <li>
        <span>
          <%= f.label :billing_name %>
          <%= f.text_field :billing_name, :maxlength => "100", :title => "You must enter the name on the credit card", :class => "required" %>
          <span class="required-field"/>
        </span>

          <div class="counter"><span id="order_billing_name_counter"></span> characters left</div>
        </li>
        <li>
        <span>
          <%= f.label :address1 %>
          <%= f.text_field :address1, :maxlength => "150", :title => "You must enter the your street address", :class => "required" %>
          <span class="required-field"/>
        </span>

          <div class="counter"><span id="order_address1_counter"></span> characters left</div>
        </li>
        <li>
        <span>
          <%= f.label :address2 %>
          <%= f.text_field :address2, :maxlength => "150" %>
        </span>

          <div class="counter"><span id="order_address2_counter"></span> characters left</div>
        </li>
        <li>
        <span>
          <%= f.label :city %>
          <%= f.text_field :city, :maxlength => "50", :title => "You must provide your billing city", :class => "required" %>
          <span class="required-field"/>
        </span>

          <div class="counter"><span id="order_city_counter"></span> characters left</div>
        </li>
        <li>
        <span>
          <%= f.label :state %>
          <%= f.text_field :state, :maxlength => "50", :title => "You must provide your billing state", :class => "required" %>
          <span class="required-field"/>
        </span>

          <div class="counter"><span id="order_state_counter"></span> characters left</div>
        </li>
        <li>
        <span>
          <%= f.label :zip, "Postal Code" %>
          <%= f.text_field :zip, :maxlength => "25", :title => "You must provide your billing postal code", :class => "required" %>
          <span class="required-field"/>
        </span>

          <div class="counter"><span id="order_zip_counter"></span> characters left</div>
        </li>
        <li>
        <span>
          <%= f.label :country %>
          <%= localized_country_select(:order, :country, []) %>
          <span class="required-field"/>
        </span>
        </li>

        <% unless current_user.verified_address_on %>
            <li>
        <span>
          <%= f.check_box :default_address %> Save this address for future orders.
        </span>
            </li>
        <% end %>
        <li>
          <span>
            <strong>Credit Card</strong>
          </span>
        </li>
        <li>
        <span>
          <%= f.label :card_type %>
          <%= f.select :card_type, Order.card_types, :prompt => 'Please select...', :value => "", :class => "required" %>
          <span class="required-field"/>
        </span>
        </li>
        <li>
        <span>
          <%= f.label :card_number %>
          <%= f.text_field :card_number, :title => "You must provide your credit card number", :class => "required" %>
          <span class="required-field"/>
        </span>
        </li>
        <li>
        <span>
          <%= f.label :card_verification, "Card Verification (CVV)" %>
          <%= f.text_field :card_verification, :title => "You must provide your credit card verification number", :class => "required" %>
          <span class="required-field"/>
        </span>
        </li>
        <li>
        <span>
          <%= f.label :card_expires_on %>
          <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year,
                            :end_year => Date.today.year + 10, :add_month_numbers => true %>
          <span class="required-field"/>
        </span>
        </li>
        <li class="bottom">
        <span class="unlabelled">
          <%= f.submit "Place Order" %>
          <%= link_to 'Cancel', cart_path(@current_cart) %>
        </span>

          <div class="clear"/>

        </li>
      </ul>
  <% end %>
</div>