

<h2>Uh oh, it looks like you're using a very old version of Internet Explorer.</h2>

<div class="warning">
<div class="sad">
  <h3>PSST ... YOU NEED A NEW BROWSER</h3>
  <h4>Here's the deal ...</h4>
  <ul>
    <li>Your browser&mdash;Internet Explorer 6&mdash;is over 9 years old. It's ancient.</li>
    <li>It has a hard time properly interpreting the way web sites are made in 2010.</li>
    <li>Although it's possible to use it, <strong>our site will NOT function correctly</strong> with Internet Explorer 6. </li>
  </ul>

  <h4>What do I need to do?</h4>
  <ol>
    <li><strong>Download, install and come back.</strong></li>
    <li>YOU ARE DONE.</li>
  </ol>
  <h4>Hold on, what's in it for me?</h4>
  <ul>
    <li>SPEED. New browsers are FASTER.</li>
    <li>SECURITY. New browsers will safeguard you from bad guys and hackers and the tricks they play.</li>
    <li>MORE FEATURES. Sites like ours will look nicer and offer more features.</li>
  </ul>
  <h4>You owe it to yourself to get a upgrade ... it's free.</h4>
</div></div>


<div class="info">
  <div class="happy">
    <h3>REALLY, HOW?</h3>
    <h3>Simple. 1) Download, 2) install 3) come back.</h3>
    <p>(We know it's a hassle, but you'll be much happier with a new shiny browser.)</p>

    <h3>Ready?</h3>

    <h4>4 great choices (just pick one, we don't care which)</h4>
    <ul class='bulletless valign-all browser-list clickable'>
      <li><%= image_tag('/images/general/browsers/IE-32.png', :alt => 'Internet Explorer 8') %>   <%= link_to 'Internet Explorer 8', "http://www.microsoft.com/windows/internet-explorer" %></li>
      <li><%= image_tag('/images/general/browsers/Chrome-32.png', :alt => 'Google Chrome') %>   <%= link_to 'Google Chrome', "http://www.google.com/chrome" %></li>
      <li><%= image_tag('/images/general/browsers/Safari-32.png', :alt => 'Safari') %>   <%= link_to 'Safari (Apple)', "http://www.apple.com/safari/download/" %></li>
      <li><%= image_tag('/images/general/browsers/Firefox-32.png', :alt => 'Firefox') %>   <%= link_to 'Firefox', "http://www.mozilla.com/en-US/firefox/upgrade.html" %></li>
    </ul>

    <hr style="margin:40px 0 20px 0" />

    <h3>But my boss won't let me :(</h3>

    <h4>Okay, may be you're not "allowed" to install a completely new browser ... but ...</h4>

    <p><strong>Here's a good alternative &mdash; Google Chrome Frame</strong></p>

    <ul style="margin-bottom:2em">
      <li>Instead of replacing the entire browser, you can replace it's "engine" with a more advanced one (aka "Google Chrome Frame").  </li>
      <li>Install Google Chrome Frame and it <u>functions like a brand-new browser yet still looks just like the ol' Internet Explorer 6</u> dog that it is. </li>
      <li>You'll benefit with faster, safer browsing&mdash;but still have that "classic" old browser look.</li>
      <li>Clever, huh?</li>
    </ul>

    <ul class='bulletless valign-all browser-list clickable'>
      <li><%= image_tag('/images/general/browsers/Chrome-32.png', :alt => 'Google Chrome Frame') %>   <%= link_to 'Google Chrome Frame', "http://www.google.com/chromeframe" %></li>
    </ul>

  </div></div>
