<% title "Frequently Asked Questions" -%>

<% content_for :head do -%>
    <a name="top" id="top" class="anchor"></a>
<% end -%>

<div id="faqs_section">

<div id="questions">
  <h3>Frequently Asked Questions</h3>
  <h4>For Everyone</h4>
  <ul>
    <li><a href="#general" class="anchorLink">General</a></li>
    <li><a href="#privacy" class="anchorLink">Privacy</a></li>
    <li><a href="#managing-my-account" class="anchorLink">Managing My Account</a></li>
    <li><a href="#buying-lessons" class="anchorLink">Buying Lessons/Credits</a></li>
    <li><a href="#groups" class="anchorLink">Groups</a></li>
  </ul>

  <h4>For Instructors</h4>
  <ul>
    <li>Visit <%= link_to "Instructor How To's &raquo;", page_path('instructor-how-tos') %></li>
  </ul>
</div>

<a name="general" id="general" class="anchor"></a>

<div class="answers">
  <h4>General</h4>

  <h5>Why is English my only choice in the language drop-down?</h5>

  <div>
    <p>English is just the beginning...but we're still in 'beginning' stage. Want to influence what the next languages
      should be? Go to our 'Feedback' button on the right of the page and vote on what you'd like to see next. And if
      you'd be interested in helping us translate the site into another language, we'd love to know that as well.</p>
  </div>

  <h5>What browsers are supported?</h5>

  <div>
    <p>The big ones at the moment but more to come. Firefox 3.0 and higher, InternetExplorer 7.x and higher, Safari,
      Chrome. Other browsers and versions may work just fine, but we don't guarantee it. If there's a browser you think
      we should support but don't, we'd love to hear from you.</p>
  </div>

  <h5>I've made changes to my user's avatar or my group's logo but they are not reflected on the site.</h5>

  <div>
    <p>
      Firehoze uses a Content Delivery Network or CDN to deliver videos and images to you as efficiently as possible.
      The CDN stores the images on computers around the world to ensure that when you browse, that content can be
      delivered to you quickly. If you've made a change but dont' see it reflected, it's probably because you're still
      seeing the old version of the image stored on the CDN. The CDN does refresh itself periodically. Your updated
      image will likely appear within a day or two. Or, if you'd like to speed things along, try uploading your image
      again but using a different filename.
    </p>
  </div>

  <p>&nbsp;&uarr;<a href="#top" class="top anchorLink">return to top</a></p>
</div>


<a name="privacy" id="privacy" class="anchor"></a>

<div class="answers">
  <h4>Privacy</h4>
  <h5>Do you share emails addresses?</h5>

  <div>
    <p>Nope, never. Even if you choose to allow other Firehoze users to contact you via email, those users will never
      see your actual email address.</p>
  </div>

  <h5>Do you sell information?</h5>

  <div>
    <p>Only if they offer us a lot of money. Okay, kidding, we don't...we hate having our information sold too.</p>
  </div>

  <h5>Can people contact me directly?</h5>

  <div>
    <p>Only if you want them to. The default is 'no' but to change this setting go
      to <%= link_to_if current_user, "Account Settings", edit_privacy_account_path(current_user ? current_user : "1") %>
      at
      the top of the page and click on the 'Privacy' tab to make your selection.</p>
  </div>

  <h5>How can I see what my public profile is?</h5>

  <div>
    <p>You can look at this by select "My Public Page" from the main navigation menu at the top of the page.</p>
  </div>

  <p>&nbsp;&uarr;<a href="#top" class="top anchorLink">return to top</a></p>
</div>


<a name="managing-my-account" id="managing-my-account" class="anchor"></a>

<div class="answers">
  <h4>Managing My Account</h4>

  <h5>Where can I find a record of lessons I've purchased?</h5>

  <div>
    <p>Navigate to <%= link_to_if current_user, "My Firehoze", my_stuff_my_firehoze_path(:anchor => 'owned') %> and
      click on the "My Stuff" button.</p>
  </div>

  <h5>Where can I see how many credits I have left?</h5>

  <div>
    <p>Navigate
      to <%= link_to_if current_user, "My Firehoze", account_history_my_firehoze_path(:anchor => "available_credits") %>
      . You'll see your credits remaining in the top right corner of the page.</p>
  </div>

  <h5>How do I change my user name?</h5>

  <div>
    <p>To change your username, click on
      the <%= link_to_if current_user, "Account Settings", edit_account_path(current_user ? current_user : "1") %> link
      at the top of the site.
    </p>
  </div>

  <h5>How can I change my password?</h5>

  <div>
    <p>To change your password, click on
      the <%= link_to_if current_user, "Account Settings", edit_password_path(current_user ? current_user : "1") %> link
      at the top of the site. Then go to the
      'Password' tab.</p>
  </div>

  <h5>How do I edit my email information?</h5>

  <div>
    <p>To change your address or contact information, click on
      the <%= link_to_if current_user, "Account Settings", edit_account_path(current_user ? current_user : "1") %> link
      at the top of the site.
      link at the top of the site, then click on the 'Profile' tab.</p>
  </div>

  <h5>How can I retrieve my password and/or member name?</h5>

  <div>
    <p>Just click on the 'Forgot password 'link on the login page.</p>
  </div>

  <p>&nbsp;&uarr;<a href="#top" class="top anchorLink">return to top</a></p>
</div>

<a name="buying-lessons" id="buying-lessons" class="anchor"></a>

<div class="answers">
  <h4>Buying Lessons/Credits</h4>

  <h5>How do I purchase lessons from your site?</h5>

  <div>
    <p>All you need to do is buy one or more credit(s) to purchase tutorials. You can easily purchase credits by selecting on the 'Buy Credits' link under the Credits menu.</p>
  </div>

  <h5>Why do you use credits?</h5>

  <div>
    <p>To make your browsing and buying experience easier. It would be a pain to have to do a full shopping cart checkout and specify your credit card each time you want to watch a lesson. Buying a bunch of credits makes it easier to quickly view lessons when you find one you want.</p>

    <p>Oh yeah, also, if all credit card transactions were 99 cents each, the credit card companies would kill us on
      fees and we'd have to charge more for the lessons.</p>
  </div>

  <h5>Where are my receipts?</h5>

  <div>
    <p>Navigate to <%= link_to_if current_user, "My Firehoze", account_history_my_firehoze_path(:anchor => "orders") %>,
      click on the "Account History" button and then click the "Orders" tab.</p>
  </div>

  <h5>How can I give credits to someone else?</h5>

  <div>
    <p>A gift certificate is the best and easiest way to do this. You can purchase a gift certificate from the online
      store. 'Buy Credits' link under the Credits menu to navigate to the online store.</p>
  </div>

  <h5>Where are my receipts/download history?</h5>

  <div>
    <p>Navigate
      to <%= link_to_if current_user, "My Firehoze", account_history_my_firehoze_path(:anchor => "used_credits") %> and
      click on the "Account History" button.</p>
  </div>

  <h5>Do credits expire?</h5>

  <div>
    <p>Credits will expire within a year if you don't log into Firehoze. All you have to do to keep your credits from
      expiring is log on at least once a year. Pretty simple, right?</p>

    <p>If you have credits that are about to expire, we'll warn you via email 30 days before they expire, just to remind
      you to log on to keep them alive.</p>
  </div>

  <p>&nbsp;&uarr;<a href="#top" class="top anchorLink">return to top</a></p>

  <a name="firehoze-group" id="groups" class="anchor"></a>

  <div class="answers">
    <h4>Groups</h4>

    <h5>What is a Firehoze group?</h5>

    <div>
      <p>Groups are virtual communities within Firehoze that make it easy to communicate and collaborate with other users who share your interests. Groups can be anything you want them to be. You can create a group for your study group, for your school, for other instructors or students of a particular topic area&#0133;anything you want them to be.</p>
      <p>Groups allow you to engage in online dialog with other group members. You can also add lessons to the group that you think other Firehoze users will find interesting.</p>
    </div>

    <h5>How do I create a group?</h5>

    <div>
      <p>Simply navigate to any Firehoze group. For example, you can browse by cateogry in the Categories tab in the main menu. Once on the group page, simply click the "Join" button (as shown circled below).</p>
      <%= image_tag("FAQs/join-group/image_join_group.png", :alt => 'Join Group') %>
      <p>If you ever want to leave the group, simply click the "Leave Group" button (which appears where the Join group button was before).</p>
    </div>

    <h5>What is a private group?</h5>

    <div>
      <p>A private group is a group for which you must be invited in order to join. Private groups are invisible to non-members of that group.</p>
      <p>For example, if you wanted to create a group to allow your study group to collaborate and share videos, you don't necessarily want your communications to be publically viewable. In this case, you might create that group as a private group.</p>
      <p>For a private group, the group owner or group moderators can invite other users to join the group.</p>
    </div>

    <h5>What is a group moderator?</h5>

    <div>
      <p>A moderator manages the group. Along with a group owner, the moderator for a group can add lessons to group, and can manage comments in the discussion threads &mdash; for example, editing or removing comments that are inappropriate. For private groups, group moderators (along with the group owners) can invite other Firehoze users to join the group.</p>
      <p>The group owner is responsible for promoting group members to become moderators.</p>
    </div>

    <h5>How do I add lessons to a group?</h5>

    <div>
      <p>If you are an owner or a moderator for a group, you can add lessons to that group. This allows you to share lesson recommendations with other group members which feel might be of interest to that community of users.</p>
      <p>To add a lesson, first navigate to the lesson show page for the lesson which you wish to add. On the lesson show page, select the "Groups" tab (as shown below):</p>
      <%= image_tag("FAQs/join-group/image_lesson_added.png", :alt => 'Groups tab on the show lesson apge') %>
      <p>If you are a group owner or moderator, within the Groups tab you will have the option to add or remove that lesson from your groups. For exmaple, in the screenshot above you could click the "Add" button next to the Calculus group to add this lesson to that group.</p>
    </div>

    <h5>As a group member, can I view any lesson that has been added to my group?</h5>

    <div>
      <p>A group member can only view a lesson if they have purchased that lessons, regardless of whether a lesson has been added to that group or not.</p>
      <p>The purpose of adding a lesson to a group is to share a recommendation for a lesson which you think would be appropriate to other members of the group. However, view lessons, a user still must purchase it</p>
    </div>
  </div>

  <p>&nbsp;&uarr;<a href="#top" class="top anchorLink">return to top</a></p>

</div>
</div>