<div id="actions" style="text-align:right"><%= link_to(content_tag(:span, "Browse Our #{t('general.lessons')}"), categories_path, :class => 'large-button call-to-action') %><%= link_to(content_tag(:span, "Register for Free"), new_registration_path, :class => 'large-button call-to-action') %><%= link_to(content_tag(:span, "Return to Home Page"), lessons_path, :class => 'large-button call-to-action') %></div>

<h3>vLaunch for Entrepreneurs</h3>
<h4>“Getting customers… is the only validation you need”<br/>&nbsp;&nbsp;&nbsp; — Paul Kelley, investor in over 200 companies."</h4>

<!--<div style="width:<%= PLAYER_WIDTH %>px;height:<%= PLAYER_HEIGHT %>px;" id="playerbox"></div>-->
<br />
<p>Entrepreneurs can either find early adopter customers themselves, path (A) or they can be introduced to an Influencer who will help them initiate and close an early adopter deal, path (B).</p>
<p>vLaunch provides short, targeted videos of a business idea or unique service opportunity.  This video helps entrepreneurs get their message out and helps them find people who can positively influence a potential customer.</p>
<p>Face it – sometimes the rest of the world just does not get it!  Startups think that all they need is a well written business plan, with tons of financial spreadsheets and then an unwitting venture capitalist will shower them with millions in startup capital.  Fat chance!</p>
<p>At vLaunch, we believe that innovative companies must launch themselves.  But we are aware that they cannot do this alone.  Influencers can help you identify lead customers to gain early revenue and viability.  Successfully winning paying customers, enables early-stage companies to obtain additional capital and become an on-going enterprise.</p>
<p>Over the past 20 years, a common focus to creating a startup has relied on building angel or venture sales pitches. Subsequent funding, if any, often is used to develop and refine the technology rather than concentrating on developing sales. Lack of customer contact tends to overemphasizes technology (and can often create a solution looking for a problem to solve).</p>
<p>In addition, when it comes to finding customers, early-stage companies frequently depend on staff, funders, advisors, friends, etc. to introduce them to people who may be interested in buying. Such an approach relies largely upon serendipity, or just plain luck.</p>
<p>For many, this poses a high level of risk because principals in the emerging company may not know the right people, or enough people with the right connections.</p>
<p>vLaunch surmounts this shortcoming by systematically leveraging new social networking platforms to search for connections between entrepreneurs’ products, potential influencers and ultimately customers.</p>


<p><%= image_tag("vlaunch/arrow_triangles.png") %></p>
<h4>vLaunch makes it easy to find your personal influencer through its searchable catalog of professional and community-generated offerings and ideas.</h4>
<p>Let’s say you are struggling to find just the right early adopter customers for your product. You can search the internet and sift through random hits that may or may not suit your needs. Or you browse LinkedIn hunting for a relevant companies amongst the job seekers and consultants. Or you can search the vLaunch community and quickly find people who can help you influence an early adopter within a company.  All you have to do is create a short video, or PowerPoint to help an influencer understand where you need to focus.</p>

<h4>vLaunch is affordable.</h4>
<p>vLaunch follows a simple model – videos cost 99 cents - vLaunch splits the proceeds with the creator of that video. You can watch a preview of a video for free so you can be confident that a session will meet your needs before you buy. You can also see ratings and read reviews by other people. And, much like Amazon, our advanced shopping tools let you see advanced metrics such as “What Do People Ultimately Buy after Browsing This Session?” Once you purchase a video, you can watch it as many times as you like.</p>

<h4>vLaunch is more than a website – it’s a community.</h4>
<p>As a vLaunch user, you can engage in online discussion with influencers and other participants. Join a group to collaborate with other users who share your interests. Or create your own group. And if you can’t find a session that meets your needs, request a new topic and watch the community respond.</p>

    <script language='javascript'>
//        $f("playerbox", "http://s3.amazonaws.com/videos.firehoze.com/flowplayer-3.1.5.swf", {
        $f("playerbox", {src: 'http://releases.flowplayer.org/swf/flowplayer.commercial-3.1.5.swf', wmode: 'opaque'}, {

            key: '#$2530218aaff22a9be9e',

            canvas: {
                background: 'url(/images/videos/splash-default-24.png)  no-repeat 0 155'
            },
            play: {
                label: 'Play',
                replayLabel: 'Play again'
            },
            clip: {
                provider: 'rtmp',
                url: 'flv:ableroad/videos/68/full',
                scaling: "fit",
                autoPlay:true,
                autoBuffering:false,
                bufferLength: 10,
                accelerated: true
            },
            plugins: {
                rtmp: {
                    url: 'flowplayer.rtmp-3.1.3.swf',
                    netConnectionUrl: 'rtmp://s1dgh9ehsb2kvf.cloudfront.net/cfx/st'
                }
            }
        });
    </script>
