<% title "Uploading How To's" -%>
<% content_for :head do -%>
    <a name="top" id="top" class="anchor"></a>
<% end -%>

<div id="howtos_section">
  <div class="answers">
    <h3>Uploading How To's</h3>
<p><%= link_to "Back to Instructor How To's", page_path("instructor-howto-main") %></p>

    <p>Ready to share your lesson with the community? Here are some tips and advice to get your lesson online and
      seen.</p>
    <h5>Best video formats for uploading <i>(missing)</i></h5>
    <h5>How to upload a lesson</h5>

    <div>
      <ol>
        <li>Log in to firehoze and select “create lesson”</li>
        <li>Fill out the required fields including “Title” use a descriptive title</li>
        <li>Provide a brief synopsis of your lesson in the “Synopsis” field</li>
        <li>Enter notes that will help your students in the “Notes” field</li>
        <%= image_tag("howto/howto-upload/image001-enter-fields.png", :alt => 'Enter lesson fields') %>
        <li>Provide tags that will help students find your lessons</li>
        <li>Chose at least 5 free downloads so that your lesson will get rated</li>
        <li>Chose a category that is appropriate to you lesson, select “Everything Else” if you cannot find a good match
          and use the GetSatisfaction feedback option or send email to info@firehoze.com to request additional
          categories
        </li>
        <li>Select the “Video” to be uploaded.</li>
        <li>Finally select “Create Lesson”. Ensure you have a high speed connection and your laptop is plugged into a
          power outlet (not running on batteries)
        </li>
        <p>Note: The file size of typical lessons are very large and take time to upload. While an email is typically
          less than 1Mb, a lesson can easily be larger than 100Mb. It is best to upload when having a reliable high
          speed internet connection.
          “Uploading, pleasing standby ... Don't leave the page...the upload will take a while — but it's still working
          (leaving this page before the upload has completed will result in making your lesson unavailable to
          others)”</p>
        <li>“Success!</li>
      </ol>
      <p>Your lesson created and your video has been submitted for processing. You should receive notification when your
        lesson video is ready for viewing.”</p>

      <p>Note: Once uploaded, processing time ranges from 15 minutes to 2 hours depending on the number lessons that
        need to be processed. Please allow up to 24 hours before reporting an issue.</p>
    </div>
    <h5>Tagging tips <i>(missing)</i></h5>
    <h5>Why add Synopsis and Notes <i>(missing)</i></h5>
    <h5>How to add attachments and why <i>(missing)</i></h5>
    <h5>Tools for video conversion <i>(missing)</i></h5>                               <h5>How do I become an instructor?</h5>

  <div>
    <p>Easily...</p>
    <ol>
      <li>Navigate to <%= link_to_if current_user, "My Firehoze", my_firehoze_index_path(:anchor => "credits") %>.</li>
      <li>Click the "Become an Instructor" button to walk through the Instructor Signup Wizard.</li>
      <li>Complete all steps in the wizard.</li>
      <li>Start teaching!</li>
    </ol>
  </div>

  <h5>How do I create my first lesson?</h5>

  <div>
    <p>Download the following document for a step-by-step walkthrough of the
      process: <%= link_to "How to Upload a Lesson to Firehoze", "http://amazonassets.simplecdn.net/mkt_assets/HowToUploadAVideo_screenshots.pdf" %></p>
  </div>

  <h5>Why give me the option to provide free downloads when I post a lesson?</h5>

  <div>
    <p>Free downloads give you the chance to build up some ratings and reviews before users have to purchase your lesson. It can be a good way to build your reputation, activity and traction on the site.</p>
  </div>

  <h5>How do I pull or delete a lesson?</h5>

  <div>
    <p>Shoot us an email
      (<a href="javascript:location='mailto:\u0073\u0075\u0070\u0070\u006f\u0072\u0074\u0040\u0066\u0069\u0072\u0065\u0068\u006f\u007a\u0065\u002e\u0063\u006f\u006d';void 0">
      <script type="text/javascript">document.write('\u0073\u0075\u0070\u0070\u006f\u0072\u0074\u0040\u0066\u0069\u0072\u0065\u0068\u006f\u007a\u0065\u002e\u0063\u006f\u006d')</script>
    </a>) providing your user name and the title of the tutorial you'd like pulled. 
    </p>
  </div>

  <h5>What happens when I request a lesson to be pulled? What happens to my ratings and reviews when I pull a lesson?</h5>

  <div>
    <p>We will mark the lesson as rejected. As the author, you will still be able to see the lesson. To other Firehoze users, the lesson and all associated notes, comments and reviews will be invisible.</p>
  </div>

  <h5>What are the specs required for lesson videos to be uploaded?</h5>

  <div>
    <p>Files must be less than 500 MB. We support the following file formats:</p>
    <ul>
      <li>MPEG-1, MPEG-2, H.263, H.264</li>
      <li>All MPEG-4 implementations (Xvid, 3vix, etc.)</li>
      <li>AVI</li>
      <li>.MOV</li>
      <li>MP4</li>
      <li>.MPG, .VOB (unencrypted VOBs only)</li>
      <li>Windows Media/VC-1</li>
      <li>3GP/3G2</li>
      <li>Ogg Theora</li>
      <li>MJPEG</li>
    </ul>
  </div>

  <h5>Why am I receiving an error message when I upload my video, even though it's one of the supported file types?</h5>

  <div>
    <p>You might see an error such as:</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Validation failed: Video is not one of the allowed file types. (content
      type:application/octet-stream)</i></p>


    <p>if you try to upload a MOV file and Quicktime is not installed on your computer.</p>

    <p>To eliminate this you may want to either download the appropriate video player, or save your video in a format
      that you are able to play locally. If you are an IE user and receiving this error when trying to upload an MP4,
      downloading 3ivx should help eliminate the issue. Click
      <a href="http://www.3ivx.com/download/windows.html">here</a> to download.</p>
  </div>

  <h5>I keep getting kicked off before my lesson has finished uploading. What should I do?</h5>

  <div>
    <p>Depending on the size of your lesson and connection speed, you may find that the site timeouts before your file
      has been able to complete the upload process. The site will currently timeout after 60 minutes. To calculate how
      long it may take for you to upload your lesson, per your file size and connection speed, go to
      <a href="http://www.t1shopper.com/tools/calculate/downloadcalculator.php">http://www.t1shopper.com/tools/calculate/downloadcalculator.php</a>.
    </p>

    <p>For example, a 62 meg file on dial-up may take almost 2.5 hours to upload but only 6 minutes on a DSL
      connection.</p>

    <p>If your download is going to take a long time, you can open a separate tab in the same browser and periodically
      navigate to other pages while your video is uploading. Doing so will ensure that your session remains alive.</p>

    <p>For additional help with this or to request more time, contact us at
      <a href="http://getsatisfaction.com/firehoze/topics">Support</a>.</p>
  </div>
    <h5>Troubleshooting <i>(missing)</i></h5>
    <h5><%= link_to "More FAQs", page_path("faqs") %></h5>
  </div>
  <p>&nbsp;&uarr;<a href="#top" class="top anchorLink">return to top</a></p>
</div>
