<% title "Instructor How To's" -%>

<% content_for :head do -%>
    <a name="top" id="top" class="anchor"></a>
<% end -%>

<div id="faqs_section">

  <div id="questions">
    <h3>Instructor How To's</h3>
    <p>We have a variety of how-to's to help get you started creating and recording lessons.</p>
    <h4>Get started creating your first lesson</h4>
    <ol>
      <li><a href="#getstarted" class="anchorLink">Getting started</a>
      <li><a href="#nowwhat" class="anchorLink">I have a topic, now what?</a>
      <li><a href="#recording" class="recording">Start recording</a>
      <li><a href="#uploading" class="uploading">Upload your lesson</a>
    </ol>

    <h4>Other topics</h4>
    <ul>
      <li><a href="#payment-exclusivity" class="anchorLink">Payment/Exclusivity</a></li>
      <li><a href="#troubleshooting" class="troubleshooting">Troubleshooting</a>
      <li><%= link_to "Visit our FAQs Area &raquo; ", page_path("faqs") %></li>
    </ul>
    <!--<li><a href="#general" class="anchorLink">General</a></li>-->
    <!--<li><a href="#privacy" class="anchorLink">Privacy</a></li>-->
    <!--<li><a href="#managing-my-account" class="anchorLink">Managing My Account</a></li>-->
    <!--<li><a href="#buying-lessons" class="anchorLink">Buying Lessons/Credits</a></li>-->


    <p>Looking for more? Recommend additional how to topics you would find helpful via the Feedback button, and check out what
      others in the community are doing in the <%= instructors_group_link %>.</p>
  </div>

  <a name="getting-started" id="getstarted" class="anchor"></a>

  <%= render :partial => 'pages/instructor_how_tos/getting_started' %>

  <a name="now-what" id="nowwhat" class="anchor"></a>

  <%= render :partial => 'pages/instructor_how_tos/what_next' %>

  <a name="recording" id="recording" class="anchor"></a>

  <%= render :partial => 'pages/instructor_how_tos/recording' %>

  <a name="uploading" id="uploading" class="anchor"></a>

  <%= render :partial => 'pages/instructor_how_tos/uploading' %>



  <a name="payment-exclusivity" id="payment-exclusivity" class="anchor"></a>

  <div class="answers">
    <h4>Payment/Exclusivity</h4>

    <h5>How much does a instructor make?</h5>

    <div>
      <p>Firehoze pays a base royalty rate of 50% from the revenue of each lesson purchased for Exclusive instructors and
        25% for Non-exclusive instructors.</p>
    </div>

    <h5>How do I get paid and how often?</h5>

    <div>
      <p>Firehoze mails checks monthly on balances over $50. You may request a payment even if your balance is less than
        $50, but a $2 handling fee will be assessed. Please allow 1-2 weeks for processing.</p>
    </div>

    <h5>How long am I committed?</h5>

    <div>
      <p>Don't worry, if you change your mind, just let us know anytime before you've received 30 days in advance by email
        (<a href="javascript:location='mailto:\u0073\u0075\u0070\u0070\u006f\u0072\u0074\u0040\u0066\u0069\u0072\u0065\u0068\u006f\u007a\u0065\u002e\u0063\u006f\u006d';void 0">
        <script type="text/javascript">document.write('\u0073\u0075\u0070\u0070\u006f\u0072\u0074\u0040\u0066\u0069\u0072\u0065\u0068\u006f\u007a\u0065\u002e\u0063\u006f\u006d')</script>
      </a>) and we'll change your commission structure.
      </p>
    </div>

    <h5>What does it mean to be an Exclusive instructor?</h5>

    <div>
      <p>Exclusivity means your lessons and the associated content may not be sold or given away for free to other sites
        or businesses including on the instructor's site.</p>
    </div>

    <h5>How can I see how much money I've made?</h5>

    <div>
      <p>Navigate
        to <%= link_to_if current_user.try("verified_instructor?"), "My Firehoze", instructor_my_firehoze_path %> and
        click on the "Instructor Dashboard" button. Note the Instructor Dashboard
        button will only appear if you have signed up to be an instructor.</p>
    </div>

    <p>&nbsp;&uarr;<a href="#top" class="top anchorLink">return to top</a></p>
  </div>

  <a name="troubleshooting" id="troubleshooting" class="anchor"></a>

  <%= render :partial => 'pages/instructor_how_tos/troubleshooting' %>

  <!--<h3>Build your audience and earn more cash</h3>-->
  <!--<ul>-->
  <!--<li>Get more viewers, make more cash <i>(missing)</i></li>-->
  <!--<li>How to get better reviews <i>(missing)</i></li>-->
  <!--<li>Create/engage in a group <i>(missing)</i></li>-->
  <!--<li>Make sure your lesson can easily be found <i>(missing)</i></li>-->
  <!--<li>Promote your live-tutoring business <i>(missing)</i></li>-->
  <!--<li>Use it in the classroom <i>(missing)</i></li>-->
  <!--</ul>-->

  <h3>Check out the <%= instructors_group_link %> to learn how others in the Firehoze community are doing it and share your tips.</h3>
</div>