<% content_for :head do -%>
  <%= stylesheet_link_tag 'jquery-ui/smoothness/jquery-ui-1.7.2.custom', :media => "screen, projection" %>
  <%= javascript_include_tag 'tabs.js' %>
<% end %>

<h3>Firehoze Policies</h3>
<hr />
<div id="policy_tabs">
  <ul>
    <li><a href="#tabs-1">User Agreement</a></li>
    <li><a href="#tabs-2">Instructor Agreement</a></li>
    <li><a href="#tabs-3">Privacy Policy</a></li>
    <li><a href="#tabs-4">Copyright Policy</a></li>
  </ul>
  <div id="tabs-1"><%= render :partial => "pages/policies/user_agreement" %></div>
  <div id="tabs-2"><%= render :partial => "pages/policies/instructor_agreement" %></div>
  <div id="tabs-3"><%= render :partial => "pages/policies/privacy" %></div>
  <div id="tabs-4"><%= render :partial => "pages/policies/copyright" %></div>
</div>