<% title "Flag Inappropriate #{t("flag.#{@flag.flaggable.class.to_s.downcase}").capitalize}" -%>

<% content_for :footer do -%>
  <%= javascript_include_tag 'validation/flags.validate.js' -%>
<% end -%>

<div class="fh-form">
  <% form_for :flag, :url => flags_url(@flag, :flagger_type => @flag.flaggable.class.to_s, :flagger_id =>@flag.flaggable.id),  :html => { :class => "flag", :id => "flag" } do |f| %>
      <%= f.error_messages %>
      <ul id="flag-info" class="section">
        <li class="header">
          <span></span>

          <h3>
            Flag Inappropriate <%= t("flag.#{@flag.flaggable.class.to_s.downcase}").capitalize %>:
            </h3>
          <h3>
            <%= link_to h(@flag.friendly_flagger_name), flaggable_show_path(@flag) %>
            <% unless @flag.flaggable.class == User %>
                by <%= link_to_profile(offending_user) %>
            <% end %>
          </h3>
          <h4>
            Firehoze allows any user to flag content as inappropriate. Firehoze reviews all reports of
            inappropriate content and will take the appropriate action. Please be as descriptive as possible
            as to why you believe Firehoze should remove this content.
          </h4>
          <div class="key"><%= image_tag("forms/asterisk.png", :alt => :required) %>: required</div>
        </li>
        <li>
        <span>
          <%= f.label :reason_type, "Reason" %>
          <%= f.select(:reason_type, reason_select_list, { :prompt => "Select Reason..." }, { :class => "required"}) %>
          <span class="required-field"></span>
        </span>
        </li>
        <li>
        <span>
          <%= f.label :comments %>
          <%= f.text_area :comments, :title => "You must enter a title", :class => "required"  %>
          <span class="required-field"></span>
        </span>
          <span class="help">(Format using *<b>bold</b>* and _<i>italics</i>_ text | <%= link_to "more formatting help", page_path("format-help") %>)</span>
        </li>
        <li class="bottom">
        <span class="unlabelled">
          <%= submit_tag "Flag Content" %>
          <%= link_to 'Cancel', flaggable_show_path(@flag) %>
        </span>

          <div class="clear" />

        </li>
      </ul>
  <% end %>
</div>