<h1>Edit Password</h1>

<% form_for(:user, :url => password_path(@user), :html => { :method => :put }) do |f| %>
  <%= f.error_messages %>

  <p>
    <div><%= f.label :current_password, "Current password" %></div>
    <%= f.password_field :current_password %>
  </p>
  <p>
    <div><%= f.label :password, "New password" %></div>
    <%= f.password_field :password %>
  </p>
  <p>
    <div><%= f.label :password_confirmation %></div>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit "Update", :disable_with => translate('general.disable_with') %>
    <%= link_to "Cancel", accounts_path(@user) %>
  </p>
<% end %>