<% lesson = object %>

<ul>
  <li><script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=4c9f1a35-27ec-477c-b9a2-c495092a2fc8&amp;type=website&amp;buttonText=Share%20Lesson&amp;embeds=true"></script></li>
  <%= content_tag(:li, link_to_buy(lesson)) if link_to_buy(lesson).present? %>
  <%= content_tag(:li, link_to_wish(lesson)) if link_to_wish(lesson).present? %>
  <%= content_tag(:li, link_to_edit(lesson)) if link_to_edit(lesson).present? %>
  <%= content_tag(:li, link_to_unreject(lesson, current_user)) if link_to_unreject(lesson, current_user).present? %>
  <%= content_tag(:li, link_to_unreject(lesson, current_user)) if link_to_unreject(lesson, current_user).present? %>
  <%= content_tag(:li, flag_link(lesson)) if flag_link(lesson).present? %>
</ul>