<%
lesson = object
%>

<ol>
<li><%= button_to_buy(lesson) %></li>
<li><%= button_to_wish(lesson) %></li>
<li><%= button_to_edit(lesson) %></li>
<li><%= button_to_unreject(lesson) %></li>
<li><%= link_to_add_attachment(lesson) %></li>
<li><%= flag_link lesson -%></li>
</ol>