<%= javascript 'pagination' %>
<span id="loader" class="hidden"><%= image_tag("general/spinners/ajax-loader_small_arrows.gif") %></span>

<div>

<%= will_paginate @lessons %>

  <div class="lessons">
    <%= render :partial => "lessons/lesson_compact", :collection => @lessons, :locals => { :lesson_format => :compact } %>
  </div>

    <%= will_paginate @lessons %>
</div>
