<% lesson = object %>

<%= render :partial => "lessons/lesson_image_block", :object => lesson %>

<div class="span-26 lesson_center">
  <div><%= link_to h(lesson.title), lesson_path(lesson), :class => :lesson_title_link %> <%= content_tag(:span, "(#{owned_it_phrase(lesson, current_user)})" ) unless owned_it_phrase(lesson, current_user).blank? %></div>
  <div><%= h(lesson.synopsis) %></div>
  <div class="clearfix">
    <%= render :partial => "lessons/tag_links_for", :object => lesson, :locals => { :options => { :css_classes =>  "span-20 lesson_center" } } %>
    <div class="lesson_center last" style="text-align:right; white-space:nowrap"><!-- reserved for later --> </div>
  </div>
  <div><%#= render :partial => "lessons/actions", :object => lesson %></div>
</div>

<div class="span-5 last lesson_right">
  <div class="lesson_instructor_avatar"><%= link_to avatar_tag(lesson.instructor, :size => :medium), user_path(lesson.instructor) %></div>
  <div><%= link_to_profile(lesson.instructor) %></div>
  <div>Member Since:<br /><%= h(l(lesson.instructor.created_at.to_date)) %></div>
</div>
<!-- <div class="clear span-16 prepend-6 append-6 last lesson_footer">some base content</div> -->
<hr />
