<% lessons = object %>
<% counter = 1 %>
<% per_row = per_row.nil? ? 3 : per_row %>
<div class="lessons-container clearfix">
  <% lessons.each do |lesson| %>
    <% last_item_class = (counter % per_row == 0) ? " last" : nil %>
    <div class="small-lesson-container<%= last_item_class %>">
      <%= img_tag_lesson_tn(lesson, :small ) %>
      <%= render :partial => 'lessons/tooltip', :locals => { :lesson => lesson } unless g_browser_is?( :name => 'ie') %>
      <div class="duration transparent"><%= ChronicDuration.output(lesson.finished_video_duration/1000, :format => :chrono) unless lesson.finished_video_duration.nil?-%></div>
      <div class="title"><%= link_to truncate(h(lesson.title), :length => 40), lesson_path(lesson), :title => lesson.synopsis %></div>
    </div>
    <% counter += 1 %>
  <% end %>
</div>
<%#= will_paginate lessons, :id => true, :params => { :sort_by => params[:sort_by] } %>
