<%= javascript 'pagination' if params[:action] == "ajaxed" %>
<%
lesson_format = lesson_format || :wide 
title = @collection.humanize.titleize
%>
<div>

  <% if @lessons.is_a?(WillPaginate::Collection) %>
    <div style="margin:20px 0"><%= will_paginate @lessons %></div>
  <% end %>

  <div class="lesson_container">
    <%= render :partial => "lessons/lesson_#{lesson_format}", :collection => @lessons, :locals => { :lesson_format => lesson_format } %>
  </div>

  <% if @lessons.is_a?(WillPaginate::Collection) %>
    <%= will_paginate @lessons %>
  <% else %>
    <%= link_to "View all &quot;#{h @collection.humanize.titleize} Lessons&quot;", list_lessons_path(:collection => @collection) %>
  <% end %>
</div>
