<% lesson = object %>

<% unless @lesson.lesson_buy_patterns.ready.empty? %>
  <div class="prepend-top">
    <h3>What Do Students Ultimately Buy After Browsing This Item?</h3>
    <table>
      <% for buy_pattern in @lesson.lesson_buy_patterns.ready[0..APP_CONFIG[CONFIG_NUMBER_OF_BUY_PATTERNS_TO_SHOW]] %>
        <tr>
          <td width="1%">
            <%= img_tag_lesson_tn(buy_pattern.purchased_lesson) %>
          </td>
          <td>
            <% if @lesson == buy_pattern.purchased_lesson %>
              <span style="color:green">
                <b><%= number_to_percentage(100 * buy_pattern.counter/@lesson.total_buy_pattern_counts,
                  :precision => 0) %></b>
                buy the lesson featured on this page:
              </span>
              <br/>
              <%= h(buy_pattern.purchased_lesson.title) %>
            <% else %>
              <b><%= number_to_percentage(100 * buy_pattern.counter/@lesson.total_buy_pattern_counts,
                :precision => 0) %></b>
              buy
              <br/>
              <%= link_to(h(buy_pattern.purchased_lesson.title),
                lesson_path(buy_pattern.purchased_lesson)) %>
            <% end %>
            <%= lesson_rating_for(buy_pattern.purchased_lesson, current_user, :static, :small_stars => true) %>
            <% unless buy_pattern.purchased_lesson.reviews.empty? %>
              <%= link_to pluralize(Review.list_count(buy_pattern.purchased_lesson.reviews, current_user), 'Review'), lesson_reviews_path(buy_pattern.purchased_lesson) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
