<% lesson = object -%>

<% unless lesson.lesson_buy_patterns.ready.empty? -%>
  <div class="prepend-top">
    <div id="what_do_students_ultimately">
      <h3>What Do Students Ultimately Buy After Browsing This Item?</h3>

      <div class="span-28 last">
        <% for buy_pattern in lesson.lesson_buy_patterns.ready.all(:include => [:purchased_lesson])[0..APP_CONFIG[CONFIG_NUMBER_OF_BUY_PATTERNS_TO_SHOW]] -%>
          <div class="lesson <%= cycle("even", "odd") -%>">
            <div class="span-5">
              <%= img_tag_lesson_tn(buy_pattern.purchased_lesson, :small) -%>
            </div>

            <div class="last">
              <% if lesson == buy_pattern.purchased_lesson -%>
                <div style="color:green">
                  <strong><%= number_to_percentage(100 * buy_pattern.counter/lesson.total_buy_pattern_counts, :precision => 0) -%></strong> buy the lesson featured on this page:
                </div>
                <%= h(buy_pattern.purchased_lesson.title) -%>
              <% else -%>
                <div>
                  <strong><%= number_to_percentage(100 * buy_pattern.counter/lesson.total_buy_pattern_counts, :precision => 0) -%></strong> buy
                </div>
                <%= link_to(h(buy_pattern.purchased_lesson.title), lesson_path(buy_pattern.purchased_lesson)) -%>
              <% end -%>

              <%= lesson_rating_for(buy_pattern.purchased_lesson, current_user, :static, :small_stars => true) -%>

              <% unless buy_pattern.purchased_lesson.reviews.empty? -%>
                <%= link_to pluralize(Review.list_count(buy_pattern.purchased_lesson.reviews, current_user), 'Review'), lesson_reviews_path(buy_pattern.purchased_lesson) -%>
              <% end -%>
            </div>
          </div>

        <% end -%>
      </div>
      <div class="clear"></div>
    </div>
  </div>
<% end -%>
