<tr>
  <td><%= h lesson.title %></td>
  <td><%= link_to_profile(lesson.instructor) %></td>
  <td><%= l lesson.created_at %></td>
  <% if current_user.try("is_sysadmin?") %>
    <td><%= h lesson.state %></td>
  <% end %>
  <td><%= lesson.rating_average %></td>
  <td><%= (current_user ? current_user.owns_lesson?(lesson) : false) %></td>
  <td><%= link_to "View", lesson_path(lesson) %>&nbsp;
    <%= link_to("Edit", edit_lesson_path(lesson)) if lesson.can_edit?(current_user) %></td>
</tr>