<%
   lesson = object
%>

<% if lesson.ready? %>
    <div style="width:<%= PLAYER_WIDTH %>px;height:<%= PLAYER_HEIGHT %>px;" id="playerbox"></div>
   <%
      image = (lesson.thumbnail_url ? h(lesson.sized_thumbnail_url(:large)) : "url(/videos/video_placeholder.jpg)")
      %>
    <script language='javascript'>
//        $f("playerbox", "http://s3.amazonaws.com/videos.firehoze.com/flowplayer-3.1.5.swf", {
        $f("playerbox", {src: 'http://releases.flowplayer.org/swf/flowplayer.commercial-3.1.5.swf', wmode: 'opaque'}, {

            key: '#$2530218aaff22a9be9e',

            canvas: {
                background: 'url(/images/videos/splash-default-24.png)  no-repeat 0 155'
//                backgroundImage: '<%= image %> no-repeat 10 10'
            },
            play: {
                label: '<%= play_button_text(lesson, current_user) %>',
                replayLabel: 'Play again'
            },
            clip: {
                provider: 'rtmp',
                <% if lesson.owned_by?(current_user) || lesson.can_edit?(current_user) || lesson.entitled_by_groups(current_user) %>
                url: '<%= lesson.full_processed_video.try("output_rtmp_path") %>',
                <% else %>
                url: '<%= lesson.preview_processed_video.try("output_rtmp_path") %>',
                <% end %>
                scaling: "fit",
                autoPlay:false,
                autoBuffering:false,
                bufferLength: 10,
                accelerated: true
            },
            plugins: {
                rtmp: {
                    url: 'flowplayer.rtmp-3.1.3.swf', 
                    netConnectionUrl: 'rtmp://s1dgh9ehsb2kvf.cloudfront.net/cfx/st'
                }
            }
        });
    </script>
<% else %>
    <%= image_tag('videos/spash-not-ready-to-play.png', :alt => 'Video Not Ready') %>
<% end %>
