<tr class="<%= cycle("even", "odd") -%>">
  <td>
    <%= video.class.to_s %>
  </td>
  <td>
    <%=h t("lesson.#{video.status}") %>
  </td>
  <% if current_user.try("is_an_admin?") %>
    <td>
      <%=h(number_to_human_size(video.video_file_size)) %>
    </td>
    <td>
      <% if video.video_width and video.video_height then %>
        <%= video.video_width %> x <%= video.video_height %>
      <% end %>
    </td>
    <td>
      <%= h video.video_file_name %> (<%= video.id %>)
    </td>
    <td>
      <%= h video.video_content_type %>
    </td>
    <td><ul><%= render video.video_status_changes %></ul></td>
    <td><%= video_action_buttons(video) %></td>
  <% end %>
</tr>