<% title "Advanced Search" -%>

<h3>Advanced Search</h3>
<div>
  <% form_for(:advanced_search, :url => perform_advanced_search_lessons_path, :html => { :method => :get, :class => "search_box" }) do |f| %>
      <%= f.label :title, "Title" %>
      <%= f.text_field :title %>
      <br/>

      <%= f.label :synopsis, "Synopsis" %>
      <%= f.text_field :synopsis %>
      <br/>

      <%= f.label :notes, "Notes" %>
      <%= f.text_field :notes %>
      <br/>

      <%= f.label :instructor, "Instructor Login" %>
      <%= f.text_field :instructor %>
      <br/>

      <%= f.label :category %>
      <%= f.collection_select(:category, Category.ascend_by_compiled_sort, :name,
                              :formatted_name, {:include_blank => true, :selected => nil}) %>
      <br/>

      <%= f.label :created_in, "Created in the" %>
      <%= f.radio_button :created_in, "1" %> last day &nbsp;
      <%= f.radio_button :created_in, "7" %> last week &nbsp;
      <%= f.radio_button :created_in, "30" %> last 30 days &nbsp;
      <%= f.radio_button :created_in, "90" %> last 90 days &nbsp;
      <br/>

      <%= f.label :language %>
      <%= f.select :language, User.supported_languages,
                   {:include_blank => true} %>
      <br/>

      <%= f.submit "Search" %>
  <% end %>
</div>

<% if @lessons %>
    <% if @lessons.empty? %>
        Your query returned no results
    <% else %>
        <div class="clear append-0 span-29" id="tagged_with_tabs">
          <div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
              <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
                <a href="#tabs-1"><%= "Search: &quot;#{@search_lesson_criteria}&quot;" %></a></li>
            </ul>
            <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-1">
              <%= render :partial => "lessons", :object => @lessons, :locals => { :lesson_format => @lesson_format, :collection => @collection } %>
            </div>
          </div>
        </div>
    <% end %>
<% end %>
