<!-- UNRECOGNIZED USER  -->

<div class="span-12 prepend-top" id="intro">
  <div class="box">
    <h3>Welcome to <%= t('general.company') %></h3>
    <h4>vLaunch where entrepreneurs connect with customers.</h4>

    <p>The willingness of customers to buy a product or service is the only validation that matters for a new business.</p>
    <ul>
      <li>Customers generate revenue to fund growth</li>
      <li>Customers provide critical feedback to shape product development</li>
      <li>1+2 = real company value</li>
    </ul>
    <p>vLaunch helps its startups — innovative, mostly tech-based companies—to launch themselves by helping them identify potential customers to gain early revenue and viability.  Successfully winning paying customers, enables early-stage companies to obtain additional capital and become on-going enterprises.</p>
    <div id="actions" style="text-align:right"><%= link_to(content_tag(:span, "Browse #{t('general.lessons')}"), categories_path, :class => 'large-button call-to-action') %><%= link_to(content_tag(:span, "Register for Free"), new_registration_path, :class => 'large-button call-to-action') %></div>
  </div>
</div>

<div class="span-12 unrecognized-content">
  <div class="span-4">
    <div class="box">
      <h3>It’s for Startups...</h3>
      <%= image_tag("icons/handicap_64.jpg", :class => 'box-image') %>
      <p>vLaunch provides you with a focus on Customers as they are the shortest path to business success. There’s nothing more valuable than feedback from customers. They’ll tell you what you need to know to build your business.</p>

      <p><%= link_to "#{t('general.company')} for Startups", page_path('firehoze_for_students') %></p>
    </div>
  </div>
  <div class="span-4 middle">
    <div class="box">
      <h3>...the Influencer who can help</h3>
      <%= image_tag("icons/physical_therapy_logo_64.jpg", :class => 'box-image') %>
      <p>vLaunch empowers experts in disseminating their unique knowledge on how to overcome the marketing & sales challenges faced by startups.  vLaunch empowers Influencers to help entrepreneurs reach a wide audience, supplement traditional mentoring services — and earn additional income.</p>

      <p><%= link_to "#{t('general.company')} for Influencers", page_path('firehoze_for_instructors') %></p>
    </div>
  </div>

  <div class="span-4 last">
    <div class="box">
      <h3>... and Institutions</h3>
      <%= image_tag("icons/hospital_64.jpg", :class => 'box-image') %>
      <p><%= t('general.company') %> is a community generated catalog of short, targeted videos designed to provide early glimpse at cutting edge technology.</p>

      <p><%= link_to "#{t('general.company')} for Institutions", page_path('firehoze_for_schools') %></p>
    </div>
  </div>
</div>


