<% content_for :head do -%>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min.js' %>
  <%= stylesheet_link_tag 'jquery-ui/smoothness/jquery-ui-1.7.2.custom', :media => "screen, projection" %>
  <%= javascript_include_tag 'tabs.js', 'pagination.js', 'jquery.cookie.js' %>
<% end %>

<div class="clear span-40 last" id="lesson_tabs">

<div id="tabs">
	<ul>
		<li><%= link_to t('lesson.most_popular'), tabbed_most_popular_lessons_path %></li>
		<li><%= link_to t('lesson.highest_rated'), tabbed_highest_rated_lessons_path %></li>
		<li><%= link_to t('lesson.newest'), tabbed_newest_lessons_path %></li>
	</ul>
  <div style="display:block"></div>
</div>

<%= render :partial => "tag_cloud", :object => Lesson.tag_counts if current_user %>
