<% # UNRECOGNIZED USER    %>

<div class="span-12 prepend-top" id="intro">
  <div class="box">
    <h3>Welcome to Firehoze</h3>
    <h4><span style="color:#17587F;font-variant: small-caps;font-size: 18px;">Need Classroom Help?</span> Explore community-generated, focused video lessons that complement classroom learning.<br /><span style="color:#17587F;font-variant: small-caps;font-size: 18px;">Like to teach?</span> Create a lesson and start earning royalties right away!</h4>
    <div id="actions" style="text-align:right"><%= link_to(content_tag(:span, "Browse Our Lessons"), categories_path, :class => 'large-button call-to-action') %><%= link_to(content_tag(:span, "Register for Free"), new_registration_path, :class => 'large-button call-to-action') %></div>
  </div>
</div>

<div class="span-12 unrecognized-content">
  <div class="span-4">
    <div class="box">
      <h3>It's for Students</h3>
      <%= image_tag("icons/checklist_64.png", :class => 'box-image') %>
      <p>Firehoze delivers video lessons focused on specific topics in an easy, searchable format. Get help that augments classroom learning on demand.</p>
      <p><%= link_to "Firehoze for Students", page_path('firehoze_for_students') %></p>
    </div>
  </div>
  <div class="span-4 middle">
    <div class="box">
      <h3>... and Instructors</h3>
      <%= image_tag("icons/grader-64.png", :class => 'box-image') %>
      <p>Firehoze empowers instructors to reach a wide audience, supplement traditional tutoring services, help their peers around the clock &mdash; and earn additional income.</p>
      <p><%= link_to "Firehoze for Instructors", page_path('firehoze_for_instructors') %></p>
    </div>
  </div>

  <div class="span-4 last">
    <div class="box">
      <h3>... and Schools</h3>
      <%= image_tag("icons/university_56.png", :class => 'box-image') %>
      <p>Firehoze augments available tutoring resources and helps those unable to take advantage of traditional tutoring due to schedule, illness, or other challenges. Firehoze engages directly with tutors at no cost to the institution</p>
      <p><%= link_to "Firehoze for Schools", page_path('firehoze_for_schools') %></p>
    </div>
  </div>
</div>


