<!-- UNRECOGNIZED USER  -->

<div class="span-12 prepend-top" id="intro">
  <div class="box">
    <h3>Welcome to <%= t('general.company') %></h3>
    <h4>The Center for Research Innovation is growing a University-wide ecosystem to support and foster innovation and entrepreneurship among students, faculty and alumni at Northeastern University.
      &quot;Innovation as a Catalyst, Entrepreneurship as a Mindset,&quot; is the vision that inspires CRI, and drives our mission for ongoing collaboration resulting in venture start-ups and commercialization of research opportunities.</h4>
    <div id="actions" style="text-align:right"><%= link_to(content_tag(:span, "Browse Our Video Content"), categories_path, :class => 'large-button call-to-action') %><%= link_to(content_tag(:span, "Register for Free"), new_registration_path, :class => 'large-button call-to-action') %></div>
  </div>
</div>

<div class="span-12 unrecognized-content">
    <div class="box">
      <h3><%=t('lesson.index.first_title')%></h3>
      <%= image_tag("icons/rise-thumb_50.jpg", :class => 'box-image') %>
      <p><%= t('lesson.index.first_text') %></p>
      <p><%= link_to "#{t('general.company')}",'http://www.northeastern.edu/research/wp/cri/' %></p>
    </div>
</div>

