<!-- UNRECOGNIZED USER  -->

<div class="span-12 RISE:2012 will showcase the breadth and depth of innovative thinking at Northeastern, including topics in Physical &amp; Life Sciences, Engineering, Humanities, Arts &amp; Design, Computer &amp; Information Sciences, Health Sciences, Law, Business and Social Sciences. In addition, our “Faculty Works” scholarly presentation honors faculty who published books or produced major artistic works in 2011.prepend-top" id="intro">
  <div class="box">
    <h3>Welcome to <%= t('general.company') %></h3>
    <h4>RISE:2012 will showcase the breadth and depth of innovative thinking at Northeastern, including topics in Physical &amp; Life Sciences, Engineering, Humanities, Arts &amp; Design, Computer &amp; Information Sciences, Health Sciences, Law, Business and Social Sciences. In addition, our “Faculty Works” scholarly presentation honors faculty who published books or produced major artistic works in 2011.</h4>
    <div id="actions" style="text-align:right"><%= link_to(content_tag(:span, "Browse Our Video Content"), categories_path, :class => 'large-button call-to-action') %><%= link_to(content_tag(:span, "Register for Free"), new_registration_path, :class => 'large-button call-to-action') %></div>
  </div>
</div>

<div class="span-12 unrecognized-content">
  <div class="span-4">
    <div class="box">
      <h3>It’s for People with impaired mobility...</h3>
      <%= image_tag("icons/handicap_64.jpg", :class => 'box-image') %>
      <p><%= t('general.company') %> delivers how-to videos focused on daily needs of all types of people with disabilities.</p>
      <p><%= link_to "#{t('general.company')} for Individuals", page_path('firehoze_for_students') %></p>
    </div>
  </div>
  <div class="span-4 middle">
    <div class="box">
      <h3>... and Transition Instructors</h3>
      <%= image_tag("icons/physical_therapy_logo_64.jpg", :class => 'box-image') %>
      <p>AbleRoad empowers experts to disseminate their unique knowledge on how to overcome the challenges faced by people with disabilities. This includes information for family members, care givers, home health aides, healthcare professionals, etc.</p>
      <p><%= link_to "#{t('general.company')} for #{t('lesson.instructors').capitalize}", page_path('firehoze_for_instructors') %></p>
    </div>
  </div>

  <div class="span-4 last">
    <div class="box">
      <h3>... and Institutions</h3>
      <%= image_tag("icons/hospital_64.jpg", :class => 'box-image') %>
      <p><%= t('general.company') %> augments available instructional videos and content supplied by hospital discharge departments.  Institutions get quality content and post-operative patients get first hand guidance that speeds up recovery and builds a base for an ongoing active lifestyle.</p>
      <p><%= link_to "#{t('general.company')} for Institutions", page_path('firehoze_for_schools') %></p>
    </div>
  </div>
</div>

