<% content_for :head do -%>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min.js' %>
  <%= stylesheet_link_tag 'jquery-ui/smoothness/jquery-ui-1.7.2.custom', :media => "screen, projection" %>
  <script type="text/javascript">
    $(function() {
      $("#tabs").tabs();
    });
  </script>
<% end %>

<%= render :partial => "default" if current_user and current_user.is_admin? %>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1"><%= t 'lesson.most_popular' %></a></li>
    <li><a href="#tabs-2"><%= t 'lesson.highest_rated' %></a></li>
    <li><a href="#tabs-3"><%= t 'lesson.newest' %></a></li>
  </ul>
  <div id="tabs-1"><%= render :partial => "most_popular" %></div>
  <div id="tabs-2"><%= render :partial => "highest_rated" %></div>
  <div id="tabs-3"><%= render :partial => "newest" %></div>
</div>

<div>
  <h4>Tag CLoud</h4>
  <%= render :partial => "tag_cloud", :object => Lesson.tag_counts %>
</div>