<% # UNRECOGNIZED USER %>


<% # UNRECOGNIZED USER %>
<div class="span-12 prepend-top">
  <div class="box">
    <h3>About Firehoze</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
  </div>
</div>

<div class="span-12 unrecognized-content">
  <div class="span-4">
    <div class="box">
      <%#= image_tag("/stylesheets/images/shadow_box/books.png", :class => 'box-image') %>
      <h3>Student </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p><%= link_to("Browse Lessons", categories_path) %> | <%= link_to("Browse Groups", groups_path) %><br />
        <%= link_to "Sign Up", new_registration_path %> | <%= link_to("FAQs", page_path("faqs")) %></p>
      </div>
    </div>
    <div class="span-4 middle">
      <div class="box">
        <%#= image_tag("/stylesheets/images/shadow_box/analysis.png", :class => 'box-image') %>
        <h3>Instructors</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><%= link_to "Take a Tour", page_path('under_construction') %> | <%= link_to "Instructor Toolkit", page_path('under_construction') %></p>
      </div>
    </div>
    <div class="span-4 last">
      <div class="box">
        <h3>Latest News</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
      </div>
    </div>
  </div>

</div>
