<div class="lesson-notes">
  <div class="span-9">
    <% unless @lesson.notes.blank? %>
    <%= rbs_formatter(@lesson.notes) %>
    <% end %>
  </div>
  <div class="span-3 last">
    <div class="box">
      <h3>Attachments</h3>
      <% unless @lesson.attachments.empty? %>
      <ul id="attachments">
        <% @lesson.attachments.each do |attachment| %>
        <li>
          <%= link_to attachment.title, attachment.attachment.url, :popup => true %>
          (<%= number_to_human_size(attachment.attachment.size) %>)
          <% if @lesson.can_edit?(current_user) %>
          <%= link_to 'edit', edit_lesson_attachment_path(attachment) %> |
          <%= link_to 'delete', lesson_attachment_path(attachment), :confirm => 'Are you sure?', :method => :delete %>
          <% end %>
        </li>
        <% end %>
      </ul>
      <% end %>
    </div>
      <%= link_to_add_attachment(@lesson, current_user) %>
  </div>
</div>
