<% content_for :head do -%>
  <%= stylesheet_link_tag "formtastic" %>
  <%= stylesheet_link_tag "formtastic_changes" %>
<% end %>



<h1>Create Lesson</h1>
<% form_for(:lesson, :url => lessons_path, :html => { :multipart => true, :class => :formtastic }) do |f| %>
  <%= f.error_messages %>

  <%= f.label :title %>:
  <%= f.text_field :title %><br />
  <br/>
  <%= f.label :description %>:
  <%= f.text_area :description %><br />
  <br/>
  <%= f.label :tags %>:
  <%= f.text_field :tag_list %><br />
  <br/>
  <%= f.label :video %>
  <%= f.file_field :video %>
  <br/>
  <%= f.label 'Free Downloads' %>
  <%= select_tag :initial_free_download_count, options_for_select(LessonsController.free_download_counts) %>
  <br/>
    <%= f.label :language %>:
    <%= f.select :language, User.supported_languages %><br/>
    <br/>

  <%= f.submit "Create lesson", :disable_with => translate('general.disable_with') %>
  <%= link_to "Cancel", lessons_path %>
<% end %>