<% title "Create a lesson" -%>
<%= render :partial => "shared/infield_head_content" %>

<%= stylesheet 'validation' %>
<%= javascript 'jquery.simplyCountable', 'validate/jquery.validate', 'validate/lesson.validate' %>
<%= javascript 'jquery.simplyCountable', 'validate/jquery.validate', 'validate/lesson.validate' %>

<%= render :partial => 'upload_warning' %>
<% form_for(:lesson, :url => lessons_path, :html => { :multipart => true, :id => "lesson" }) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Create Lesson</legend>
    <p>
      <%= f.label :title %><br/>
      <%= f.text_field :title, :maxlength => "50", :class => "required" %>

    <div class="counter"><span id="lesson_title_counter"></span> characters left</div>
  </p>

  <p>
    <%= f.label :synopsis %><br/>
    <%= f.text_area :synopsis, :maxlength => "500", :class => "required" %>

  <div class="counter"><span id="lesson_synopsis_counter"></span> characters left</div>
  </p>

  <p>
    <%= f.label :notes %><br/>
    <%= f.text_area :notes %>
    <span class="help">(Format using *<b>bold</b>* and _<i>italics</i>_ text)</span>
  </p>

  <p>
    <%= f.label :tag_list, :Tags %><br/>
    <%= f.text_field :tag_list %>
    <span class="help">(use commas to separate multiple tags)</span>
  </p>

  <div>
    <%= f.label :video %>
    <%= f.file_field :video, :class => "required" %>
  </div>

  <div>
    <%= f.label 'Free Downloads' %>
    <%= select_tag :initial_free_download_count, options_for_select(LessonsController.free_download_counts) %>
  </div>

  <div>
    <%= f.label :category %>
    <%= f.collection_select(:category_id, Category.ascend_by_compiled_sort, :id,
      :formatted_name,  {:include_blank => 'Select...'}) %>
  </div>

  <div>
    <%= f.label :language %>
    <%= f.select :language, User.supported_languages %>
  </div>
  </fieldset>

  <%= render :partial => 'upload_warning' %>

  <p>
    <%= f.submit "Create lesson" %>
    <%= link_to "Cancel", lessons_path %>
  </p>

<% end %>
