<% content_for :head do -%>
    <%= javascript_include_tag 'swfobject' %>
    <%= stylesheet_link_tag 'ajaxful_rating', :media => 'all' %>
<% end %>

<% if @lesson.thumbnail_url %>
    <IMG src="<%= @lesson.thumbnail_url %>"/>
<% end %>
<p>
  <b>Title:</b>
  <%= h @lesson.title %>
</p>

<p>
  <b>Description:</b>
  <%= simple_format @lesson.description %>
</p>

<p>
  <b>Instructor:</b>
  <%= h @lesson.instructor.login %>
</p>

<% if @lesson.finished_video_duration %>
    <p>
      <b>Duration:</b>
      <%= ChronicDuration.output(@lesson.finished_video_duration/1000, :format => :long) %>
    </p>
<% end %>
<p>
  <b>Created:</b>
  <%= l @lesson.created_at %>
</p>

<% if current_user.try("is_sysadmin?") %>
    <p><b>System Information:</b></p>
    <p>
      <b>State:</b>
      <%= h @lesson.state %>
    </p>
    <p>
      <b>Raw Video Filename:</b>
      <%= h @lesson.video_file_name %>
    </p>
    <p>
      <b>Raw Video File Type:</b>
      <%= h @lesson.video_content_type %>
    </p>
    <p>
      <b>Raw Video File Size:</b>
      <%= number_to_human_size @lesson.video_file_size %>
    </p>
    <p>
      <b>Conversion Job ID:</b>
      <%= h @lesson.flixcloud_job_id %>
    </p>
    <p>
      <b>Conversion Started At:</b>
      <%= l @lesson.conversion_started_at if @lesson.conversion_started_at %>
    </p>
    <p>
      <b>Conversion Completed At:</b>
      <%= l @lesson.conversion_ended_at if @lesson.conversion_ended_at %>
    </p>
    <p>
      <b>Finished Video Location:</b>
      <%= @lesson.finished_video_file_location %>
    </p>
    <p>
      <b>Finished Video Width:</b>
      <%= @lesson.finished_video_width %>
    </p>
    <p>
      <b>Finished Video Height:</b>
      <%= @lesson.finished_video_height %>
    </p>
    <p>
      <b>Finished Video File Size:</b>
      <%= number_to_human_size @lesson.finished_video_file_size %>
    </p>
    <p>
      <b>Raw Video Cost:</b>
      <%= number_to_currency @lesson.input_video_cost/1000.0 %>
    </p>
    <p>
      <b>Finished Video Cost:</b>
      <%= number_to_currency @lesson.finished_video_cost/1000.0 %>
    </p>
<% end %>

<div id="player">
  You need to
  have <%= link_to 'Flash Player', 'http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash' %>
  installed to display this lesson
</div>

<!--
See http://jimneath.org/2008/06/03/converting-lessons-with-rails-converting-the-lesson/ RBS
<script type="text/javascript">
    var so = new SWFObject('/flash/mediaplayer.swf', 'mpl', '480', '360', '8');
    so.addParam('allowscriptaccess', 'always');
    so.addParam('allowfullscreen', 'true');
    so.addVariable('height', '360');
    so.addVariable('width', '480');
    so.addVariable('file', '<%= @lesson.video.url %>');
    so.write('player');
</script>
-->
<%= link_to watch_text(@lesson), watch_lesson_path(@lesson) %> |
<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Home', home_path %> |
<%= link_to pluralize(@lesson.reviews.size, 'Review'), lesson_reviews_path(@lesson) %>

<% if current_user.try("is_sysadmin?") %>
    | <%= link_to "Convert", convert_lesson_path(@lesson), :method => :post %>

    <br/>
    <table>
      <tr>
        <th>Timestamp</th>
        <th>From State</th>
        <th>To State</th>
        <th>Description</th>
      </tr>
      <%= render @lesson.lesson_state_changes %>
    </table>
<% end %>
