<% content_for :head do -%>
    <%= javascript_include_tag 'swfobject' %>
<% end %>


<% if @lesson.thumbnail_url %>
    <%= link_to(image_tag(@lesson.thumbnail_url), watch_lesson_path(@lesson)) %>
<% end %>

<p>
  <%= lesson_rating_for(@lesson, current_user) %>
</p>

<div id="<%= dom_id(@lesson) %>_average">
  <%= current_average(@lesson) %>
</div>

<div id="<%= dom_id(@lesson) %>_count">
  (<%= pluralize(@lesson.total_rates, "person has", "people have") %> rated this lesson)
</div>

<p>
  <b>Title:</b>
  <%= h @lesson.title %>
</p>

<p>
  <b>Number of Viewers:</b>
  <%= @lesson.credits_count %>
</p>

<p>
  <b>Description:</b>
  <%= simple_format @lesson.description %>
</p>

<p>
  <b>Tags:</b>
  <% @lesson.tag_counts.each do |tag| %>
      <%= link_to tag.name, list_lessons_path(:collection => :tagged_with, :tag => tag.name) %>
  <% end %>
</p>

<p>
  <b>Instructor:</b>
  <%= h @lesson.instructor.login %>
</p>
<p>
  <b>Language:</b>
  <%= h language_value(@lesson.language) %>
</p>

<% if @lesson.finished_video_duration %>
    <p>
      <b>Duration:</b>
      <%= ChronicDuration.output(@lesson.finished_video_duration/1000, :format => :long) %>
    </p>
<% end %>
<p>
  <b>Published At:</b>
  <%= l @lesson.created_at %>
</p>
<% if @lesson.free_credits.available.size > 0 %>
    <p>
      <b>Free Views Remaining:</b>
      <%= @lesson.free_credits.available.size %>
    </p>
<% end %>

<% if @lesson.credits.size > 0 and (current_user.try("is_admin?") or @lesson.instructor == current_user) %>
    <h2>Lesson Purchases</h2>
    <table>
      <tr>
        <th>Timestamp</th>
        <% if current_user.try("is_admin?") %>
            <th>User</th>
        <% end %>
        <th>Price Paid</th>
        <th>Description</th>
      </tr>
      <%= render :partial => 'lessons/credit', :collection => @lesson.credits %>
      <tr>
        <td><b>TOTAL</b></td>
        <% if current_user.try("is_admin?") %>
            <td/>
        <% end %>
        <td><%= number_to_currency(@lesson.credits.sum(:price)) %></td>
        <td/>
      </tr>
    </table>
<% end %>

<% if current_user.try("is_admin?") or @lesson.instructor == current_user %>
    <h2>Videos</h2>
    <br/>
    <table>
      <tr>
        <th>Video</th>
        <th>Status</th>
        <% if current_user.try("is_admin?") %>
            <th>Size</th>
            <th>Dimensions</th>
            <th>Filename</th>
            <th>File Type</th>
            <th>Conversion Started At</th>
            <th>Conversion Ended At</th>
            <th>Conversion Job ID:</th>
            <th>Conversion Costs<br/>Input/Output</th>
            <th>Action</th>
        <% end %>
      </tr>
      <%= render :partial => "video", :collection => @lesson.videos %>
    </table>
    <p>
      <b>State:</b>
      <%= translate("lesson.#{@lesson.status}") %>
    </p>
<% elsif current_user == @lesson.instructor %>
    <p>
      <b>State:</b>
      <%= h @lesson.status %>
    </p>
<% end %>

<% if @lesson.can_edit? current_user %>
    <%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<% end %>
<%= link_to 'Home', home_path %> |
<%= link_to pluralize(@lesson.reviews.size, 'Review'), lesson_reviews_path(@lesson) %>

<% if current_user.try("is_admin?") %>
    <br/>
    <table>
      <tr>
        <th>Timestamp</th>
        <th>From State</th>
        <th>To State</th>
        <th>Description</th>
      </tr>
      <%= render @lesson.video_status_changes %>
    </table>
<% end %>
