<% content_for :head do -%>
    <%= javascript_include_tag 'swfobject' %>
<% end %>

<p>
  <b>Title:</b>
  <%= h @lesson.title %>
</p>

<p>
  <b>Description:</b>
  <%= simple_format @lesson.description %>
</p>

<p>
  <b>Instructor:</b>
  <%= h @lesson.instructor.login %>
</p>

<p>
  <b>Created:</b>
  <%= l @lesson.created_at %>
</p>
<div id="player">
  You need to
  have <%= link_to 'Flash Player', 'http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash' %>
  installed to display this lesson
</div>

<!--
See http://jimneath.org/2008/06/03/converting-lessons-with-rails-converting-the-lesson/ RBS
<script type="text/javascript">
    var so = new SWFObject('/flash/mediaplayer.swf', 'mpl', '480', '360', '8');
    so.addParam('allowscriptaccess', 'always');
    so.addParam('allowfullscreen', 'true');
    so.addVariable('height', '360');
    so.addVariable('width', '480');
    so.addVariable('file', '<%= @lesson.video.url %>');
    so.write('player');
</script>
-->
<%= link_to watch_text(@lesson), watch_lesson_path(@lesson) %> |
<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Home', home_path %> |
<%= link_to pluralize(@lesson.reviews.size, 'Review'), lesson_reviews_path(@lesson) %> 