<% content_for :head do -%>
  <%= javascript_include_tag 'swfobject' %>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min.js' %>
  <%= stylesheet_link_tag 'jquery-ui/smoothness/jquery-ui-1.7.2.custom', :media => "screen, projection" %>
  <%= javascript_include_tag 'tabs.js', 'jquery.cookie.js' %>
  <%= javascript_include_tag 'accordian.js' %>
<% end %>

<div id="lesson_container">
<%# TITLE BAR %>
  <div class="clear span-40 last" id="banner">
    <div class="span-25" id="banner_title">
      <%= h @lesson.title %> by <%= link_to_profile(@lesson.instructor) %>
    </div>

    <div id="rating">
      <div class="span-9 last" id="stats">
        Average Rating: <span id="<%= dom_id(@lesson) %>_average" class="average"><%= current_average(@lesson) -%></span>
        (<span id="<%= dom_id(@lesson) %>_count"><%= vote_counts_phrase(@lesson) %></span>)
      </div>
      <div class="span-6 last" id="stars">
        <%= lesson_rating_for(@lesson, current_user) -%>
      </div>
    </div>
  </div>

<%# LESSON SUMMARY %>
  <div class="clear prepend-top span-40 last" id="lesson_summary_container">
    <!-- VIDEO -->
    <div class="span-22" id="lesson_container">
      <%= render :partial => 'lessons/player', :object => @lesson %>
      <%= render :partial => "lessons/tag_links_for", :object => @lesson, :locals => { :options => { :css_classes =>  "tags_lesson_show" } } %>
    </div>

<%# LESSON DESCRIPTION %>
    <div class="span-17 last" id="lesson_description">
      <div class="span-17 last"><%= render :partial => "lessons/actions", :object => @lesson %></div>
      <div>
        <%= h(@lesson.synopsis) %>
      </div>
      <p>
        <b>Language:</b>
        <%= h language_value(@lesson.language) %>
      </p>

      <% if @lesson.finished_video_duration %>
        <p>
          <b>Duration:</b>
          <%= ChronicDuration.output(@lesson.finished_video_duration/1000, :format => :long) %>
        </p>
      <% end %>
      <p>
        <b>Published At:</b>
        <%= l @lesson.created_at %>
      </p>

      <% if current_user.try("is_admin?") or @lesson.instructor == current_user %>
        <p>
          <b>State:</b>
          <%= translate("lesson.#{@lesson.status}") %>
        </p>
      <% end %>

      <p>
        <%= free_remaining_text @lesson %>
      </p>

      <p>
        <%= number_of_students_phrase(@lesson) %>
      </p>

    </div>
  </div>
</div>


<div class="clear prepend-top span-40 last">

<%# LESSON TABS %>
  <%= render :partial => 'tabs' %>

  <% #TAG CLOUD     %>
  <%= render :partial => "lessons/tag_cloud", :object => Lesson.tag_counts %>

</div>

<% unless @lesson.lesson_buy_patterns.ready.empty? %>
  <h3>What Do Students Ultimately Buy After Browsing This Item?</h3>
  <table>
    <% for buy_pattern in @lesson.lesson_buy_patterns.ready[0..APP_CONFIG[CONFIG_NUMBER_OF_BUY_PATTERNS_TO_SHOW]] %>
      <tr>
        <td width="1%">
          <%= img_tag_lesson_tn(buy_pattern.purchased_lesson) %>
        </td>
        <td>
          <% if @lesson == buy_pattern.purchased_lesson %>
            <span style="color:green">
              <b><%= number_to_percentage(100 * buy_pattern.counter/@lesson.total_buy_pattern_counts,
                :precision => 0) %></b>
              buy the lesson featured on this page:
            </span>
            <br/>
            <%= h(buy_pattern.purchased_lesson.title) %>
          <% else %>
            <b><%= number_to_percentage(100 * buy_pattern.counter/@lesson.total_buy_pattern_counts,
              :precision => 0) %></b>
            buy
            <br/>
            <%= link_to(h(buy_pattern.purchased_lesson.title),
              lesson_path(buy_pattern.purchased_lesson)) %>
          <% end %>
          <%= lesson_rating_for(buy_pattern.purchased_lesson, current_user, :static, :small_stars => true) %>
          <% unless buy_pattern.purchased_lesson.reviews.empty? %>
            <%= link_to pluralize(Review.list_count(buy_pattern.purchased_lesson.reviews, current_user), 'Review'), lesson_reviews_path(buy_pattern.purchased_lesson) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<% unless @lesson.lesson_buy_pairs.ready.empty? %>
  <h3>Students who bought this video also bought...</h3>
  <table>
    <% for buy_pair in @lesson.lesson_buy_pairs.ready[0..APP_CONFIG[CONFIG_NUMBER_OF_BUY_PATTERNS_TO_SHOW]] %>
      <tr>
        <td width="1%">
          <%= img_tag_lesson_tn(buy_pair.other_lesson) %>
        </td>
        <td>
          <%= link_to(h(buy_pair.other_lesson.title),
            lesson_path(buy_pair.other_lesson)) %>
          <%= lesson_rating_for(buy_pair.other_lesson, current_user, :static, :small_stars => true) %>
          <% unless buy_pair.other_lesson.reviews.empty? %>
            <%= link_to pluralize(buy_pair.other_lesson.reviews.size, 'Review'), lesson_reviews_path(buy_pair.other_lesson) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<%# LESSON ACCORDIAN FOR INSTRUCTOR AND ADMINS %>
<div class="clear span-40 last prepend-top">
  <div id="accordion">
    <% if @lesson.credits.size > 0 and (current_user.try("is_admin?") or @lesson.instructor == current_user) %>
      <h3><a href="#">Lesson Purchases</a></h3>

      <div>
        <table>
          <tr>
            <th>Timestamp</th>
            <% if current_user.try("is_admin?") %>
              <th>User</th>
            <% end %>
            <th>Price Paid</th>
            <th>Description</th>
          </tr>
          <%= render :partial => 'lessons/credit', :collection => @lesson.credits %>
          <tr>
            <td><b>TOTAL</b></td>
            <% if current_user.try("is_admin?") %>
              <td/>
            <% end %>
            <td><%= number_to_currency(@lesson.credits.sum(:price)) %></td>
            <td/>
          </tr>
        </table>
      </div>
    <% end %>

    <% if current_user.try("is_admin?") or @lesson.instructor == current_user %>
      <h3><a href="#">Videos</a></h3>

      <div>
        <table>
          <tr>
            <th>Video</th>
            <th>Status</th>
            <% if current_user.try("is_admin?") %>
              <th>Size</th>
              <th>Dimensions</th>
              <th>Filename</th>
              <th>File Type</th>
              <th>Conversion Costs<br/>Input/Output</th>
              <th>Log</th>
              <th>Action</th>
            <% end %>
          </tr>
          <%= render :partial => "video", :collection => @lesson.videos %>
        </table>
      </div>
    <% elsif current_user == @lesson.instructor %>
      <h3><a href="#">State</a></h3>

      <div>
        <%= h @lesson.status %>
      </div>
    <% end %>
  </div>
</div>

<% # MISC ACTIONS    %>
<div class="clear span-40 last prepend-top">
  <% if @lesson.can_edit? current_user %>
    <%= link_to 'Edit', edit_lesson_path(@lesson) %> |
  <% end %>

  <% if current_user and @lesson.instructor != current_user and ! @lesson.owned_by?(current_user) %>
    <% if current_user.on_wish_list?(@lesson) %>
      <%= link_to "Remove from Wish List", wish_lists_path(:id => @lesson), :method => :delete, :disable_with => translate('general.disable_with') %>
    <% else %>
      <%= link_to "Add to Wish List", wish_lists_path(:id => @lesson), :method => :post, :disable_with => translate('general.disable_with') %>
    <% end %> |
  <% end %>
  <%= flag_link @lesson %>
</div>