<% title "Lessons tagged with &quot;#{@tag}&quot;" -%>

<% @current = 'lessons' %>

<div class="span-8">
  <div>
    <h3><%= "#{t('lesson.tagged_with')} &quot;#{@tag}&quot;" %></h3>

    <div>
      <%= render :partial => "lessons/lessons_row_format", :object => @lessons, :locals => { :lesson_format => @lesson_format, :collection => @collection } %>
    </div>
    <div>
      <%= render :partial => "lessons/pagination", :object => @lessons, :locals => { :collection => :tagged_with  } %>
    </div>
  </div>
</div>

<div class="span-4 last tag_cloud prepend-top">
  <div class="widget-box">
    <div class="widget-box-header">
      <span class="h4">Suggest a How To</span>
    </div>
    <div class="widget-box-content tags">
      <p>Can't find a lesson that meets your needs?</p>
      <%= link_to content_tag(:span, "Suggest a How To Topic"), page_path("help_center", :anchor => "share-an-idea"), :class => 'large-button call-to-action' %>
    </div>
  </div>

  <% cache(Category.tag_cloud_cache_id("lesson_wide", -1)) do %>
      <div class="widget-box">
        <div class="widget-box-header">
          <span class="h4">Tags</span>
        </div>
        <div class="widget-box-content tags">
          <%= render :partial => "lessons/tag_cloud", :object => Lesson.ready.tag_counts(:limit => 40, :order => "count DESC").sort{|x, y| x.name <=> y.name} %>
        </div>
      </div>
  <% end %>

</div>
