<% title "Contact #{h @to_user.name_or_username}" -%>

<% content_for :footer do -%>
  <%= javascript_include_tag 'validation/contact_users.validate.js' -%>
<% end -%>

<div class="fh-form">
  <% form_tag contact_users_path, :class => "contact_user", :id => "contact_user" do -%>
      <%= hidden_field_tag 'id', @to_user.id %>
      <ul id="send-a-message-info" class="section">
        <li class="header">
          <span></span>

          <h3>Contact <%= h @to_user.name_or_username %></h3>
          <h4>Send a private message to <%= link_to_profile(@to_user) %>.</h4>
          <h4>Note that this will expose your email address to <%= link_to_profile(@to_user) %>.</h4>
          <div class="key"><%= image_tag("forms/asterisk.png", :alt => :required) %>: required</div>
        </li>
        <li>
        <span>
          <%= label_tag :subject %>
          <%= text_field_tag :subject, nil, :title => "You must enter a subject", :class => "required" %>
          <span class="required-field"></span>
        </span>
        </li>
        <li>
        <span>
          <%= label_tag :msg, "Message" %>
          <%= text_area_tag :msg, nil, :title => "You must enter a message", :class => "required" %>
          <span class="required-field"></span>
        </span>
        </li>
        <li class="bottom">
        <span class="unlabelled">
          <%= submit_tag "Send Message" %>
          <%= link_to 'Cancel', user_path(@to_user) %>
        </span>

          <div class="clear" />

        </li>
      </ul>
  <% end %>
</div>
  