<%= stylesheet 'tables' %>
<h3>Payment History for <%= link_to_profile @user %></h3>
<table>
  <tr>
    <th>Payment #</th>
    <th>Paid On</th>
    <th>Amount</th>
  </tr>
  <%= render @payments %>
</table>

<%= will_paginate @payments %>
<br/>
Rows to Display Per Page: <%= per_page_select(list_payment_path(@user)) %>