<h3>Payment #<%= @payment.id %></h3>
<h4>Paid to:</h4>
<b><%= @payment.user.full_name %></b>
<p><%= user_formatted_address(@payment.user, "<BR/>") %></p>
<% @balance = 0.0 %>
<table>
  <tr>
    <th>Download Credit Redeemed At</th>
    <th>Redeemed By</th>
    <th>Download Credit Type</th>
    <th>Redeemed for Lesson</th>
    <th>Price Paid</th>
    <th>Credit</th>
    <th>Debit</th>
    <th>Account Balance</th>
  </tr>
  <%= render :partial => 'credit', :collection => @payment.credits.ascend_by_id, :locals => { :user => nil } %>
  <tr>
    <td><%= l @payment.created_at %></td>
    <td></td>
    <td>Payment #<%= @payment.id %></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= number_to_currency(@payment.amount * -1) %></td>
    <td><%= number_to_currency(0 * -1) %></td>
  </tr>
</table>