<% title "Search results for: &quot;#{@search_criteria}&quot;" -%>

<h3><%= "Search Results for: &quot;#{@search_criteria}&quot;" %></h3>

<% if @lessons.empty? and @groups.empty? and @users.empty? %>
  sorry, no results
<% end  %>

<% if @lessons.present? %>
  <div>
    <h4>Lessons (<%= @lessons.size %>)</h4>
    <%= render :partial => "lessons/v2/lessons", :object => @lessons, :locals => { :per_row => 5 } %>
  </div>
<% end %>

<% if @groups.present? %>
  <div>
    <h4>Public Groups (<%= @groups.size %>)</h4>
    <%= render :partial => 'groups/v2/groups', :collection => @groups %>
  </div>
<% end %>

<% if @users.present? %>
  <div>
    <h4>Firehoze Users (<%= @users.size %>)</h4>
    <%= render :partial => "users/v2/users", :collection => @users %>
  </div>
<% end %>
