<% title "Search results for: &quot;#{@search_criteria}&quot;" -%>

<h3><%= "Search Results for: &quot;#{@search_criteria}&quot;" %></h3>

<% if @lessons.empty? and @groups.empty? and @users.empty? %>
  sorry, no results
<% end  %>
<div id="search-results">
  <!-- the tabs -->
  <div class="tab-container">
    <ul class="tabs">
      <% if @lessons.present? %>
        <li><a href="#lessons">Lessons (<%= @lessons.size %>)</a></li>
      <% end %>

      <% if @groups.present? %>
        <li><a href="#groups">Groups (<%= @groups.size %>)</a></li>
      <% end %>

      <% if @users.present? %>
        <li><a href="#users">User (<%= @users.size %>)</a></li>
      <% end %>
    </ul>
  </div>

  <!-- tab "panes" -->
  <div class="panes">
    <% # LESSONS -%>
    <% if @lessons.present? %>
      <div>
        <%= render :partial => "lessons/v2/lessons_row_format", :object => @lessons %>
      </div>
    <% end %>

    <% # GROUPS -%>
    <% if @groups.present? %>
      <div>
        <%= render :partial => 'groups/v2/groups', :collection => @groups %>
      </div>
    <% end %>

    <% # USERS -%>
    <% if @users.present? %>
      <div>
        <%= render :partial => "users/v2/users", :collection => @users %>
      </div>
    <% end %>
  </div>
</div>
