<% title "Search results for: &quot;#{@search_criteria}&quot;" -%>

<h3><%= "Search Results for: &quot;#{@search_criteria}&quot;" %></h3>

<% if @lessons.empty? and @groups.empty? and @users.empty? %>
  no results
<% end  %>

<% if @lessons.present? %>
  <div>
    <h4>Lessons (<%= @lessons.size %>)</h4>
    <%= render :partial => "lessons/v2/lessons", :object => @lessons, :locals => { :per_row => 5 } %>
  </div>
<% end %>

<% if @groups.present? %>
  <div>
    <h4>Public Groups</h4>
    <table>
      <tr>
        <th colspan="2">Group</th>
        <th>Relationship</th>
        <th>Category</th>
      </tr>
      <%= render :partial => 'categories/group', :collection => @groups %>
    </table>
  </div>
<% end %>

<% if @users.present? %>
  <div>
    <h4>Firehoze Users</h4>
    <table>
      <tr>
        <th colspan="2">User</th>
        <th>Bio</th>
      </tr>
      <%= render :partial => "user", :collection => @users %>
    </table>
  </div>
<% end %>
