<%= render :partial => "shared/infield_head_content" %>

<%= stylesheet 'validation' %>
<%= javascript 'validate/jquery.validate', 'validate/lesson_comment.validate' %>

<% form_for :lesson_comment, :url => lesson_comment_path(@lesson_comment), :html => { :method => :put, :id => "lesson_comment" } do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Edit you comment of: <%= link_to @lesson_comment.lesson.title, lesson_path(@lesson_comment.lesson) %></legend>
    <% if current_user.is_moderator? %>
      Public: <%= f.check_box :public %>
    <% end %>
    <p>
      <%= f.label :body %><br />
      <%= f.text_area :body, :style => "width:520px;", :class => "required" %>
      <span class="help">(Format using *<b>bold</b>* and _<i>italics</i>_ text)</span>
    </p>
  </fieldset>
  <p>
    <%= f.submit "Add Comment", :class => "submit" %>
    <%= link_to "Cancel", lesson_path(@lesson_comment.lesson) %>
  </p>
<% end %>
