<% title "Comments for Lesson: #{ h(@lesson.title)}" -%>
<% @current = 'lessons' %>


<div id="lesson-comments-container">
  <div class="lesson-comment-header clearfix">

    <% if @style == 'tab' %>
        <%= show_discussion_text @lesson %>
    <% else %>
      <div class="span-9">
        <% unless @style == 'tab'%>
          <h3 class="header">Comments for Lesson: <%= link_to h(@lesson.title.titleize), lesson_path(@lesson, :anchor => :lesson_comment) %></h3>
        <% end %>
      </div>
      <div class="span-3 last right">
        <%= show_discussion_text @lesson %>
      </div>
    <% end %>
  </div>

  <div id="comments-container">
    <%= render :partial => 'comments/comment', :collection => @lesson_comments %>
  </div>

  <div>
    <% if @style == 'tab'%>
      <%= show_all_lesson_comments_link(@lesson, current_user) %>
    <% else %>
      <%= link_to "&laquo; Back to Lesson", lesson_path(@lesson, :anchor => :lesson_comment) %>
    <% end %>
  </div>
</div>

