<%= render :partial => "shared/infield_head_content" %>

<%= stylesheet 'validation' %>
<%= javascript 'validate/jquery.validate', 'validate/lesson_comment.validate' %>

<% form_for(:lesson_comment, :url => lesson_lesson_comments_url(@lesson), :html => { :class => "lesson_comment", :id => "lesson_comment" }) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Join the discussion for: <%= link_to @lesson.title, lesson_path(@lesson) %></legend>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :style => "width:530px;", :class => "required" %>
    <span class="help">(Format using *<b>bold</b>* and _<i>italics</i>_ text)</span>
  </p>
  </fieldset>
  <p>
    <%= f.submit "Submit", :class => "submit" %>
    <%= link_to "Cancel", lesson_path(@lesson) %>
  </p>
<% end %>
