Discounts for SKU <%= @sku.sku %>

<table>
  <tr>
    <th>Minimum Quantity</th>
    <th>Percent Discount</th>
    <th>Active</th>
    <th>Action</th>
  </tr>
  <%= render :partial => 'discount', :collection => @discounts %>
</table>

<p><%= link_to "New Discount", new_sku_discount_path(@sku) %> | <%= link_to "Back to SKUs", skus_path %></p>

<%= will_paginate @discounts %>