<% title "Edit Category &quot;#{h(@category.name)}&quot;" -%>

<%= javascript 'v2/validation/categories.validate.js' %>

<div class="fh-form">
  <% form_for :category, :url => category_path(@category), :html => { :method => :put, :id => 'edit_category' } do |f| %>
      <%= f.error_messages %>
      <ul id="flag-info" class="section">
        <li class="header">
          <span></span>

          <h3>
            Edit Category "<%= h(@category.name) %>"
          </h3>
          <h4>
            Categories allow you to group lessons and groups by subject area.
          </h4>
        </li>
        <li>
        <span>
          <%= f.label :name %>
          <%= f.text_field :name, :maxlength => "50", :title => "You must enter a category name", :class => "required" %>
          <span class="required-field"/>
        </span>

          <div class="counter"><span id="category_name_counter"></span> characters left</div>
        </li>
        <li>
        <span>
          <%= f.label :parent_category %>
          <%= f.collection_select(:parent_category_id, Category.by_parent_sort_value, :id,
                                  :name, { :include_blank => true }) %>
          <span class="required-field"/>
        </span>
        </li>
        <li>
        <span>
          <%= f.label :sort_value %>
          <%= f.text_field :sort_value, :class => "required" %>
          <span class="required-field"/>
        </span>
        </li>
        <li class="bottom">
        <span class="unlabelled">
          <%= f.submit 'Update' %>
          <%= link_to 'Cancel', list_admin_categories_path %>
        </span>

          <div class="clear"/>
        </li>
      </ul>
  <% end %>
</div>