<% title "Categories" -%>

<h3>Categories</h3>
<p><%= link_to "Explode Categories", explode_categories_path, :method => :post %></p>
<%= error_messages_for 'category' %>
<table>
  <tr>
    <th>Name</th>
    <th>Parent Category</th>
    <th>Sort Order</th>
    <th>Action</th>
  </tr>
  <tr>
    <% form_for :category, :url => categories_url(@category) do |f| %>
        <td>
          <%= f.text_field :name %>
        </td>

        <td>
          <%= f.collection_select(:parent_category_id, Category.ascend_by_compiled_sort, :id,
                                  :formatted_name, {:include_blank => true, :selected => nil}) %>
        </td>

        <td>
          <%= f.text_field :sort_value %>
        </td>

        <td><%= f.submit "Create", :disable_with => translate('general.disable_with') %></td>
    <% end %>
  </tr>
  <%= render @categories %>
</table>
<%= will_paginate @categories %>
<br />
Rows to Display Per Page: <%= per_page_select(list_admin_categories_path) %>