<% title "Browse by #{@category ? @category.name : 'All Categories'}" -%>

<% @current = 'lessons' %>

<div class="span-12 last">
  <%= render :partial => "categories/v2/breadcrumbs", :object => @category %>
  <div id="category-show" class="span-8">
    <div class="tab-container">
      <ul class="tabs">
        <% Category.sort_by_filters.each do |filter| %>
            <li><%= link_to filter.humanize, category_path(@category, :sort_by => filter).downcase, :class => "#{'current' if session[:browse_sort].to_s == filter.to_s}" %></li>
        <% end %>
      </ul>
      <!-- tab "panes" -->
      <div class="panes">
        <div class="clearfix">
          <% if @lessons.present? %>
              <%= render :partial => "lessons/v2/lessons", :object => @lessons %>
          <% else %>
              Looks like no one has created a lesson this category yet. Why not be the first to
              <%= link_to "create a lesson", new_lesson_path %>?
          <% end %>
        </div>
      </div>
      <!-- end panes -->
    </div>
    <!-- end tab-container -->
  </div>

  <div class="span-4 last">
    <div class="widget-box">
      <div class="widget-box-header">
        <span class="h4">Explore Firehoze Categories</span>
      </div>
      <div class="tree-view">
        <%= render :partial => "categories/v2/tree_view", :locals => { :category => @category, :sibling_categories => @sibling_categories } %>
      </div>

      <div class="widget-box-footer treeview"></div>
    </div>

    <div class="widget-box">
      <div class="widget-box-header">
        <span class="h4">Tags</span>
      </div>
      <div class="widget-box-content tags">
        <%= render :partial => "lessons/v2/tag_cloud", :object => Lesson.tag_counts(:order => 'name ASC') %>
      </div>
    </div>
  </div>
</div>
