<% title "Browse by #{@category ? @category.name : 'All Categories'}" -%>

<%= browse_category_navigation %>

<% form_tag category_path(@category ? @category : 'all'), :method => :get do %>
    <div>
      Sort By:
      <%= select_tag :sort_by, options_for_select(CategoriesController.sort_by, session[:browse_sort]), { :onchange => "submit();"} %>
    </div>
<% end %>
<div class="clear append-0 span-29" id="tagged_with_tabs">
  <div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
      <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
        <a href="#tabs-1"><%= "Browse by category &quot;#{@category ? @category.name : 'All Categories'}&quot;" %></a>
      </li>
    </ul>
    <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-1">
      <%= render :partial => "lessons/lessons", :collection => @lessons, :locals => { :lesson_format => @lesson_format, :collection => @collection } %>
    </div>
  </div>
</div>


<h3>Groups</h3>

<%= link_to "New Group", new_group_path %>
<table>
  <tr>
    <th colspan="2">Group</th>
    <th>Relationship</th>
    <th>Category</th>
  </tr>
  <%= render :partial => "categories/group", :collection => @groups %>
</table>

<%= will_paginate @groups %>