<% title "Browse Lessons by #{@category ? @category.name : 'All Categories'}" -%>

<% @current = 'lessons' %>

<div class="span-12 last">
  <%= render :partial => "categories/breadcrumbs", :object => @category, :locals => { :mode => "lessons" } %>

  <div id="category-show" class="span-8">
    <div class="tab-container">
      <ul class="tabs">
        <% Category.sort_by_filters.each do |filter| %>
            <li><%= link_to filter.humanize, category_path(@category, :sort_by => filter).downcase, :class => "#{'current' if cookies[:browse_sort].to_s == filter.to_s}" %></li>
        <% end %>
      </ul>
      <!-- tab "panes" -->
      <div class="panes">
        <div class="clearfix">
          <% if @lessons.present? %>
              <%= render :partial => "lessons/lesson_tns", :object => @lessons, :locals => { :per_row => 3 } %>
              <%= will_paginate @lessons %>
          <% else %>
              <div class="info">
                Looks like no one has created a lesson for this category yet. Why not be the first to
                <%= link_to "create a lesson", new_lesson_path %>?
              </div>
          <% end %>
        </div>
      </div>
      <!-- end panes -->
    </div>
    <!-- end tab-container -->
  </div>


  <div class="span-4 last">
    
    <div class="widget-box">
      <div class="widget-box-header">
        <span class="h4">Explore Firehoze Categories</span>
      </div>
      <div class="tree-view">
        <%= render :partial => "categories/tree_view", :locals => { :category => @category, :mode => "lessons" } %>
      </div>

      <div class="widget-box-footer treeview"></div>
    </div>

    <div class="widget-box">
      <div class="widget-box-header">
        <span class="h4">Suggest a Lesson</span>
      </div>
      <div class="widget-box-content tags">
        Can't find a lesson that meets your needs?
      </div>
      <div class="widget-box-content tags">
        <%= link_to content_tag(:span, "Suggest a Lesson Topic"), page_path("help_center", :anchor => "share-an-idea"), :class => 'large-button call-to-action' %>
      </div>
    </div>

    <% cache(Category.tag_cloud_cache_id("lesson", @category.id)) do %>
        <% if @tags.present? %>
            <div class="widget-box">
              <div class="widget-box-header">
                <span class="h4">Tags</span>
              </div>
              <div class="widget-box-content tags">
                <%= render :partial => "lessons/tag_cloud", :object => @tags %>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>

</div>
