<div class="span-4 left" id="top-banner-left">
  <div class="box banner">
    <h3>Current Prizes</h3>
    <p>View the current list of prizes that are being given away. Sort them to find out which ones you are most interested in.</p>
    <p class="banner-bottom-right">Go</p>
  </div>
</div>
<div class="span-4 middle" id="top-banner-middle">
  <div class="box banner">
    <h3>Current Contests</h3>
    <p>Check out our current and upcoming contests. Enter your videos or photos and you could be our next big winner</p>
    <p class="banner-bottom-right">Go</p>
  </div>
</div>
<div class="span-4 last" id="top-banner-right">
  <div class="box banner">
    <h3>Get 10,000 Prize Bucks</h3>
    <p>If you register now, we will instantly award you with 10,000 PrizeBucks. If you are already registered, you can also get this bounty by getting 3 of your friends to join PrizeTube.</p>
    <p class="banner-bottom-right">Go</p>
  </div>
</div>
<div class="span-8 left page-height">
  <%= will_paginate @most_popular_contests, :param_name => :most_popular_contests_page %>
</div>
<div class="span-8 left page-height">
  <%= will_paginate @upcoming_contests, :param_name => :upcoming_contests_page %>
</div>
<div class="span-8 left page-height">
  <%= will_paginate @branded_contests, :param_name => :branded_contests_page %>
</div>
<div class="span-8 left page-height">
  <%= will_paginate @ending_soon_contests, :param_name => :ending_soon_contests_page %>
</div>
<div class="span-4 last">
  <div class="widget-box">
    <div class="widget-box-header">
      <span class="h4">Category Quick List</span>
    </div>
    <div class="widget-box-content" id="category_quick_list">
      <ul>
        <%= render :partial => 'category_quick_list', :collection => @category_quick_list %>
      </ul>
    </div>
    <div class="widget-box-footer">
      <%= link_to "See all", "http://twitter.com/firehoze", :popup => true %>
    </div>
  </div>
</div>
<div class="span-4 last">
  <div class="widget-box">
    <div class="widget-box-header">
      <span class="h4">Your Friend Feed</span>
    </div>
    <div class="widget-box-content" id="your_friend_feed">
      <p>Connect with your social accounts to see what your friends have been up to on Prizetube!</p>
      <ul>
        <%= link_to image_tag('icons/48-facebook.png', :alt => "Become a Fan"), "http://www.facebook.com" %>
        Login with Facebook
      </ul>
      <ul>
        <%= link_to image_tag('icons/48-twitter.png', :alt => "Follow Us on Twitter"), "http://www.twitter.com" %>
        Connect with Twitter
      </ul>
      <ul>
        <%= link_to image_tag('icons/google-plus-black-24px.png', :alt => "Follow Us on Google"), "http://www.google.com" %>
        Connect with Google
      </ul>
    </div>
  </div>
</div>




