<tr class="<%= cycle("even", "odd") -%>">
  <td><%= h payment_level.name %></td>
  <td><%= h payment_level.code %></td>
  <td><%= number_to_percentage(100 * payment_level.rate, :precision => 1) %></td>
  <td><%= payment_level.default_payment_level %></td>
  <td><%= payment_level.admin_only %></td>
  <td><%= link_to 'Edit', edit_payment_level_path(payment_level) %></td>
</tr>
