<% activities = object %>

<div id="recent-activities">
  <div class="widget-box-content">
    <div class="filter_activity_by">
      <dl class="nav">
        <dt>View Activity:</dt>
        <dd><%= link_to_unless session[:browse_activities_by] == 'ALL', bold('by everybody', session[:browse_activities_by] == 'ALL'), my_firehoze_index_path %></dd>
        <dd><%= link_to_unless (session[:browse_activities_by] == 'BY_ME' or current_user.nil?), bold('by me', session[:browse_activities_by] == 'BY_ME'), my_firehoze_index_path(:browse_activities_by => 'BY_ME') %></dd>
        <dd><%= link_to_unless (session[:browse_activities_by] == 'ON_ME' or current_user.nil?), bold('on me', session[:browse_activities_by] == 'ON_ME'), my_firehoze_index_path(:browse_activities_by => 'ON_ME') %></dd>
        <dd><%= link_to_unless (session[:browse_activities_by] == 'BY_FOLLOWED' or current_user.nil?), bold("by instructors I'm following", session[:browse_activities_by] == 'BY_FOLLOWED'), my_firehoze_index_path(:browse_activities_by => 'BY_FOLLOWED') %></dd>
      </dl>
    </div>

    <div class="pager">
      <%= will_paginate activities %><%= image_tag("general/spinners/ajax-loader_small_spinner.gif", :class => "loader") %>
    </div>

    <ul class="activity-feed">
      <% if activities.empty? %>
        <li>Alas, no activity to report.</li>
      <% else %>
        <%= render :partial => 'activities/activity', :collection => activities %>
      <% end %>
    </ul>
  </div>

  <div class="widget-box-footer">
    <%= will_paginate activities %>
  </div>
</div>
