<% title "Review for Lesson: #{h(@review.lesson.title)}" -%>

<h4> Review for Lesson: <%= link_to h(@review.lesson.title), lesson_path(@review.lesson) %></h4>
<p>
  <%= label :headline, "headline" %><br />
  <%= h(@review.headline) %>
</p>

<p>
  <%= label :body, "Review" %> <br />
  <%= rbs_formatter @review.body %>
</p>

<p><%= link_to "Edit", edit_review_path(@review) if (current_user and current_user.is_a_moderator?) %> <%= link_to "Return to lesson", lesson_path(@review.lesson) %></p>
