<%= lesson = object %>
<tr>
  <td>
    <%= h lesson.title %>
  </td>
  <td>
    <%= h lesson.category.name %>
  </td>
  <td>
    <span id="<%= dom_id(lesson) -%>_average" class="average"><%= current_average(lesson) -%></span>
    (<span id="<%= dom_id(lesson) -%>_count"><%= vote_counts_phrase(lesson) -%></span>)
  </td>
  <td>
    <%= l(lesson.created_at) %>
  </td>
  <td>
    <%= lesson.credits.size %>
  </td>
  <td>
    <%= number_to_currency(lesson.credits.sum(:price)) %>
  </td>
</tr>