<ul>
  <li><%= link_to "Public Site", home_path %></li>
  <li><%= link_to "Users", list_users_path %></li>
  <li><%= link_to "Lessons", list_admin_lessons_path %></li>
  <li><%= link_to "Flags", flags_path %></li>
  <li><%= link_to "Jobs", periodic_jobs_path %></li>
  <li><%= link_to "Logons", user_logons_path %></li>
  <li><%= link_to "SKUs", skus_path %></li>
  <li><%= link_to "Payment Schedule", payment_levels_path %></li>
</ul> 
