<% review = object %>
<% if current_user %>
  <% unless review.user == current_user %>
    <div class="review_actions">
      <% if review.helpful?(current_user).nil? %>
        <span class="button-to">Was this review helpful to you?</span>
        <%= button_to t('general._yes'), helpfuls_path(:review_id => review, :helpful => 'yes'), :method => :post %>
        <%= button_to t('general._no'), helpfuls_path(:review_id => review, :helpful => 'no'), :method => :post %>
      <% else %>
        <%= review.helpful?(current_user) ? "(#{t('review.found_helpful')})" : "(#{t('review.found_unhelpful')})" %>
      <% end %>
    </div>
  <% end %>

<hr class="space" />
  <div>
    <% if review.can_edit? current_user %>
      <%= link_to "Edit", edit_review_path(review) %> |
    <% end %>

    <% unless review.status == REVIEW_STATUS_ACTIVE %>
      | Status: <%= review.status %> |
    <% end %>
  </div>

  <div>
    <% if current_user.has_flagged?(review) %>
      You have flagged this
    <% else %>
      <%= link_to "Flag", new_flag_path(:flagger_type => 'Review', :flagger_id => review) %>
    <% end %>
  </div>
<% end %>
