<p>
  <b><%= h review.title %> by <%= h review.user.login %> written on <%= l review.created_at %></b>
</p>
<p>
  <%= simple_format review.body %>
</p>
<p>
  I found this review helpful:
  <% if review.helpful?(current_user).nil? %>
      <%= link_to t('general._yes'), helpfuls_path(:review_id => review, :helpful => 'yes'), :method => :post %>
      &nbsp;
      <%= link_to t('general._no'), helpfuls_path(:review_id => review, :helpful => 'no'), :method => :post %>
  <% else %>
      <%= review.helpful?(current_user) ? t('general._yes') : t('general._no') %>
  <% end %>
  <% if review.can_edit? current_user %>
      <% if review.can_edit? current_user %>
          | <%= link_to "Edit", edit_review_path(review) %>
      <% end %>
  <% end %>
</p>
<hr/>