<% reviewer = review.user %>

<div class="review_container">

  <div class="span-5 review_left">
    <div class="review_instructor_avatar"><%= avatar_tag reviewer, :size => :medium %></div>
    <div><%= link_to_profile(reviewer) %></div>
    <div>Member Since:<br/><%= l(reviewer.created_at.to_date) %></div>
  </div>

  <div class="span-23 last review_right">
    <div class="helpful">
      <% unless review.helpfuls.empty? %>
        <%= review.helpfuls.helpful_yes.size %> of <%= review.helpfuls.size %> people found this review helpful:
      <% end %>
    </div>

    <div class="review_headline">
      <%= h review.headline %> by <%= h review.user.login %>
    </div>

    <div class="review_timestamp">
      written on <%= l review.created_at %>
    </div>

    <div>
      <%= rbs_formatter review.body %>
    </div>

    <div>
      <%= render :partial => 'reviews/actions', :object => review %>
    </div>
  </div>
</div>
<hr class="clear"/>
