<% reviewer = review.user %>

<div class="review">

  <div class="span-5 review_left">

    <div>
      <% if reviewer == current_user %>
        <div id="stars"><%= ratings_for(review.lesson, current_user, { :static => false }) %></div>
      <% else %>
        <%= ratings_for(review.lesson, reviewer, { :static => true } ) %>
      <% end %>
    </div>

    <div class="instructor_avatar"><%= avatar_tag reviewer, :size => :medium %></div>
    <div><%= link_to_profile(reviewer) %></div>
    <div>Member Since:<br/><%= l(reviewer.created_at.to_date) %></div>
  </div>

  <div class="span-23 last review_right">
    <div class="helpful_phrase" >
      <% unless review.helpfuls.empty? %>
        <%= review.helpfuls.helpful_yes.size %> of <%= review.helpfuls.size %> people found this review helpful
      <% end %>
    </div>

    <div class="headline h3">
      <%= h review.headline %>
    </div>

    <div class="timestamp">
      written on <%= l review.created_at %>
    </div>

    <div>
      <%= rbs_formatter review.body %>
    </div>

    <div class="actions">
      <%= render :partial => 'reviews/actions', :object => review %>
    </div>
  </div>
</div>
<hr class="clear"/>
