<%= render :partial => "shared/infield_head_content" %>

<%= stylesheet 'validation' %>
<%= javascript 'jquery.simplyCountable', 'validate/jquery.validate', 'validate/review.validate' %>

<% form_for :review, :url => review_path(@review), :html => { :method => :put, :id => "review" } do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Edit your Review of: <%= link_to @review.lesson.title, lesson_path(@review.lesson) %></legend>
    <p>
      <%= f.label :headline %><br />
      <%= f.text_field :headline, :maxlength => "100", :style => "width:520px;", :class => "required" %>
    <div class="counter"><span id="headline_counter"></span> characters left</div>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :style => "width:520px;", :class => "required" %>
    <span class="help">(Format using *<b>bold</b>* and _<i>italics</i>_ text)</span>
  </p>
  </fieldset>
  <p>
    <%= f.submit "Create review", :class => "submit" %>
    <%= link_to "Cancel", lesson_path(@review.lesson) %>
  </p>
<% end %>
