New Review for Lesson <%= @review.lesson.title %>

<% form_for :review, :url => review_path(@review), :html => { :method => :put } do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label 'Headline' %><br/>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :body %> <br/>
      <%= f.text_area :body %>
    </p>
    <p><%= f.submit "Submit", :disable_with => translate('general.disable_with') %></p>
<% end %>


<p><%= link_to "Cancel", lesson_reviews_path(@review.lesson) %></p>
