<% title "Reviews for &quot;#{h(@lesson.title)}&quot;" -%>
<% @current = 'lessons' %>
<div id="lesson-comments-container">
  <div class="clearfix">
    <% if @style == 'tab' %>
      <% content_tag :div, :class => "action right" do %>
        <%= show_review_text(@lesson, current_user) %>
      <% end if show_review_text(@lesson, current_user).present? -%>
    <% else %>
      <div class="span-8">
        <h3>Reviews for <%= t('lesson.Lesson') %>: <%= link_to h(@lesson.title.titleize), lesson_path(@lesson, :anchor => :reviews) %></h3>
      </div>

      <div class="span-4 last right">
        <%= content_tag(:div, show_review_text(@lesson, current_user)) %>
      </div>
    <% end %>
  </div>

  <%= render :partial => "lessons/review", :collection => @reviews %>

  <div>
    <% if @style == 'tab'%>
      <%= show_all_reviews_link(@lesson, current_user) %>
    <% else %>
      <%= link_to "&laquo; Back to #{t('lesson.Lesson')}", lesson_path(@lesson, :anchor => :reviews) %>
    <% end %>
  </div>
</div>
