<% title "Write a review for &quot;#{h(@lesson.title)}&quot;" -%>

<%= javascript 'v2/validation/review.validate' %>

<div class="fh-form">
  <% form_for(:review, :url => lesson_reviews_url(@lesson), :html => { :class => "review", :id => "review" }) do |f| %>
    <%= f.error_messages %>
    <ul id="review-info" class="section">
      <li class="header">
        <span></span>

        <h3>Write a review for <%= link_to h(@lesson.title), lesson_path(@lesson) %></h3>
        <h4>Help the Firehoze community by writing a review for this lesson.</h4>
      </li>
      <li>
        <span>
          <%= f.label "Average Rating" %>
          <div id="rating_container">
            <%= lesson_rating_for(@lesson, current_user) -%>
            <div id="rating_average">
              <span id="<%= dom_id(@lesson) -%>_average" class="average"><%= current_average(@lesson) -%></span>
              (<span id="<%= dom_id(@lesson) -%>_count"><%= vote_counts_phrase(@lesson) -%></span>)
            </div>
          </div>
          <span class="required-field"></span>
        </span>
      </li>
      <li>
        <span>
          <%= f.label :headline %>
          <%= f.text_field :headline, :maxlength => "100", :title => "You must provide a headline for your review", :class => "required" %>
          <span class="required-field"></span>
        </span>

        <div class="counter"><span id="headline_counter"></span> characters left</div>
      </li>
      <li>
        <span>
          <%= f.label :body %>
          <%= f.text_area :body, :title => "You must provide the text of your review", :class => "required" %>
          <span class="required-field"></span>
        </span>

        <span class="help">(Format using *<b>bold</b>* and _<i>italics</i>_ text)</span>
      </li>
      <li class="bottom">
        <span class="unlabelled">
          <%= f.submit "Create" %>
          <%= link_to "Cancel", lesson_path(@lesson) %>
        </span>

        <div class="clear" />

      </li>
    </ul>
  <% end %>
</div>