<% reviewer = review.user %>

<div class="review">

  <%= render :partial => "lessons/lesson_image_block", :object => review.lesson %>

  <div class="prepend-6 last review_right">
    <div class="helpful_phrase">
      <% unless review.helpfuls.empty? %>
          <%= review.helpfuls.helpful_yes.size %> of <%= review.helpfuls.size %> people found this review helpful
      <% end %>
    </div>

    <div class="headline h3">
      "<%= h review.headline %>" for the lesson "<%= h review.lesson.title %>"
    </div>

    <div class="timestamp">
      written on <%= l review.created_at %>
    </div>

    <div>
      <%= rbs_formatter review.body %>
    </div>

    <div class="actions">
      <%= render :partial => 'reviews/actions', :object => review %>
    </div>
  </div>
</div>
<hr class="clear"/>
