<% reviewer = review.user %>
<div class="review clearfix">
  <div class="span-2">
    <div><%= img_tag_lesson_tn(review.lesson, :small) %></div>
  </div>

  <div class="span-10 last">
    <span class="title h4"><%= h review.lesson.title %></span>
    <% unless review.helpfuls.empty? %>
      <span class="helpful_phrase">&mdash;<%= review.helpfuls.helpful_yes.size %> of <%= review.helpfuls.size %> people found this review helpful</span>
    <% end %>

    <%= ratings_for(review.lesson, reviewer, { :static => true } ) %>

    <span class="headline h5">&quot;<%= h review.headline %>&quot;</span><span class="timestamp">&mdash;written on <%= l review.created_at %></span><br />
    <div class="review-body"><%= rbs_formatter review.body %></div>

    <div class="actions"><%= render :partial => 'reviews/v2/actions', :object => review %></div>
  </div>
</div>
