<% title "Sign In" -%>
<%= javascript 'always_at_bottom', 'footer' %>
<%= render :partial => "shared/infield_head_content" %>

<div class="span-23">
  <% form_for @user_session, :url => user_session_url(:protocol => SECURE_PROTOCOL), :html => {'accept-charset' => "utf-8", :id => "inline", :class => "login" } do |f| %>
    <%= f.error_messages %>
    <fieldset>
      <legend>Sign In</legend>
      <p>
        <%= f.label :login, :Username %><br />
        <%= f.text_field :login %>
      </p>
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </p>
      <%= f.check_box :remember_me %>
      <label for="user_session_remember_me">Remember Me</label>
    </fieldset>

    <p>
      <%= f.submit "Login", :disable_with => translate('general.disable_with') %>
      <%= link_to "Forgot password?", new_password_reset_path %>
    </p>
  <% end %>
</div>

<div class="span-17 last">
  <h3>Don't have an account yet?</h3>
  <%= link_to "Create one for free", new_registration_path %>
</div>
