<% title "edit account: #{@user.name_or_username}" %>

<% content_for :head do -%>
    <%= javascript_include_tag 'validate/jquery.validate.js', 'validate/account.setting.validate.js' %>
<% end %>

<%= render :partial => "shared/infield_head_content" %>

<h3><%= h(t('user.account_settings')) %></h3>
<div id="account_settings_tabs">
  <ul>
    <li><a href="#tabs-1"><%= h(t('user.profile')) %></a></li>
    <li><a href="#tabs-2"><%= h(t('user.password')) %></a></li>
    <li><a href="#tabs-3"><%= h(t('user.author_info')) %></a></li>
    <li><a href="#tabs-4"><%= h(t('user.avatar')) %></a></li>
    <li><a href="#tabs-5"><%= h(t('user.privacy')) %></a></li>
    <li><a href="#tabs-6"><%= h(t('user.credit_history')) %></a></li>
    <li><a href="#tabs-7"><%= h(t('user.order_history')) %></a></li>
    <% if current_user.verified_instructor? %>
        <li><a href="#tabs-8"><%= t'user.payment_history' %></a></li>
    <% end %>
  </ul>
  <div id="tabs-1"><%= render :partial => "accounts/forms/profile" %></div>
  <div id="tabs-2"><%= render :partial => "accounts/forms/password" %></div>
  <div id="tabs-3"><%= render :partial => "accounts/forms/instructor" %></div>
  <div id="tabs-4"><%= render :partial => "accounts/forms/avatar" %></div>
  <div id="tabs-5"><%= render :partial => "accounts/forms/privacy" %></div>
  <div id="tabs-6"><%= render :partial => "accounts/forms/credit_history" %></div>
  <div id="tabs-7"><%= render :partial => "accounts/forms/order_history" %></div>
  <% if current_user.verified_instructor? %>
      <div id="tabs-8"><%= render :partial => "accounts/forms/payment_history" %></div>
  <% end %>
</div>
