<% title "editing #{@user.name_or_username}'s account" %>

<%= javascript 'v2/validation/accounts.validate.js' %>

<h3><%= h(t('user.account_settings')) %></h3>


<div class="span-12">
  <div class="tab-container non-ajaxed-lessons">
    <ul class="tabs">
      <li>
        <%= link_to h(t('user.profile')), edit_account_path(current_user) %>
      </li>
      <li>
        <%= link_to h(t('user.password')), edit_password_path(current_user) %>
      </li>
      <li>
        <%= link_to h(t('user.author_info')), edit_author_account_path(current_user) %>
      </li>
      <li>
        <%= link_to h(t('user.avatar')), edit_avatar_account_path(current_user) %>
      </li>
      <li>
        <a href="#tabs-1" class="current"><%= h(t('user.privacy')) %></a>
      </li>
    </ul>
  </div>
</div>

<%= render :partial => "accounts/forms/privacy" %>
