<% title "editing #{@user.name_or_username}'s account" %>
<% @current = 'my_firehoze' %>

<%= javascript 'v2/validation/accounts.validate.js' %>

<h3><%= h(t('user.account_settings')) %></h3>

<div class="span-12">
  <div class="tab-container with-blue-panes">
    <ul class="tabs">
      <li><a href="#tabs-1" class="current"><%= h(t('user.profile')) %></a></li>
      <li><%= link_to h(t('user.password')), edit_password_path(current_user) %></li>
      <li><%= link_to h(t('user.author_info')), edit_instructor_account_path(current_user) %></li>
      <li><%= link_to h(t('user.avatar')), edit_avatar_account_path(current_user) %></li>
      <li><%= link_to h(t('user.privacy')), edit_privacy_account_path(current_user) %></li>
    </ul>

    <div class="panes">
      <div id="interior-pane" class='clearfix'>
        <%= render :partial => "accounts/forms/profile" %>
      </div>
    </div>
  </div>
</div>
