<h2>Instructor Enrollment Wizard</h2>
<%= instructor_wizard_breadcrumbs 1 %>
<br/>
<br/>
<% form_for(:user, :url => update_instructor_wizard_account_url(@user, :protocol => SECURE_PROTOCOL), :html => { :method => :put, :id => "author" }) do |f| %>
    <%= f.error_messages %>
    <%= hidden_field_tag :step, "1" %>
    <fieldset>
      <legend>Author Agreement</legend>
      <div id="instructor_agreement">
        <%= render :partial => 'pages/policies/instructor_agreement' %>
      </div>
      <p>
        <b>
          <% if @user.author_agreement_accepted_on.nil? %>
              By checking this box I hereby agreement to be bound by the terms of this agreement
              <%= check_box_tag :accept_agreement %>
          <% else %>
              Accepted on: <%= l @user.author_agreement_accepted_on %>
          <% end %>
        </b>
      </p>
    </fieldset>
    <p>
      <% if @user.author_agreement_accepted_on %>
          <%= link_to "Next", instructor_wizard_step2_account_path(current_user) %>
      <% else %>
          <%= f.submit "Next", :disable_with => translate('general.disable_with') %>
      <% end %>
          <%= link_to 'Cancel', edit_account_path(current_user) %>
    </p>
<% end %>