<% title "#{t('lesson.instructor').capitalize}'s Agreement, Step 5" -%>
<%= render :partial => "shared/infield_head_content" %>

<h3><%= t('lesson.instructor').capitalize %> Enrollment Wizard</h3>
<%= render :partial => 'breadcrumbs', :locals => { :step => 5 } %>
<% form_for(:user, :url => update_instructor_wizard_account_url(@user, :protocol => SECURE_PROTOCOL), :html => { :method => :put, :id => "author" }) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :step, "5" %>
  <fieldset>
    <legend>Tax Withholding</legend>
    <p>That's it! You are now a <%= t('general.company') %> <%= t('lesson.instructor') %>. Congratulations!</p>

    <p>One last thing&#0133;Uncle Sam requires that you pay your taxes. You have two choices:</p>
    <ol>
      <li>
        Do nothing&#0133;we'll automatically withhold the required taxes from your sales and pay the required taxes
        directly to the IRS.
      </li>
      <li>
        Fill out the IRS <%= link_to "W9 form", "http://www.irs.gov/pub/irs-pdf/fw9.pdf" %>, sign it and email to
        <a href="javascript:location='mailto:\u0077\u0039\u0040\u0066\u0069\u0072\u0065\u0068\u006f\u007a\u0065\u002e\u0063\u006f\u006d';void 0"><script type="text/javascript">document.write('\u0077\u0039\u0040\u0066\u0069\u0072\u0065\u0068\u006f\u007a\u0065\u002e\u0063\u006f\u006d')</script></a>
        or fax it to 1.208.728.9313. In doing so, you are taking responsibility for paying any required
        taxes, and <%= t('general.company') %> will not withhold any taxes from the money owed to you.
      </li>
    </ol>
    <p>The choice is yours.</p>

    <p>Happy teaching!</p>
  </fieldset>
  <p class="actions">
    <%= link_to "&laquo; Back", instructor_wizard_step4_account_path(current_user), :class => "mr-10" %>
    <%= link_to content_tag(:span, 'DONE'), edit_account_path(current_user), :class => 'minibutton' %>
  </p>
<% end %>
