<% title "Coach Agreement, Step 2" -%>
<%= render :partial => "shared/infield_head_content" %>

<h3>Coach Enrollment Wizard</h3>
<%= render :partial => 'breadcrumbs', :locals => { :step => 2 } %>
<% form_for(:user, :url => update_instructor_wizard_account_url(@user, :protocol => SECURE_PROTOCOL), :html => { :method => :put, :id => "author" }) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :step, "2" %>
  <fieldset>
    <legend>Exclusivity</legend>
    <p>
      Coaches who choose to make their content available exclusively on <%= t('general.company') %> receive a greater percentage
      of the revenues whenever a user purchases one of their videos. However, in agreeing to make your content
      available exclusively on <%= t('general.company') %>, you are agreeing not to distribute your videos by other means.
    </p>

    <p>
      Exclusive providers earn
      <%= number_to_percentage(100 * PaymentLevel.find_by_default_payment_level(true).rate, :precision => 1) %>
      of each sale.
      <% if PaymentLevel.find_by_default_payment_level(false) %>
      While non-exclusive providers earn
      <%= number_to_percentage(100 * PaymentLevel.find_by_default_payment_level(false).rate, :precision => 1) %>
      of each sale.
      <% end %>
    </p>

    <p>
      The choice is yours&#0133;but choose carefully. Once you start posting lessons to <%= t('general.company') %>, you will be
      limited in your ability to change your mind.
    </p>

    <p>
      <% if @user.payment_level and !@user.instructed_lessons.empty? %>
        <b>You have chosen "<%= h(@user.payment_level.name) %>"</b>
        (pays at <%= number_to_percentage(100 * @user.payment_level.rate, :precision => 1) %>)
      <% else %>
        <%= f.select :payment_level, options_from_collection_for_select(PaymentLevel.admin_only_is(false).ascend_by_name, 'id', 'name',
          (@user.payment_level ? @user.payment_level.id : PaymentLevel.find_by_default_payment_level(true).id)) %>
      <% end %>
    </p>

  </fieldset>
  <%# if !@user.payment_level or @user.instructed_lessons.empty? %>
    <p>
      <%= f.submit "Next", :disable_with => translate('general.disable_with') %>
      <span  class="actions">
        <%= link_to "&laquo; Back", instructor_wizard_step1_account_path(current_user), :class => "ml-10" %> |
        <%= link_to 'Cancel', edit_account_path(current_user) %>
      </span>
    </p>
  <%# end %>
<% end %>
