<% title "Instructor Agreement, Step 2" -%>

<%= javascript 'v2/validation/accounts.validate.js' %>

<%= render :partial => 'breadcrumbs', :locals => { :step => 2 } %>

<div class="fh-form">
  <% form_for(:user, :url => update_instructor_wizard_account_url(@user, :protocol => SECURE_PROTOCOL), :html => { :method => :put, :id => "author" }) do |f| %>
      <%= f.error_messages %>
      <%= hidden_field_tag :step, "2" %>
      <ul id="wizard2-info" class="section">
        <li class="header">
          <span></span>

          <h3>Exclusivity (Step 2 of 5)</h3>
          <h4>Instructors who choose to make their content available exclusively on Firehoze receive a greater
            percentage
            of the revenues whenever a user purchases one of their videos. However, in agreeing to make your content
            available exclusively on Firehoze, you are agreeing not to distribute your videos by other means.</h4>
          <h4>
            Exclusive providers earn
            <%= number_to_percentage(100 * PaymentLevel.find_by_default_payment_level(true).rate, :precision => 1) %>
            of each sale.
            <% if PaymentLevel.find_by_default_payment_level(false) %>
                While non-exclusive providers earn
                <%= number_to_percentage(100 * PaymentLevel.find_by_default_payment_level(false).rate, :precision => 1) %>
                of each sale.
            <% end %></h4>
          <h4>
            The choice is yours...but choose carefully. Once you start posting lessons to Firehoze, you will be
            limited in your ability to change your mind.</h4>
        </li>

        <li>
        <span>
          <% if @user.payment_level and !@user.instructed_lessons.empty? %>
              <b>You have chosen "<%= h(@user.payment_level.name) %>"</b>
              (pays at <%= number_to_percentage(100 * @user.payment_level.rate, :precision => 1) %>)
          <% else %>
          <%= f.label :payment_level, "Exclusivity" %>
              <%= f.select :payment_level, options_from_collection_for_select(PaymentLevel.admin_only_is(false).ascend_by_name, 'id', 'name',
                                                                              (@user.payment_level ? @user.payment_level.id : PaymentLevel.find_by_default_payment_level(true).id)),
                           :class => 'required' %>
              <span class="required-field"></span>
          <% end %>
            </span>
        </li>
        <li class="bottom">
        <span class="unlabelled">
          <% if @user.payment_level %>
              <%= link_to content_tag(:span, 'Next &raquo;'), instructor_wizard_step3_account_path(current_user), :class => 'minibutton call-to-action' %>
              <% else %>
          <%= f.submit "Next", :disable_with => translate('general.disable_with') %>
              <% end %>
          <%= link_to "&laquo; Back", instructor_wizard_step1_account_path(current_user), :class => "ml-10" %> |
          <%= link_to 'Cancel', edit_account_path(current_user) %>
        </span>

          <div class="clear"/>
        </li>
      </ul>
      </p>
  <% end %>
</div>