<% title "#{t('lesson.instructor').capitalize}'s Agreement, Step 5" -%>
<%= render :partial => "shared/infield_head_content" %>

<h3><%= t('lesson.instructor').capitalize %> Enrollment Wizard</h3>
<%= render :partial => 'breadcrumbs', :locals => { :step => 5 } %>
<% form_for(:user, :url => update_instructor_wizard_account_url(@user, :protocol => SECURE_PROTOCOL), :html => { :method => :put, :id => "author" }) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :step, "5" %>
  <fieldset>
    <legend>Your Venture</legend>
    <p>That's it! You are now registered with  <%= t('general.company') %>. Congratulations!</p>

    <p>To register your venture with CRI:</p>
    <ol>
      <li>
        Click on the done button.  You will be taken to the Venture Info tab.
      </li>
      <li>
        Fill out the form and click submit.  A public and private group will be created for you with your venture name
        and placeholder entries for you to publish videos on your team, product and market strategy!
      </li>
      <li>
        If you asked for a mentor, CRI will contact you.
      </li>
      <li>
        If you don't want to fill out the venture information tab now, you can always get to it by clicking on the My CRI tab and then the Create Venture button.
      </li>
    </ol>

    <p>Good Luck!</p>
  </fieldset>
  <p class="actions">
    <%= link_to "Back", instructor_wizard_step4_account_path(current_user), :class => "mr-10" %>
    <%= link_to content_tag(:span, 'DONE'), edit_venture_account_path(current_user), :class => 'minibutton' %>
  </p>
<% end %>
