<% title "Create Venture" -%>

<% content_for :footer do -%>
    <%= javascript_include_tag 'validation/venture.validate.js' -%>
<% end -%>

<div class="fh-form">

  <% form_for(:user, :url => create_venture_account_url(@user, :protocol => SECURE_PROTOCOL), :html => { :method => :put, :id => "author" }) do |f| %>
      <%= f.error_messages %>
      <ul id="instructor-info" class="section">
        <li class="header">
          <span></span>
          <h3>Description</h3>
          <h4>Tell us more about your venture and the industry you are in.</h4>
        </li>
        <li>
      <span>
        <%= f.label :venture_name %>
        <%= f.text_field :venture_name, :maxlength => "255" %>
      </span>
          <div class="counter"><span id="user_venture_name_counter"></span> characters left</div>
        </li>
        <li>
        <span>
            <%= f.label :description %>
            <%= f.text_area :description, :maxlength => "1000" %>
        </span>
          <div class="counter"><span id="user_description_counter"></span> characters left</div>
        </li>
        <li>
        <span>
          <%= f.label(:venture_category_id, "Category") %>
          <%= f.collection_select(:venture_category_id, Category.order("compiled_sort ASC"), :id, :formatted_name, {:include_blank => 'Select...'}, :class => "required") %>
          <span class="required-field"></span>
        </span>
        </li>
        <li>
      <span>
        <%= f.label :development_stage %>
        <%= f.select(:development_stage,
                     [
                             ['Idea', :IDEA],
                             ['Prototype', :PROTOTYPE],
                             ['Alpha', :ALPHA],
                             ['Beta', :BETA],
                             ['Production', :PRODUCTION]
                     ]) %>
      </span>
        </li>
        <li>
      <span>
        <%= f.label :finance_stage %>
        <%= f.select(:finance_stage,
                     [
                             ['Pre Seed', :PRE_SEED],
                             ['Seed', :SEED],
                             ['Round A', :ROUND_A],
                             ['Past Round A', :ROUND_A_PLUS]
                     ]) %>
      </span>
        </li>
        <li>
      <span>
        <%= f.label :website_URL %>
        <%= f.text_field :website_URL, :maxlength => "255" %>
      </span>
          <div class="counter"><span id="user_website_URL_counter"></span> characters left</div>
        </li>
        <li>
      <span>
        <%= f.label :need_mentor, "&nbsp;" %>
        <%= f.check_box :need_mentor %>I am looking for a mentor
      </span>
        </li>
        <li>
      <span>
        <%= f.label :has_customer, "&nbsp;" %>
        <%= f.check_box :has_customer %>I have a customer
      </span>
        </li>
        <li>
      <span>
        <%= f.label :is_paying_customer, "&nbsp;" %>
        <%= f.check_box :is_paying_customer %>Paying customer
      </span>
        </li>

        <li class="bottom">
      <span class="unlabelled">
        <%= f.submit "Update", :id => "create_venture" %>
        <%= link_to 'Cancel', home_path %> |
      </span>

          <div class="clear"/>
        </li>
      </ul>
  <% end %>
</div>

